---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n    <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n    <xmlQuery>          <![CDATA[\n
        \                        <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n              <Criterion>\n
        \               <Criteria>\n                              <Criterion>\n              <TextSearch>\n
        \               <QueryPredicate>(\"Edler,Alice\" or \"Edler,A\" or \"Edler,Alice,Jim\"
        or \"Edler,Alice,J\" or \"Edler,A,J\") and \"stanford\"</QueryPredicate>\n
        \               <SearchType>ExactMatch</SearchType>\n                <Columns>AggregateText</Columns>\n
        \               <MaximumRows>200</MaximumRows>\n              </TextSearch>\n
        \           </Criterion>\n\n                              <Criterion>\n              <Filter>\n
        \               <Column>AuthorLastName</Column>\n                <Operator>BeginsWith</Operator>\n
        \               <Value>EDLER</Value>\n              </Filter>\n            </Criterion>\n\n
        \                             <Criterion>\n              <Filter>\n                <Column>AuthorFirstName</Column>\n
        \               <Operator>BeginsWith</Operator>\n                <Value>A</Value>\n
        \             </Filter>\n            </Criterion>\n\n                  \n
        \                 \n                              <Criterion>\n              <Filter>\n
        \               <Column>DocumentCategory</Column>\n                <Operator>In</Operator>\n
        \               <Values>\n                  <Value>Journal Document</Value>\n
        \                 <Value>Conference Proceeding Document</Value>\n                </Values>\n
        \             </Filter>\n            </Criterion>\n\n                </Criteria>\n
        \             </Criterion>\n                          <Columns>\n              <SortColumn>\n
        \               <Column>Rank</Column>\n                <Direction>Descending</Direction>\n
        \             </SortColumn>\n            </Columns>\n\n              <MaximumRows>200</MaximumRows>\n
        \           </query>\n\n            ]]>\n</xmlQuery>\n    </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>243446</queryID>\r\n
        \ <queryResultRows>16</queryResultRows>\r\n  <totalRows>16</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 13 Nov 2017 20:58:17 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/243446?format=xml&page=0&pageSize=16&v=version/4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>32298537</PublicationItemID>\r\n    <Title>Paradigm
        Consciousness: A New Approach to Understanding Anesthesia Knowledge and Education</Title>\r\n
        \   <Abstract />\r\n    <AuthorList>Edler,Alice,A</AuthorList>\r\n    <AuthorCount>1</AuthorCount>\r\n
        \   <KeywordList />\r\n    <DocumentTypeList>Letter</DocumentTypeList>\r\n
        \   <DocumentCategory>Journal Document</DocumentCategory>\r\n    <NumberOfReferences>4</NumberOfReferences>\r\n
        \   <TimesCited>0</TimesCited>\r\n    <TimesNotSelfCited>0</TimesNotSelfCited>\r\n
        \   <PMID>20029255</PMID>\r\n    <WoSItemID>000270210100035</WoSItemID>\r\n
        \   <PublicationSourceTitle>ANESTHESIOLOGY</PublicationSourceTitle>\r\n    <Volume>111</Volume>\r\n
        \   <Issue>4</Issue>\r\n    <Pagination>920-920</Pagination>\r\n    <PublicationDate>2009-10-01T00:00:00</PublicationDate>\r\n
        \   <PublicationYear>2009</PublicationYear>\r\n    <PublicationType>Journal</PublicationType>\r\n
        \   <PublicationSubjectCategoryList>Anesthesiology</PublicationSubjectCategoryList>\r\n
        \   <ISSN>0003-3022</ISSN>\r\n    <ConferenceStartDate xsi:nil=\"true\" />\r\n
        \   <ConferenceEndDate xsi:nil=\"true\" />\r\n    <Rank>144</Rank>\r\n    <OrdinalRank>0</OrdinalRank>\r\n
        \   <NormalizedRank>100</NormalizedRank>\r\n    <NewPublicationItemID xsi:nil=\"true\"
        />\r\n    <IsObsolete>false</IsObsolete>\r\n    <CopyrightPublisher>LIPPINCOTT
        WILLIAMS &amp; WILKINS</CopyrightPublisher>\r\n    <CopyrightCity>PHILADELPHIA</CopyrightCity>\r\n
        \   <PublicationImpactFactorList>5.354,2009,ExactPublicationYear|6.168,2013,MostRecentYear</PublicationImpactFactorList>\r\n
        \   <PublicationCategoryRankingList>2/25;ANESTHESIOLOGY;2009;SC;ExactPublicationYear|1/29;ANESTHESIOLOGY;2013;SC;MostRecentYear</PublicationCategoryRankingList>\r\n
        \   <AuthorCitationCountList>1,0,0</AuthorCitationCountList>\r\n    <CopyrightStateProvince>PA</CopyrightStateProvince>\r\n
        \   <CopyrightCountry>UNITED STATES</CopyrightCountry>\r\n  </PublicationItem>\r\n
        \ <PublicationItem>\r\n    <PublicationItemID>31222988</PublicationItemID>\r\n
        \   <Title>A case series of airway management for wireless capsule endoscopy
        in pediatric patients</Title>\r\n    <Abstract />\r\n    <AuthorList>Edler,Alice,|Claure,Rebecca,</AuthorList>\r\n
        \   <AuthorCount>2</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Letter</DocumentTypeList>\r\n
        \   <DocumentCategory>Journal Document</DocumentCategory>\r\n    <NumberOfReferences>0</NumberOfReferences>\r\n
        \   <TimesCited>0</TimesCited>\r\n    <TimesNotSelfCited>0</TimesNotSelfCited>\r\n
        \   <PMID>19335353</PMID>\r\n    <WoSItemID>000264165900021</WoSItemID>\r\n
        \   <PublicationSourceTitle>PEDIATRIC ANESTHESIA</PublicationSourceTitle>\r\n
        \   <Volume>19</Volume>\r\n    <Issue>4</Issue>\r\n    <Pagination>406-407</Pagination>\r\n
        \   <PublicationDate>2009-04-01T00:00:00</PublicationDate>\r\n    <PublicationYear>2009</PublicationYear>\r\n
        \   <PublicationType>Journal</PublicationType>\r\n    <PublicationSubjectCategoryList>Anesthesiology|Pediatrics</PublicationSubjectCategoryList>\r\n
        \   <ISSN>1155-5645</ISSN>\r\n    <DOI>10.1111/j.1460-9592.2009.02945.x</DOI>\r\n
        \   <ConferenceStartDate xsi:nil=\"true\" />\r\n    <ConferenceEndDate xsi:nil=\"true\"
        />\r\n    <Rank>144</Rank>\r\n    <OrdinalRank>1</OrdinalRank>\r\n    <NormalizedRank>100</NormalizedRank>\r\n
        \   <NewPublicationItemID xsi:nil=\"true\" />\r\n    <IsObsolete>false</IsObsolete>\r\n
        \   <CopyrightPublisher>WILEY-BLACKWELL</CopyrightPublisher>\r\n    <CopyrightCity>HOBOKEN</CopyrightCity>\r\n
        \   <PublicationImp[...]
[...]
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationItems?format=xml&publicationItemIDs=46946372,46558063,844542,47593787,54661564,46795732,7877232,5199247
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
 [...]
- request:
    method: post
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?api_key=a_fake_pubmed_key&db=pubmed&retmode=xml
    body:
      encoding: UTF-8
      string: "&id=21975722&id=21134139&id=20386227&id=20046456&id=19088623&id=16517323&id=14617124&id=17377083"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Phid:
      - 990CDBC0A0A040610000000001400138
      Ncbi-Sid:
      - 990CDBC0A0A07A11_0320SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" ?>
        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January 2017//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_170101.dtd">
        <PubmedArticleSet>
        <PubmedArticle>
            <MedlineCitation Status="PubMed-not-MEDLINE" Owner="NLM">
                <PMID Version="1">21975722</PMID>
                <DateCreated>
                    <Year>2011</Year>
                    <Month>10</Month>
                    <Day>06</Day>
                </DateCreated>
                <DateCompleted>
                    <Year>2011</Year>
                    <Month>11</Month>
                    <Day>10</Day>
                </DateCompleted>
                <DateRevised>
                    <Year>2017</Year>
                    <Month>02</Month>
                    <Day>20</Day>
                </DateRevised>
                <Article PubModel="Print">
                    <Journal>
                        <ISSN IssnType="Print">1949-8349</ISSN>
                        <JournalIssue CitedMedium="Print">
                            <Volume>1</Volume>
                            <Issue>1</Issue>
                            <PubDate>
                                <Year>2009</Year>
                                <Month>Sep</Month>
                            </PubDate>
                        </JournalIssue>
                        <Title>Journal of graduate medical education</Title>
                        <ISOAbbreviation>J Grad Med Educ</ISOAbbreviation>
                    </Journal>
                    <ArticleTitle>Building faculty community: fellowship in graduate medical education administration.</ArticleTitle>
                    <Pagination>
                        <MedlinePgn>146-9</MedlinePgn>
                    </Pagination>
                    <ELocationID EIdType="doi" ValidYN="Y">10.4300/01.01.0024</ELocationID>
                    <Abstract>
                        <AbstractText Label="INTRODUCTION" NlmCategory="BACKGROUND">The Department of Graduate Medical Education at Stanford Hospital and Clinics has developed a professional training program for program directors. This paper outlines the goals, structure, and expected outcomes for the one-year Fellowship in Graduate Medical Education Administration program.</AbstractText>
                        <AbstractText Label="BACKGROUND" NlmCategory="BACKGROUND">The skills necessary for leading a successful Accreditation Coun[...]
