---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=1Y&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '48864'
      X-Req-Reqpersec-Remaining:
      - '1'
      Correlation-Id:
      - 68a79715-661b-419c-bf62-a1b622c0c8b9#58835127
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<response
        xmlns=\"http://www.isinet.com/xrpc42\">\n    <map>\n        <map name=\"Data\">\n
        \           <val name=\"Records\"><![CDATA[<records><REC r_id_disclaimer=\"ResearcherID
        data provided by Clarivate Analytics\"><UID>WOS:000938931000001</UID><static_data><summary><EWUID><WUID
        coll_id=\"WOS\" /><edition value=\"WOS.SCI\" /></EWUID><pub_info sortdate=\"2023-02-01\"
        pubyear=\"2023\" has_abstract=\"Y\" has_citation_context=\"Y\" coverdate=\"FEB
        2023\" pubmonth=\"FEB\" vol=\"13\" issue=\"2\" pubtype=\"Journal\" journal_oas_gold=\"Y\"><page
        page_count=\"23\" /></pub_info><titles count=\"6\"><title type=\"source\">BIOMOLECULES</title><title
        type=\"source_abbrev\">BIOMOLECULES</title><title type=\"abbrev_iso\">Biomolecules</title><title
        type=\"abbrev_11\">BIOMOLECULE</title><title type=\"abbrev_29\">BIOMOLECULES</title><title
        type=\"item\">Using GPT-3 to Build a Lexicon of Drugs of Abuse Synonyms for
        Social Media Pharmacovigilance</title></titles><names count=\"2\"><name seq_no=\"1\"
        role=\"author\" addr_no=\"1\" r_id=\"DUU-7799-2022\" orcid_id=\"0000-0003-4570-5170\"
        daisng_id=\"15118200\" claim_status=\"false\"><display_name>Carpenter, Kristy
        A.</display_name><preferred_name><full_name>Carpenter, Kristy A.</full_name><first_name>Kristy
        A.</first_name><last_name>Carpenter</last_name></preferred_name><full_name>Carpenter,
        Kristy A.</full_name><wos_standard>Carpenter, KA</wos_standard><first_name>Kristy
        A.</first_name><last_name>Carpenter</last_name><data-item-ids><data-item-id
        id-type=\"PreferredRID\" type=\"person\">DUU-7799-2022</data-item-id></data-item-ids></name><name
        seq_no=\"2\" role=\"author\" reprint=\"Y\" addr_no=\"1 2 3 4\" r_id=\"DTU-4952-2022\"
        orcid_id=\"0000-0003-3859-2905\" daisng_id=\"14945356\" claim_status=\"false\"><display_name>Altman,
        Russ B.</display_name><preferred_name><full_name>Altman, Russ B</full_name><first_name>Russ
        B</first_name><last_name>Altman</last_name></preferred_name><full_name>Altman,
        Russ B.</full_name><wos_standard>Altman, RB</wos_standard><first_name>Russ
        B.</first_name><last_name>Altman</last_name><data-item-ids><data-item-id id-type=\"PreferredRID\"
        type=\"person\">DTU-4952-2022</data-item-id></data-item-ids></name></names><doctypes
        count=\"1\"><doctype>Article</doctype></doctypes><publishers><publisher><address_spec
        addr_no=\"1\"><full_address>ST ALBAN-ANLAGE 66, CH-4052 BASEL, SWITZERLAND</full_address><city>BASEL</city></address_spec><names
        count=\"1\"><name role=\"publisher\" seq_no=\"1\" addr_no=\"1\"><display_name>MDPI</display_name><full_name>MDPI</full_name><unified_name>Mdpi</unified_name></name></names></publisher></publishers></summary><fullrecord_metadata><languages
        count=\"1\"><language type=\"primary\">English</language></languages><normalized_languages
        count=\"1\"><language type=\"primary\">English</language></normalized_languages><normalized_doctypes
        count=\"1\"><doctype>Article</doctype></normalized_doctypes><refs count=\"53\"
        /><addresses count=\"4\"><address_name><address_spec addr_no=\"1\"><full_address>Stanford
        Univ, Dept Biomed Data Sci, Stanford, CA 94305 USA</full_address><organizations
        count=\"2\"><organization pref=\"null\">Stanford Univ</organization><organization
        pref=\"Y\">Stanford University</organization></organizations><suborganizations
        count=\"1\"><suborganization>Dept Biomed Data Sci</suborganization></suborganizations><city>Stanford</city><state>CA</state><country>USA</country><zip
        location=\"AP\">94305</zip></address_spec><names count=\"2\"><name seq_no=\"1\"
        role=\"author\" addr_no=\"1\" orcid_id=\"0000-0003-4570-5170\" daisng_id=\"15118200\"
        claim_status=\"false\"><display_name>Carpenter, Kristy A.</display_name><preferred_name><full_name>Carpenter,
        Kristy A.</full_name><first_name>Kristy A.</first_name><last_name>Carpenter</last_name></preferred_name><full_name>Carpenter,
        Kristy A.</full_name><wos_standard>Carpe[...]
