---
http_interactions:
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:retrieveById><databaseId>WOK</databaseId><uid>WOS:000386326200035</uid><queryLanguage>en</queryLanguage><retrieveParameters><firstRecord>1</firstRecord><count>100</count><option><key>RecordIDs</key><value>On</value></option><option><key>targetNamespace</key><value>http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord</value></option></retrieveParameters></tns:retrieveById></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:retrieveByIdResponse xmlns:ns2="http://woksearch.v3.wokmws.thomsonreuters.com"><return><queryId>4</queryId><recordsFound>1</recordsFound><recordsSearched>75118135</recordsSearched><optionValue><label>RecordIDs</label><value>WOS:000386326200035</value></optionValue><records>&lt;records xmlns="http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord">
        &lt;REC r_id_disclaimer="ResearcherID data provided by Clarivate Analytics">&lt;UID>WOS:000386326200035&lt;/UID>&lt;static_data>&lt;summary>&lt;EWUID>&lt;WUID coll_id="WOS">&lt;/WUID>&lt;edition value="WOS.ISTP">&lt;/edition>&lt;/EWUID>&lt;pub_info sortdate="2016-01-01" pubyear="2016" has_abstract="Y" coverdate="2016" pubtype="Book in series">&lt;page begin="381" end="392" page_count="12">381-392&lt[...]
- request:
    method: post
    uri: https://ws.isiknowledge.com/cps/xrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <request xmlns="http://www.isinet.com/xrpc41" src="app.id=API Demo">
          <fn name="LinksAMR.retrieve">
            <list>
              <map>
                <val name="username">StanfordU_SW</val>
                <val name="password">2@#$StUni</val>
              </map>
              <map>
                <list name="WOS">
                    <val>doi</val>
                    <val>pmid</val>
                </list>
              </map>
              <map>
                  <map name="cite_WOS:000386326200035">
                    <val name="ut">WOS:000386326200035</val>
                  </map>
              </map>
            </list>
          </fn>
        </request>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Platform:
      - CPS 2017.R3.0.9
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <response xmlns="http://www.isinet.com/xrpc41" src="app.id=API Demo">
        <fn name="LinksAMR.retrieve" rc="OK">
        <map>
        <map name="cite_WOS:000386326200035">
        <map name="WOS">
        </map>
        </map>
        </map>
        </fn>
        </response>
  recorded_at: Sat, 16 Dec 2017 00:40:11 GMT
recorded_with: VCR 4.0.0
