---
http_interactions:
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Settings.WOS.AUTH_CODE
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WOKMWSAuthenticateService" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com" version="1.0">
        <xs:element name="AuthenticationException" type="tns:AuthenticationException"/>
        <xs:element name="ESTIWSException" type="tns:ESTIWSException"/>
        <xs:element name="InternalServerException" type="tns:InternalServerException"/>
        <xs:element name="InvalidInputException" type="tns:InvalidInputException"/>
        <xs:element name="QueryException" type="tns:QueryException"/>
        <xs:element name="SessionException" type="tns:SessionException"/>
        <xs:element name="authenticate" type="tns:authenticate"/>
        <xs:element name="authenticateResponse" type="tns:authenticateResponse"/>
        <xs:element name="closeSession" type="tns:closeSession"/>
        <xs:element name="closeSessionResponse" type="tns:closeSessionResponse"/>
        <xs:complexType name="closeSession">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="closeSessionResponse">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="QueryException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="ESTIWSException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InvalidInputException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InternalServerException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="SessionException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="AuthenticationException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticate">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticateResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="return" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:schema>
          </wsdl:types>
          <wsdl:message name="closeSession">
            <wsdl:part element="tns:closeSession" name="parameters">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="QueryException_Exception">
            <wsdl:part element="tns:QueryException" name="QueryException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="ESTIWSException_Exception">
            <wsdl:part element="tns:ESTIWSException" name="ESTIWSException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsd[...]
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/[...]
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/id/WOS:A1972N549400003?count=100&databaseId=WOK&firstRecord=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '47646'
      X-Req-Reqpersec-Remaining:
      - '1'
      Correlation-Id:
      - ec1deda6-e152-4525-b9d3-105df31918e5#59137764
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<response
        xmlns=\"http://www.isinet.com/xrpc42\">\n    <map>\n        <map name=\"Data\">\n
        \           <val name=\"Records\"><![CDATA[<records><REC r_id_disclaimer=\"ResearcherID
        data provided by Clarivate Analytics\"><UID>WOS:A1972N549400003</UID><static_data><summary><EWUID><WUID
        coll_id=\"WOS\" /><edition value=\"WOS.SSCI\" /><edition value=\"WOS.SCI\"
        /></EWUID><pub_info sortdate=\"1972-01-01\" pubyear=\"1972\" has_abstract=\"N\"
        coverdate=\"1972\" vol=\"33\" issue=\"5\" pubtype=\"Journal\" journal_oas_gold=\"Y\"><page
        begin=\"413\" end=\"413\" page_count=\"1\">413-413</page></pub_info><titles
        count=\"6\"><title type=\"source\">COLLEGE &amp; RESEARCH LIBRARIES</title><title
        type=\"source_abbrev\">COLL RES LIBR</title><title type=\"abbrev_iso\">Coll.
        Res. Libr.</title><title type=\"abbrev_11\">COLL RES LI</title><title type=\"abbrev_29\">COLL
        RES LIBR</title><title type=\"item\">LIBRARY MANAGEMENT - BEHAVIOR-BASED PERSONNEL
        SYSTEMS (BBPS) - FRAMEWORK FOR ANALYSIS - KEMPER,RE</title></titles><names
        count=\"1\"><name seq_no=\"1\" role=\"author\" r_id=\"ECG-4520-2022\" daisng_id=\"16974923\"
        claim_status=\"false\"><display_name>WEBER, DC</display_name><preferred_name><full_name>Weber,
        D. C.</full_name><first_name>D. C.</first_name><last_name>Weber</last_name></preferred_name><full_name>WEBER,
        DC</full_name><wos_standard>WEBER, DC</wos_standard><first_name>DC</first_name><last_name>WEBER</last_name><data-item-ids><data-item-id
        id-type=\"PreferredRID\" type=\"person\">ECG-4520-2022</data-item-id></data-item-ids></name></names><doctypes
        count=\"1\"><doctype>Book Review</doctype></doctypes><publishers><publisher><address_spec
        addr_no=\"1\"><full_address>50 E HURON ST, CHICAGO, IL 60611</full_address><city>CHICAGO</city></address_spec><names
        count=\"1\"><name role=\"publisher\" seq_no=\"1\" addr_no=\"1\"><display_name>ASSOC
        COLL RESEARCH LIBRARIES</display_name><full_name>ASSOC COLL RESEARCH LIBRARIES</full_name><unified_name>Assoc
        Coll Research Libraries</unified_name></name></names></publisher></publishers></summary><fullrecord_metadata><languages
        count=\"1\"><language type=\"primary\">English</language></languages><normalized_languages
        count=\"1\"><language type=\"primary\">English</language></normalized_languages><normalized_doctypes
        count=\"1\"><doctype>Review</doctype></normalized_doctypes><refs count=\"1\"
        /><addresses count=\"1\"><address_name><address_spec addr_no=\"1\"><full_address>STANFORD
        UNIV,STANFORD,CA 94305</full_address><organizations count=\"2\"><organization
        pref=\"null\">STANFORD UNIV</organization><organization pref=\"Y\">Stanford
        University</organization></organizations><city>STANFORD</city><state>CA</state><country>USA</country><zip
        location=\"AP\">94305</zip></address_spec></address_name></addresses><category_info><headings
        count=\"1\"><heading>Science &amp; Technology</heading></headings><subheadings
        count=\"1\"><subheading>Technology</subheading></subheadings><subjects count=\"2\"><subject
        ascatype=\"traditional\" code=\"NU\">Information Science &amp; Library Science</subject><subject
        ascatype=\"extended\">Information Science &amp; Library Science</subject></subjects></category_info></fullrecord_metadata><item
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"itemType_wos\"
        coll_id=\"WOS\"><ids avail=\"Y\">N5494</ids><bib_id>33 (5): 413-413 1972</bib_id></item></static_data><dynamic_data><citation_related><tc_list><silo_tc
        coll_id=\"WOS\" local_count=\"0\" /></tc_list></citation_related><cluster_related><identifiers><identifier
        type=\"issn\" value=\"0010-0870\" /><identifier type=\"xref_doi\" value=\"10.5860/crl_33_05_413\"
        /></identifiers></cluster_related><wos_usage last180days=\"0\" alltime=\"0\"
        /></dynamic_data><dates date_modified=\"2017-06-20T12:25:20.684325\" date_created=\"1972-12-25T12:25:20.684325\"
        /></REC>\r\n</records>]]></val>\n        </map>\n        <map name=\"QueryResult\">\n
        \           <map>\n                <val name=\"QueryID\">32</val>\n                <val
        name=\"RecordsSearched\">177881258</val>\n                <val name=\"RecordsFound\">1</val>\n
        \           </map>\n        </map>\n    </map>\n</response>\n"
  recorded_at: Wed, 21 Jun 2023 20:06:06 GMT
recorded_with: VCR 6.1.0
