---
http_interactions:
- request:
    method: post
    uri: https://aswstest.stanford.edu/api/oauth/token
    body:
      encoding: UTF-8
      string: client_id=5g123456-6cbf-4272-91eb-659948ce441a&client_secret=12ad9c34-80dr-46h9-b7eb-6543108a0c71&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlationid:
      - Id-1c069b60e22742b7a7cfc7ce 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"Bearer","expires_in":3600,"scope":"orcid"}'
  recorded_at: Tue, 11 May 2021 22:33:00 GMT
- request:
    method: get
    uri: https://aswstest.stanford.edu/mais/orcid/v1/users?page_size=2&scope=ANY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      X-Correlationid:
      - Id-1c069b60c827515dde98b1b3 0
      Authorization:
      - Bearer private_bearer_token
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 May 2021 22:33:00 GMT
recorded_with: VCR 6.0.0
