---
http_interactions:
- request:
    method: post
    uri: https://aswstest.stanford.edu/api/oauth/token
    body:
      encoding: UTF-8
      string: client_id=5d127563-6cbf-4275-98eb-FAKE&client_secret=19ad9c72-80dd-46d9-b7eb-FAKE&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlationid:
      - Id-89e69a607f1cf57992c53bdd 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"Bearer","expires_in":3600,"scope":"orcid"}'
  recorded_at: Tue, 11 May 2021 20:18:17 GMT
- request:
    method: get
    uri: https://aswstest.stanford.edu/mais/orcid/v1/users?page_size=2&scope=ANY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-89e69a609c1c4e34a7db972c 0
      Status:
      - '200'
      X-Sl-Assetpath:
      - "/StanfordUAT/Mais/Orcid/users"
      X-Sl-Asseturipath:
      - "/api/1/rest/feed-master/queue/StanfordUAT/Mais/Orcid/users"
      X-Sl-Authorized:
      - 'true'
      X-Sl-Clientip:
      - 172.20.21.210
      X-Sl-Pathinfo:
      - ''
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"current_page":1,"total_records":144,"page_size":2,"total_pages":72},"results":[{"sunet_id":"nataliex","orcid_id":"https://sandbox.orcid.org/0000-0001-7161-0000","access_token":"145d175c-1ac5-4ea7-935d-fg6d61ffb9a3","scope":["/read-limited"],"last_updated":"2020-01-23T17:06:21.000"},{"sunet_id":"techandx","orcid_id":"https://sandbox.orcid.org/0000-0003-2402-0000","access_token":"d123389b-222b-4123-9900-4b8da6392d2c","scope":["/read-limited"],"last_updated":"2020-01-23T17:13:58.000"}],"links":{"self":"/users?scope=any&page_number=1&page_size=2","first":"/users?scope=any&page_number=1&page_size=2","prev":"/users?scope=any&page_number=1&page_size=2","next":"/users?scope=any&page_number=2&page_size=2","last":"/users?scope=any&page_number=72&page_size=2"}}'
  recorded_at: Tue, 11 May 2021 20:18:17 GMT
- request:
    method: get
    uri: https://aswstest.stanford.edu/mais/orcid/v1/users?page_number=2&page_size=2&scope=any
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-8ae69a60801c20d0722365fb 0
      Status:
      - '200'
      X-Sl-Assetpath:
    [...]
[...]
