


<div class="center hero-unit">
  <h2>SUL Publications Server BibTEX import</h2>
<hr/>


<p style="font-size:medium">How to submit your bibtex list of publications to the SUL publications database.</p>

<hr style="color:#000;background-color:#000;border-color:#000"/>

<h2>Steps</h2>


<h4>1. Export or generate bibtex</h4>

<p style="font-size:medium">Export from your bibliographic management software or plain text files.  Instructions...</p>


        <h4>2. Validate.</h4> 
<p style="font-size:medium">Validate your bibtex using a tool like that listed below.</p>
        </h4>

        <h4>3. Submit</h4>
<p style="font-size:medium">How to submit.</p>

        <h4>4. Wait</h4>
<p style="font-size:medium">How to check on progress.  How you'll be notified.</p>


<hr style="color:#000;background-color:#000;border-color:#000"/>

<h2>Tools</h2>

<h5>BibTeX Validators</h5>

<p style="font-size:medium">http://gridtlse.enseeiht.fr/bibtlse/Check.do</p>

<h5>BibTeX Generators</h5>


  <p style="font-size:medium">http://services.uzeweb.com/cgi-bin/text2bib.pl</p>
  <p style="font-size:medium">http://text2bib.economics.utoronto.ca</p>


<hr style="color:#000;background-color:#000;border-color:#000"/>
     