---
http_interactions:
- request:
    method: post
    uri: https://Settings.CAP.TOKEN_USER:Settings.CAP.TOKEN_PASS@Settings.CAP.TOKEN_URI/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"bearer","expires_in":86399,"scope":"profiles.read_all","jti":"e42cff9f-7cd4-4ad9-b232-e5648ea445a2"}'
  recorded_at: Wed, 11 May 2016 04:27:19 GMT
- request:
    method: get
    uri: https://cap-dev.stanford.edu/cap-api/api/cap/v1/authors/999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer private_bearer_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        { "meta": {  "status": 404, "message":"Object of class [edu.stanford.irt.cap.api.domain.AuthorEntity] with identifier [999999]: not found" } }
  recorded_at: Wed, 11 May 2016 04:27:19 GMT
[...]
- request:
    method: get
    uri: https://cap-dev.stanford.edu/cap-api/api/cap/v1/authors/999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer private_bearer_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        { "meta": {  "status": 404, "message":"Object of class [edu.stanford.irt.cap.api.domain.AuthorEntity] with identifier [999999]: not found" } }
  recorded_at: Wed, 11 May 2016 04:27:20 GMT
recorded_with: VCR 3.0.1
