---
http_interactions:
- request:
    method: get
    uri: https://authz.stanford.edu/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Settings.CAP.TOKEN_USER:Settings.CAP.TOKEN_PASS
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"bearer","expires_in":86399,"scope":"profiles.read_all","jti":"5d6855bb-8bde-4e64-8d86-ca63e948cd39"}'
  recorded_at: Fri, 15 Dec 2017 22:03:11 GMT
- request:
    method: get
    uri: https://cap-uat.stanford.edu/cap-api/api/cap/v1/authors/999999
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "meta": {  "status": 404, "message":"Object of class [edu.stanford.irt.cap.api.domain.AuthorEntity]
        with identifier [999999]: not found" } }

'
  recorded_at: Fri, 15 Dec 2017 22:03:11 GMT
recorded_with: VCR 4.0.0
