---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/id/WOS:000081515000015,WOS:000346594100007?count=100&databaseId=WOK&firstRecord=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '1952240'
      X-Req-Reqpersec-Remaining:
      - '24'
      Correlation-Id:
      - 52e6745a-df54-4065-bb17-6516d4b67fa6#50056220
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<response
        xmlns=\"http://www.isinet.com/xrpc42\">\n    <map>\n        <map name=\"Data\">\n
        \           <val name=\"Records\"><![CDATA[<records><REC r_id_disclaimer=\"ResearcherID
        data provided by Clarivate Analytics\"><UID>WOS:000346594100007</UID><static_data><summary><EWUID><WUID
        coll_id=\"WOS\" /><edition value=\"WOS.SCI\" /></EWUID><pub_info sortdate=\"2014-11-01\"
        pubyear=\"2014\" has_abstract=\"Y\" coverdate=\"NOV 2014\" pubmonth=\"NOV\"
        vol=\"28\" issue=\"11\" pubtype=\"Journal\" journal_oas_gold=\"N\"><page begin=\"1262\"
        end=\"1278\" page_count=\"17\">1262-1278</page></pub_info><titles count=\"6\"><title
        type=\"source\">GLOBAL BIOGEOCHEMICAL CYCLES</title><title type=\"source_abbrev\">GLOBAL
        BIOGEOCHEM CY</title><title type=\"abbrev_iso\">Glob. Biogeochem. Cycle</title><title
        type=\"abbrev_11\">GLOBAL BIOG</title><title type=\"abbrev_29\">GLOBAL BIOGEOCHEM
        CYCLE</title><title type=\"item\">N&lt;sub&gt;2&lt;/sub&gt;O production in
        the eastern South Atlantic: Analysis of N&lt;sub&gt;2&lt;/sub&gt;O stable
        isotopic and concentration data</title></titles><names count=\"4\"><name seq_no=\"1\"
        role=\"author\" reprint=\"Y\" addr_no=\"1\" r_id=\"EWP-2248-2022\" daisng_id=\"21912644\"
        claim_status=\"false\"><display_name>Frame, Caitlin H.</display_name><preferred_name><full_name>Frame,
        Caitlin H.</full_name><first_name>Caitlin H.</first_name><last_name>Frame</last_name></preferred_name><full_name>Frame,
        Caitlin H.</full_name><wos_standard>Frame, CH</wos_standard><first_name>Caitlin
        H.</first_name><last_name>Frame</last_name><data-item-ids><data-item-id id-type=\"PreferredRID\"
        type=\"person\">EWP-2248-2022</data-item-id></data-item-ids></name><name seq_no=\"2\"
        role=\"author\" addr_no=\"2\" r_id=\"DWC-6140-2022\" orcid_id=\"0000-0003-0945-9160\"
        daisng_id=\"15456544\" claim_status=\"false\"><display_name>Deal, Eric</display_name><preferred_name><full_name>Deal,
        Eric</full_name><first_name>Eric</first_name><last_name>Deal</last_name></preferred_name><full_name>Deal,
        Eric</full_name><wos_standard>Deal, E</[...]
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/id/WOS:000081515000015,WOS:000346594100007?count=75&databaseId=WOK&firstRecord=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '4724077'
      X-Req-Reqpersec-Remaining:
      - '23'
      Correlation-Id:
      - 2002031d-1688-40ac-a9c1-9ce3e7a52432#14260735
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<response
        xmlns=\"http://www.isinet.com/xrpc42\">\n    <map>\n        <map name=\"Data\">\n
        \           <val name=\"Records\"><![CDATA[<records><REC r_id_disclaimer=\"ResearcherID
        data provided by Clarivate Analytics\"><UID>WOS:000346594100007</UID><static_data><summary><EWUID
        xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"><WUID coll_id=\"WOS\" /><edition
        value=\"WOS.SCI\" /></EWUID><pub_info sortdate=\"2014-11-01\" pubyear=\"2014\"
        has_abstract=\"Y\" coverdate=\"NOV 2014\" pubmonth=\"NOV\" vol=\"28\" issue=\"11\"
        pubtype=\"Journal\" journal_oas_gold=\"N\"><page begin=\"1262\" end=\"1278\"
        page_count=\"17\">1262-1278</page></pub_info><titles count=\"6\"><title type=\"source\">GLOBAL
        BIOGEOCHEMICAL CYCLES</title><title type=\"source_abbrev\">GLOBAL BIOGEOCHEM
        CY</title><tit[...]
