---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
            <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xmlQuery>&lt;query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
                      &lt;Criterion ConjunctionOperator="AND"&gt;
                        &lt;Criteria&gt;
                          &lt;Criterion&gt;
                            &lt;Filter&gt;
                              &lt;Column&gt;PMID&lt;/Column&gt;
                              &lt;Operator&gt;In&lt;/Operator&gt;
                              &lt;Values&gt;&lt;Value&gt;24930130&lt;/Value&gt;&lt;/Values&gt;
                                    &lt;/Filter&gt;
                                  &lt;/Criterion&gt;
                                &lt;/Criteria&gt;
                              &lt;/Criterion&gt;
                              &lt;Columns&gt;
                                &lt;SortColumn&gt;
                                  &lt;Column&gt;Rank&lt;/Column&gt;
                                  &lt;Direction&gt;Descending&lt;/Direction&gt;
                                &lt;/SortColumn&gt;
                              &lt;/Columns&gt;
                              &lt;MaximumRows&gt;1000&lt;/MaximumRows&gt;
                            &lt;/query&gt;</xmlQuery>
            </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>168160</queryID>\r\n
        \ <queryResultRows>1</queryResultRows>\r\n  <totalRows>1</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Tue, 30 Jan 2018 22:46:30 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/168160?format=xml&page=0&pageSize=1&v=version/4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>67444125</PublicationItemID>\r\n    <Title>Chemically
        defined generation of human cardiomyocytes</Title>\r\n    <Abstract>Existing
        methods for human induced pluripotent stem cell (hiPSC) cardiac differentiation
        are efficient but require complex, undefined medium constituents that hinder
        further elucidation of the molecular mechanisms of cardiomyogenesis. Using
        hiPSCs derived under chemically defined conditions on synthetic matrices,
        we systematically developed an optimized cardiac differentiation strategy,
        using a chemically defined medium consisting of just three components: the
        basal medium RPMI 1640, L-ascorbic acid 2-phosphate and rice-derived recombinant
        human albumin. Along with small molecule based induction of differentiation,
        this protocol produced contractile sheets of up to 95% TNNT2(+) cardiomyocytes
        at a yield of up to 100 cardiomyocytes for every input pluripotent cell and
        was effective in 11 hiPSC lines tested. This chemically defined platform for
        cardiac specification of hiPSCs will allow the elucidation of cardiomyocyte
        macromolecular and metabolic requirements and will provide a minimal system
        for the study of maturation and subtype specification.</Abstract>\r\n    <AuthorList>Burridge,Paul,W|Matsa,Elena,|Shukla,Praveen,|Lin,Ziliang,C|Churko,Jared,M|Ebert,Antje,D|Lan,Feng,|Diecke,Sebastian,|Huber,Bruno,|Mordwinkin,Nicholas,M|Plews,Jordan,R|Abilez,Oscar,J|Cui,Bianxiao,|Gold,Joseph,D|Wu,Joseph,C</AuthorList>\r\n
        \   <AuthorCount>15</AuthorCount>\r\n    <KeywordList>PROGENITOR CELLS|PLURIPOTENT
        STEM-CELLS|CARDIOMYOGENESIS|MYOCYTES|SMALL-MOLECULE|CULTURE|EXPRESSION|THYRONINE|CARDIAC
        DIFFERENTIATION|TERM SELF-RENEWAL</KeywordList>\r\n    <DocumentTypeList>Article</DocumentTypeList>\r\n
        \   <DocumentCategory>Journal Document</DocumentCategory>\r\n    <NumberOfReferences>40</NumberOfReferences>\r\n
        \   <TimesCited>161</TimesCited>\r\n    <TimesNotSelfCited>129</TimesNotSelfCited>\r\n
        \   <PMID>24930130</PMID>\r\n    <WoSItemID>000340075600026</WoSItemID>\r\n
        \   <PublicationSourceTitle>NATURE METHODS</PublicationSourceTitle>\r\n    <Volume>11</Volume>\r\n
        \   <Issue>8</Issue>\r\n    <Pagination>855-860</Pagination>\r\n    <PublicationDate>2014-08-01T00:00:00</PublicationDate>\r\n
        \   <PublicationYear>2014</PublicationYear>\r\n    <PublicationType>Journal</PublicationType>\r\n
        \   <PublicationSubjectCategoryList>Biochemical Research Methods</PublicationSubjectCategoryList>\r\n
        \   <ISSN>1548-7091</ISSN>\r\n    <DOI>10.1038/NMETH.2999</DOI>\r\n    <ConferenceStartDate
        xsi:nil=\"true\" />\r\n    <ConferenceEndDate xsi:nil=\"true\" />\r\n    <Rank
        xsi:nil=\"true\" />\r\n    <OrdinalRank>0</OrdinalRank>\r\n    <NormalizedRank
        xsi:nil=\"true\" />\r\n    <NewPublicationItemID xsi:nil=\"true\" />\r\n    <IsObsolete>false</IsObsolete>\r\n
        \   <CopyrightPublisher>NATURE PUBLISHING GROUP</CopyrightPublisher>\r\n    <CopyrightCity>LONDON</CopyrightCity>\r\n
        \   <PublicationImpactFactorList>25.953,2013,ClosestToPublicationYear|25.953,2013,MostRecentYear</PublicationImpactFactorList>\r\n
        \   <PublicationCategoryRankingList>1/78;BIOCHEMICAL RESEARCH METHODS;2013;SC;ClosestToPublicationYear|1/78;BIOCHEMICAL
        RESEARCH METHODS;2013;SC;MostRecentYear</PublicationCategoryRankingList>\r\n
        \   <AuthorCitationCountList>1,6,155|2,4,157|3,5,156|4,1,160|5,3,158|6,5,156|7,1,160|8,2,159|9,0,161|10,1,160|11,0,161|12,4,157|13,1,160|14,4,157|15,28,133</AuthorCitationCountList>\r\n
        \   <CopyrightStateProvince />\r\n    <CopyrightCountry>UNITED KINGDOM</CopyrightCountry>\r\n
        \ </PublicationItem>\r\n</ArrayOfPublicationItem>"
  recorded_at: Tue, 30 Jan 2018 22:46:30 GMT
recorded_with: VCR 4.0.0
