---
http_interactions:
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Settings.WOS.AUTH_CODE
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WOKMWSAuthenticateService" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com" version="1.0">
        <xs:element name="AuthenticationException" type="tns:AuthenticationException"/>
        <xs:element name="ESTIWSException" type="tns:ESTIWSException"/>
        <xs:element name="InternalServerException" type="tns:InternalServerException"/>
        <xs:element name="InvalidInputException" type="tns:InvalidInputException"/>
        <xs:element name="QueryException" type="tns:QueryException"/>
        <xs:element name="SessionException" type="tns:SessionException"/>
        <xs:element name="authenticate" type="tns:authenticate"/>
        <xs:element name="authenticateResponse" type="tns:authenticateResponse"/>
        <xs:element name="closeSession" type="tns:closeSession"/>
        <xs:element name="closeSessionResponse" type="tns:closeSessionResponse"/>
        <xs:complexType name="closeSession">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="closeSessionResponse">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="QueryException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="ESTIWSException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InvalidInputException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InternalServerException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="SessionException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="AuthenticationException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticate">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticateResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="return" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:schema>
          </wsdl:types>
          <wsdl:message name="closeSession">
            <wsdl:part element="tns:closeSession" name="parameters">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="QueryException_Exception">
            <wsdl:part element="tns:QueryException" name="QueryException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="ESTIWSException_Exception">
            <wsdl:part element="tns:ESTIWSException" name="ESTIWSException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsd[...]
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:authenticate></tns:authenticate></soapenv:Body></soapenv:Envelope>
    headers:
      Authorization:
      - Basic Settings.WOS.AUTH_CODE
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:authenticateResponse
        xmlns:ns2="http://auth.cxf.wokmws.thomsonreuters.com"><return>7BpaQrkTPsk18oNgGx1</return></ns2:authenticateResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 03 Apr 2019 23:00:31 GMT
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/[...]
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:search><queryParameters><databaseId>WOK</databaseId><userQuery>AU=(&quot;Edler,Alice&quot;
        OR &quot;Edler,Alice,Jim&quot; OR &quot;Edler,Alice,J&quot;) AND AD=(&quot;stanford&quot;)</userQuery><queryLanguage>en</queryLanguage></queryParameters><retrieveParameters><firstRecord>1</firstRecord><count>100</count><viewField><collectionName>WOS</collectionName><fieldName></fieldName></viewField><viewField><collectionName>MEDLINE</collectionName><fieldName></fieldName></viewField><option><key>RecordIDs</key><value>On</value></option></retrieveParameters></tns:search></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:searchResponse
        xmlns:ns2="http://woksearch.v3.wokmws.thomsonreuters.com"><return><queryId>1</queryId><recordsFound>18</recordsFound><recordsSearched>81062482</recordsSearched><optionValue><label>RecordIDs</label><value>WOS:000218296900007</value><value>MEDLINE:19088623</value><value>WOS:000264165900021</value><value>WOS:000252230800009</value><value>WOS:000270210100035</value><value>WOS:000212962700007</value><value>WOS:000276938400007</value><value>WOS:000249038700050</value><value>WOS:000217248400003</value><value>WOS:000236198500001</value><value>WOS:000251905400030</value><value>WOS:000250317500068</value><value>WOS:000176711100016</value><value>WOS:000212958400021</value><value>WOS:000186655000011</value><value>WOS:000256730800021</value><value>WOS:000259817100020</value><value>WOS:000245371900010</value></optionValue><records>&lt;records
        xmlns="http://scientific.thomsonreuters.com/schema/wok5.4/public/Fields">&lt;REC
        r_id_disclaimer="ResearcherID data provided by Clarivate Analytics">&lt;UID>WOS:000218296900007&lt;/UID>&lt;static_data>&lt;/static_data>&lt;dynamic_data>&lt;cluster_related>&lt;/cluster_related>&lt;/dynamic_data>&lt;/REC>&lt;REC
        r_id_disclaimer="ResearcherID data provided by Clarivate Analytics">&lt;UID>MEDLINE:19088623&lt;/UID>&lt;static_data>&lt;/static_data>&lt;dynamic_data>&l[...]
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:retrieveById><databaseId>WOK</databaseId><uid>WOS:000218296900007</uid><uid>MEDLINE:19088623</uid><uid>WOS:000264165900021</uid><uid>WOS:000252230800009</uid><uid>WOS:000270210100035</uid><uid>WOS:000212962700007</uid><uid>WOS:000276938400007</uid><uid>WOS:000249038700050</uid><uid>WOS:000217248400003</uid><uid>WOS:000236198500001</uid><uid>WOS:000251905400030</uid><uid>WOS:000250317500068</uid><uid>WOS:000176711100016</uid><uid>WOS:000212958400021</uid><uid>WOS:000186655000011</uid><uid>WOS:000256730800021</uid><uid>WOS:000259817100020</ui[...]
- request:
    method: post
    uri: https://ws.isiknowledge.com/cps/xrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <request xmlns="http://www.isinet.com/xrpc41" src="app.id=API Demo">
          <fn name="LinksAMR.retrieve">
            <list>
              <map>
                <val name="username">links_username</val>
                <val name="password">links_password</val>
              </map>
              <map>
                <list name="WOS">
                    <val>doi</val>
                    <val>pmid</val>
                </list>
              </map>
              <map>
                  <map name="cite_WOS:000259817100020">
                    <val name="ut">WOS:000259817100020</val>
                  </map>
                  <map name="cite_WOS:00025673080002[...]
- request:
    method: post
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?api_key=Settings.PUBMED.API_KEY&db=pubmed&retmode=xml
    body:
      encoding: UTF-8
      string: "&id=&id=18717808"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '9'
      Ncbi-Phid:
      - D0BDAAD496ED878500002691AE6207AA.1.1.m_3
      L5d-Success-Class:
      - '1.0'
      Ncbi-Sid:
      - 5C56991BA7711E6F_6040SID
      X-Ratelimit-Limit:
      - '10'
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" ?>
        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January 2019//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_190101.dtd">
        <PubmedArticleSet>
        <PubmedArticle>
            <MedlineCitation Status="MEDLINE" Owner="NLM">
                <PMID Version="1">18717808</PMID>
                <DateCompleted>
                    <Year>2009</Year>
                    <Month>01</Month>
                    <Day>02</Day>
                </DateCompleted>
                <DateRevised>
                    <Year>2008</Year>
                    <Month>10</Month>
                    <Day>27</Day>
                </DateRevised>
                <Article PubModel="Print-Electronic">
                    <Journal>
                        <ISSN IssnType="Electronic">1460-9592</ISSN>
                        <JournalIssue CitedMedium="Internet">
                            <Volume>18</Volume>
                            <Issue>11</Issue>
                            <PubDate>
                                <Year>2008</Year>
                                <Month>Nov</Month>
                            </PubDate>
                        </JournalIssue>
                        <Title>Paediatric anaesthesia</Title>
                        <ISOAbbreviation>Paediatr Anaesth</ISOAbbreviation>
                    </Journal>
                    <ArticleTitle>Improving electrical safety for patients with Epidermolysis bullosa.</ArticleTitle>
                    <Pagination>
                        <MedlinePgn>1107-9</MedlinePgn>
                    </Pagination>
                    <ELocationID EIdType="doi" ValidYN="Y">10.1111/j.1460-9592.2008.02715.x</ELocationID>
                    <AuthorList CompleteYN="Y">
                        <Author ValidYN="Y">
                            <LastName>Edler</LastName>
                            <ForeName>Alice A</ForeName>
                            <Initials>AA</Initials>
                        </Author>
                        <Author ValidYN="Y">
                            <LastName>Ramamurthi</LastName>
                            <ForeName>Radhamangalam J</ForeName>
                            <Initials>RJ</Initials>
                        </Author>
                        <Author ValidYN="Y">
                            <LastName>Valenzuela</LastName>
                            <ForeName>Glenn A</ForeName>
                            <Initials>GA</Initials>
                        </Author>
                    </AuthorList>
                    <Language>eng</Language>
                    <PublicationTypeList>
                        <PublicationType UI="D016422">Letter</PublicationType>
                    </PublicationTypeList>
                    <ArticleDate DateType="Electronic">
                        <Year>2008</Year>
                        <Month>08</Month>
                        <Day>19</Day>
                    </ArticleDate>
                </Article>
                <MedlineJournalInfo>
                    <Country>France</Country>
                    <MedlineTA>Paediatr Anaesth</MedlineTA>
                    <NlmUniqueID>9206575</NlmUniqueID>
                    <ISSNLinking>1155-5645</ISSNLinking>
                </MedlineJournalInfo>
                <CitationSubset>IM</CitationSubset>
                <MeshHeadingList>
                    <MeshHeading>
                        <DescriptorName UI="D002648" MajorTopicYN="N">Child</DescriptorName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D004559" MajorTopicYN="N">Electric Wiring</DescriptorName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D004562" MajorTopicYN="N">Electrocardiography</DescriptorName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D004820" MajorTopicYN="N">Epidermolysis Bullosa</DescriptorName>
                        <QualifierName UI="Q000150" MajorTopicYN="Y">complications</QualifierName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D004867" MajorTopicYN="N">Equipment Design</DescriptorName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D006801" MajorTopicYN="N">Humans</DescriptorName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D017592" MajorTopicYN="N">Skin Care</DescriptorName>
                        <QualifierName UI="Q000295" MajorTopicYN="Y">instrumentation</QualifierName>
                        <QualifierName UI="Q000379" MajorTopicYN="N">methods</QualifierName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D013514" MajorTopicYN="Y">Surgical Procedures, Operative</DescriptorName>
                    </MeshHeading>
                </MeshHeadingList>
            </MedlineCitation>
            <PubmedData>
                <History>
                    <PubMedPubDate PubStatus="pubmed">
                        <Year>2008</Year>
                        <Month>8</Month>
                        <Day>23</Day>
                        <Hour>9</Hour>
                        <Minute>0</Minute>
                    </PubMedPubDate>
                    <PubMedPubDate PubStatus="medline">
                        <Year>2009</Year>
                        <Month>1</Month>
                        <Day>3</Day>
                        <Hour>9</Hour>
                        <Minute>0</Minute>
                    </PubMedPubDate>
                    <PubMedPubDate PubStatus="entrez">
                        <Year>2008</Year>
                        <Month>8</Month>
                        <Day>23</Day>
                        <Hour>9</Hour>
                        <Minute>0</Minute>
                    </PubMedPubDate>
                </History>
                <PublicationStatus>ppublish</PublicationStatus>
                <ArticleIdList>
                    <ArticleId IdType="pubmed">18717808</ArticleId>
                    <ArticleId IdType="pii">PAN2715</ArticleId>
                    <ArticleId IdType="doi">10.1111/j.1460-9592.2008.02715.x</ArticleId>
                </ArticleIdList>
            </PubmedData>
        </PubmedArticle>

        </PubmedArticleSet>
  recorded_at: Wed, 03 Apr 2019 23:00:35 GMT
[...]
- request:
    method: post
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?api_key=Settings.PUBMED.API_KEY&db=pubmed&retmax=100000&retmode=xml
    body:
      encoding: UTF-8
      string: term=((Edler Alice[Author])) AND (Stanford University[Affiliation])
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '6'
      Ncbi-Phid:
      - D0BDAAD496ED878500002091B8250BD9.1.1.m_1
      L5d-Success-Class:
      - '1.0'
      Ncbi-Sid:
      - 5C56991BA7711E6F_6040SID
      X-Ratelimit-Limit:
      - '10'
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE eSearchResult
        PUBLIC \"-//NLM//DTD esearch 20060628//EN\" \"https://eutils.ncbi.nlm.nih.gov/eutils/dtd/20060628/esearch.dtd\">\n<eSearchResult>\n<Count>8</Count><RetMax>8</RetMax><RetStart>0</RetStart>\n<IdList>\n\t<Id>21134139</Id>\n\t<Id>20661010</Id>\n\t<Id>20386227</Id>\n\t<Id>18083476</Id>\n\t<Id>19088623</Id>\n\t<Id>17377083</Id>\n\t<Id>16517323</Id>\n\t<Id>14617124</Id>\n</IdList>\n<TranslationSet><Translation>
        \    <From>Edler Alice[Author]</From>     <To>Edler, Alice[Full Author Name]</To>
        \   </Translation></TranslationSet><TranslationStack>   <TermSet>    <Term>Edler,
        Alice[Full Author Name]</Term>    <Field>Full Author Name</Field>    <Count>18</Count>
        \   <Explode>N</Explode>   </TermSet>   <TermSet>    <Term>Stanford University[Affiliation]</Term>
        \   <Field>Affiliation</Field>    <Count>85296</Count>    <Explode>N</Explode>
        \  </TermSet>   <OP>AND</OP>  </TranslationStack><QueryTranslation>Edler,
        Alice[Full Author Name] AND Stanford University[Affiliation]</QueryTranslation>\n\n</eSearchResult>\n"
  recorded_at: Wed, 03 Apr 2019 23:00:40 GMT
[...]
