---
http_interactions:
- request:
    method: get
    uri: https://irt-dev.stanford.edu/cap-api-qa/api/cap/v1/authors/3810
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Irt-Transaction-Id:
      - Uf27S6wZaGYAAG9xbQ0AAAAU
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"active":true,"authorModifiedOn":"2013-08-02T10:01:15.000-07:00","authorship":[{"featured":false,"status":"approved","sulPublicationId":325,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":151997,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":160011,"visibility":"public"},{"featured":false,"status":"unknown","sulPublicationId":158645,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":161738,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":155172,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId"[...]
[...]
