---
http_interactions:
- request:
    method: get
    uri: https://irt-dev.stanford.edu/cap-api-qa/api/cap/v1/authors/3871
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer eyJhbGciOiJSUzI1NiJ9.eyJleHAiOjEzNzk3MDkyOTksInNjb3BlIjpbInByb2ZpbGVzLnJlYWRfYWxsIl0sImF1ZCI6WyJwcm9maWxlcyJdLCJpc3MiOiJodHRwczovL2F1dGh6LXRlc3Quc3RhbmZvcmQuZWR1IiwianRpIjoiYmMyYTFmYzMtYzg5Mi00M2NhLTgzMDItMjg1ODUxNmFkMDUwIiwiY2xpZW50X2lkIjoic3VsIn0.hpy9bbaxXSa4na1sW3ycBjFZ7qLAD2MFfXge7r2bfFpFm_jJBbps73Y10NHevw5uqUveu1X-cwp_MdkzwQ7Hx4aWBt1giuG-2tvQ9b2ufCpioqZ2RSGwgBJz2oj3RqJI1lwhoeWACHhOkPDJV7w-MlZC-uwHTc1ArW0whjlhpyosumMw6c_KUkLPMvCaqwgOk52jOmFkJrcuoCSjVs-zaN63lsnjwwP4ZPdStYj2W0v0NvtM3MD-ayZvGcI_IZCeud3iXeeMl5eQqd56ar8FuqYW8vzVUZ9Tq2kR6TTPjW1Ez5g-uD9qb7DSOw9hDRd4SKPrBCW3Cmi8fyjy-w_MpA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Irt-Transaction-Id:
      - UjtgBqwZaGYAABTuGmAAAAAF
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"active":false,"authorModifiedOn":"2013-08-18T10:01:03.000-07:00","authorship":[{"featured":false,"status":"new","sulPublicationId":31774,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":7776,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":30842,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":33912,"visibility":"public"},{"featured":false,"status":"new","sulPublicationId":23008,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":11961,"visibility":"public"},{"featured":false,"status":"new","sulPublicationId":33614,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":19088,"visibility":"public"}],"importEnabled":false,"importSettings":[{"firstName":"Hower","institution":"Stanford
        University","lastName":"Kwon"}],"lastModified":"2013-09-19T06:03:49.898-07:00","profile":{"californiaPhysicianLicense":"G80767","displayName":"Hower
        Kwon","email":"hower.kwon@stanford.edu","meta":{"etag":"1905186764","links":[{"href":"http://irt-ppapp-02:12011/cap-api-qa/api/profiles/v1/3871","rel":"https://cap.stanford.edu/rel/self"},{"href":"https://irt-dev.stanford.edu/cap-su-qa/3871","rel":"https://cap.stanford.edu/rel/public"},{"href":"https://cap-irt-dev.stanford.edu/profiles-qa/auth/frdActionServlet?choiceId=facProfile&profileId=3871","rel":"https://cap.stanford.edu/rel/intranet"},{"href":"https://cap-irt-dev.stanford.edu/profiles-qa/frdActionServlet?choiceId=printerprofile&profileversion=full&profileId=3871","rel":"https://cap.stanford.edu/rel/pdf"}]},"names":{"legal":{"firstName":"Hower","lastName":"Kwon"},"preferred":{"firstName":"Hower","lastName":"Kwon"}},"profileId":3871,"uid":"howerk","universityId":"04777025"},"profileId":3871,"visibility":"public"}'
  recorded_at: Thu, 19 Sep 2013 20:35:19 GMT
[...]
