---
http_interactions:
- request:
    method: get
    uri: https://irt-dev.stanford.edu/cap-api-qa/api/cap/v1/authors/3871
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer eyJhbGciOiJSUzI1NiJ9.eyJleHAiOjEzNzcwMjgyNDMsInNjb3BlIjpbInByb2ZpbGVzLnJlYWRfYWxsIl0sImF1ZCI6WyJwcm9maWxlcyJdLCJpc3MiOiJodHRwczovL2F1dGh6LXRlc3Quc3RhbmZvcmQuZWR1IiwianRpIjoiY2YyYzhiNjAtOWY1YS00OTFiLWIwYjYtNjc5NjViZWMwYzEzIiwiY2xpZW50X2lkIjoic3VsIn0.hvksBnsvqUZfTNfqW-psy-Pv35AQyxWIt-mJSOLZxibO5jRPUYftDEaGJjgUuF-BBdtO3U3g9zgDCr0vCdggzz4gcUgbEkQOJipTolunU8Hvkd5LDWISwwmRCnlhycyt-YOWZVZ-oQJGucwbWJf32hzPvjxSRcdsKYRPucqXCwOBQkI2TFBMCncUKKigd9ea7djARO9Vy2a-euHGJRdWWFsLwDDEKTXcR-wmU740ImJKURAQmaK8ygXD_G0ll25izdNwXmo4tf55RSBOh39VOatdqwF9KEefsjmMbLYqBqhhBKNh-d4Lav2gvYIODzuym6Jj3v1g0RglOyGOXNBtdw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Irt-Transaction-Id:
      - UhKYHqwZaGYAAA6FXlEAAAAE
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"active":false,"authorModifiedOn":"2013-08-18T10:01:03.000-07:00","authorship":[{"featured":false,"status":"new","sulPublicationId":31774,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":7776,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":30842,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":33912,"visibility":"public"},{"featured":false,"status":"new","sulPublicationId":23008,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":11961,"visibility":"public"},{"featured":false,"status":"new","sulPublicationId":33614,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":19088,"visibility":"public"}],"importEnabled":false,"importSettings":[{"firstName":"Hower","institution":"Stanford
        University","lastName":"Kwon"}],"lastModified":"2013-08-19T06:03:34.462-07:00","profile":{"californiaPhysicianLicense":"G80767","displayName":"Hower
        Kwon","email":"hower.kwon@stanford.edu","meta":{"etag":"1441175282","links":[{"href":"http://irt-ppapp-02:12011/cap-api-qa/api/profiles/v1/3871","rel":"https://cap.stanford.edu/rel/self"},{"href":"https://irt-dev.stanford.edu/cap-su-qa/null","rel":"https://cap.stanford.edu/rel/public"},{"href":"https://cap-irt-dev.stanford.edu/profiles-qa/auth/frdActionServlet?choiceId=facProfile&profileId=3871","rel":"https://cap.stanford.edu/rel/intranet"},{"href":"https://cap-irt-dev.stanford.edu/profiles-qa/frdActionServlet?choiceId=printerprofile&profileversion=full&profileId=3871","rel":"https://cap.stanford.edu/rel/pdf"}]},"names":{"legal":{"firstName":"Hower","lastName":"Kwon"},"preferred":{"firstName":"Hower","lastName":"Kwon"}},"profileId":3871,"uid":"howerk","universityId":"04777025"},"profileId":3871,"visibility":"public"}'
  recorded_at: Mon, 19 Aug 2013 22:11:42 GMT
[...]
