---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery>      <![CDATA[\n
        \     <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
        \         <Criterion>\n              <Criteria>\n                  <Criterion>\n
        \                     <Filter>\n                          <Column>DOI</Column>\n
        \                         <Operator>Equals</Operator>\n                          <Value>10.1111/j.1444-0938.2010.00524.x</Value>\n
        \                     </Filter>\n                  </Criterion>\n              </Criteria>\n
        \         </Criterion>\n          <MaximumRows>200</MaximumRows>\n      </query>\n
        \     ]]>\n</xmlQuery>\n      </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>142611</queryID>\r\n
        \ <queryResultRows>1</queryResultRows>\r\n  <totalRows>1</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 07 Mar 2016 22:18:52 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/142611?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>37929883</PublicationItemID>\r\n    <Title>An international
        survey of contact lens prescribing for presbyopia</Title>\r\n    <Abstract>Purpose:
        \ The aim was to determine world-wide patterns of fitting contact lenses for
        the correction of presbyopia.  Methods:  Up to 1,000 survey forms were sent
        to contact lens fitters in each of 38 countries between January and March
        every year over five consecutive years (2005 to 2009). Practitioners were
        asked to record data relating to the first 10 contact lens fittings or refittings
        performed after receiving the survey form.  Results:  Data w[...]
