---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery>      <![CDATA[\n
        \     <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
        \         <Criterion>\n              <Criteria>\n                  <Criterion>\n
        \                     <Filter>\n                          <Column>DOI</Column>\n
        \                         <Operator>Equals</Operator>\n                          <Value>10.1016/j.mcn.2012.03.007</Value>\n
        \                     </Filter>\n                  </Criterion>\n              </Criteria>\n
        \         </Criterion>\n          <MaximumRows>200</MaximumRows>\n      </query>\n
        \     ]]>\n</xmlQuery>\n      </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>142612</queryID>\r\n
        \ <queryResultRows>1</queryResultRows>\r\n  <totalRows>1</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 27 Apr 2015 21:33:21 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/142612?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>60813767</PublicationItemID>\r\n    <Title>The T3-induced
        gene KLF9 regulates oligodendrocyte differentiation and myelin regeneration</Title>\r\n
        \   <Abstract>Hypothyroidism is a well-described cause of hypomyelination.
        In addition, thyroid hormone (T3) has recently been shown to enhance remyelination
        in various animal models of CNS demyelination. What are the ways in which
        T3 promotes the development and regeneration of healthy myelin? To begin to
        understand the mechanisms by which 13 drives myelination, we have identified
        genes regulated specifically by T3 in purified oligodendrocyte precursor cells
        (O[...]
