---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery><![CDATA[\n\t
        \    <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/\n\t
        \   XMLSchema\">\n\t      <Criterion ConjunctionOperator=\"AND\">\n\t        <Criteria><Criterion>\n\t
        \           <Filter>\n\t              <Column>Title</Column>\n\t              <Operator>Contains</Operator>\n\t
        \             <Value>lung cancer treatment</Value>\n\t            </Filter>\n\t
        \         </Criterion></Criteria>\n\t      </Criterion>\n\t      <Columns>\n\t
        \       <SortColumn>\n\t          <Column>Rank</Column>\n\t          <Direction>Descending</Direction>\n\t
        \       </SortColumn>\n\t      </Columns>\n\t     <MaximumRows>20</MaximumRows>\n\t
        \   </query>\n\t    ]]></xmlQuery>\n      </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>50106</queryID>\r\n
        \ <queryResultRows>20</queryResultRows>\r\n  <totalRows>20</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Sun, 08 Sep 2013 20:09:51 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/50106?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>63687762</PublicationItemID>\r\n    <Title>Assessment
        of the Impact of FDG-PET on Lung Cancer Treatment.</Title>\r\n    <Abstract
        />\r\n    <AuthorList>Ashish,A,|Menzes,B,|Sheppard,S,|Walker,P,P</AuthorList>\r\n
        \   <AuthorCount>4</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Meeting
        Abstract</DocumentTypeList>\r\n    <DocumentCategory>Conference Proceeding
        Document</DocumentCategory>\r\n    <NumberOfReferences xsi:nil=\"true\" />\r\n
        \   <TimesCited>0</TimesCited>\r\n    <TimesNotSelfCited>0</TimesNotSelfCited>\r\n
        \   <PMID xsi:nil=\"true\" />\r\n    <WoSItemID>000208733103711</WoSItemID>\r\n
        \   <PublicationSourceTitle>AMERICAN JOURNAL OF RESPIRATORY AND CRITICAL CARE
        MEDICINE</PublicationSourceTitle>\r\n    <Volume>179</Volume>\r\n    <Pagination
        />\r\n    <PublicationDate>2009-01-01T00:00:00</PublicationDate>\r\n    <PublicationYear>2009</PublicationYear>\r\n
        \   <PublicationType>Journal</PublicationType>\r\n    <PublicationSubjectCategoryList>Critical
        Care Medicine|Respiratory System</PublicationSubjectCategoryList>\r\n    <ISSN>1073-449X</ISSN>\r\n
        \   <ConferenceStartDate xsi:nil=\"true\" />\r\n    <ConferenceEndDate xsi:nil=\"true\"
        />\r\n    <Rank xsi:nil=\"true\" />\r\n    <OrdinalRank>0</OrdinalRank>\r\n
        \   <NormalizedRank xsi:nil=\"true\" />\r\n    <NewPublicationItemID xsi:nil=\"true\"
        />\r\n    <IsObsolete>false</IsObsolete>\r\n    <CopyrightPublisher>AMER THORACIC
        SOC</CopyrightPublisher>\r\n    <CopyrightCity>NEW YORK</CopyrightCity>\r\n
        \   <PublicationImpactFactorList>10.689,2009,ExactPublicationYear|11.08,2011,MostRecentYear</PublicationImpactFactorList>\r\n
        \   <PublicationCategoryRankingList>1/22;CRITICAL CARE MEDICINE;2009;SC;ExactPublicationYear|1/43;RESPIRATORY
        SYSTEM;2009;SC;ExactPublicationYear|1/26;CRITICAL CARE MEDICINE;2011;SC;MostRecentYear|1/48;RESPIRATORY
        SYSTEM;2011;SC;MostRecentYear</PublicationCategoryRankingList>\r\n    <AuthorCitationCountList>1,0,0|2,0,0|3,0,0|4,0,0</AuthorCitationCountList>\r\n
        \   <CopyrightStateProvince>NY</CopyrightStateProvince>\r\n    <CopyrightCountry>UNITED
        STATES</CopyrightCountry>\r\n  </PublicationItem>\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>63624517</PublicationItemID>\r\n    <Title>The evolution
        of lung cancer treatment.</Title>\r\n    <Abstract />\r\n    <AuthorList />\r\n
        \   <AuthorCount>0</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Editorial</DocumentTypeList>\r\n
        \   <DocumentCategory>Other</DocumentCategory>\r\n    <NumberOfReferences
        xsi:nil=\"true\" />\r\n    <TimesCited xsi:nil=\"true\" />\r\n    <TimesNotSelfCited
        xsi:nil=\"true\" />\r\n    <PMID>23890032</PMID>\r\n    <PublicationSourceTitle>Lancet</PublicationSourceTitle>\r\n
        \   <Volume>382</Volume>\r\n    <Issue>9889</Issue>\r\n    <Pagination>286-?</Pagination>\r\n
        \   <PublicationDate>2013-07-27T00:00:00</PublicationDate>\r\n    <PublicationYear>2013</PublicationYear>\r\n
        \   <PublicationSubjectCategoryList />\r\n    <ISSN>0140-6736</ISSN>\r\n    <DOI>10.1016/S0140-6736(13)61619-0</DOI>\r\n
        \   <ConferenceStartDate xsi:nil=\"true\" />\r\n    <ConferenceEndDate xsi:nil=\"true\"
        />\r\n    <Rank xsi:nil=\"true\" />\r\n    <OrdinalRank>1</OrdinalRank>\r\n
        \   <NormalizedRank xsi:nil=\"true\" />\r\n    <NewPublicationItemID xsi:nil=\"true\"
        />\r\n    <IsObsolete>false</IsObsolete>\r\n    <CopyrightPublisher>ELSEVIER
        LTD</CopyrightPublisher>\r\n    <CopyrightCity />\r\n    <PublicationImpactFactorList>38.278,[...]
