---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery><![CDATA[\n\t
        \    <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/\n\t
        \   XMLSchema\">\n\t      <Criterion ConjunctionOperator=\"AND\">\n\t        <Criteria><Criterion>\n\t
        \           <Filter>\n\t              <Column>Title</Column>\n\t              <Operator>Contains</Operator>\n\t
        \             <Value>lung cancer treatment</Value>\n\t            </Filter>\n\t
        \         </Criterion></Criteria>\n\t      </Criterion>\n\t      <Columns>\n\t
        \       <SortColumn>\n\t          <Column>Rank</Column>\n\t          <Direction>Descending</Direction>\n\t
        \       </SortColumn>\n\t      </Columns>\n\t     <MaximumRows>20</MaximumRows>\n\t
        \   </query>\n\t    ]]></xmlQuery>\n      </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>50106</queryID>\r\n
        \ <queryResultRows>20</queryResultRows>\r\n  <totalRows>20</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Sat, 06 Dec 2014 02:06:43 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/50106?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>68035832</PublicationItemID>\r\n    <Title>Development
        in lung cancer treatment - from one size fits all to personalised therapy</Title>\r\n
        \   <Abstract />\r\n    <AuthorList>Espersen,B,</AuthorList>\r\n    <AuthorCount>1</AuthorCount>\r\n
        \   <KeywordList />\r\n    <DocumentTypeList>Meeting Abstract</DocumentTypeList>\r\n
        \   <DocumentCategory>Conference Proceeding Document</DocumentCategory>\r\n
        \   <NumberOfReferences>5</NumberOfReferences>\r\n    <TimesCited>0</TimesCited>\r\n
        \   <TimesNotSelfCited>0</TimesNotSelfCited>\r\n    <PMID xsi:nil=\"true\"
        />\r\n    <WoSItemID>000343363500002</WoSItemID>\r\n    <PublicationSourceTitle>EUROPEAN
        JOURNAL OF ONCOLOGY NURSING</PublicationSourceTitle>\r\n    <Volume>18</Volume>\r\n
        \   <Pagination>S1-S1</Pagination>\r\n    <PublicationDate>2014-09-01T00:00:00</PublicationDate>\r\n
        \   <PublicationYear>2014</PublicationYear>\r\n    <PublicationType>Journal</PublicationType>\r\n
        \   <PublicationSubjectCategoryList>Oncology|Nursing</PublicationSubjectCategoryList>\r\n
        \   <ISSN>1462-3889</ISSN>\r\n    <ConferenceStartDate xsi:nil=\"true\" />\r\n
        \   <ConferenceEndDate xsi:nil=\"true\" />\r\n    <Rank xsi:nil=\"true\" />\r\n
        \   <OrdinalRank>0</OrdinalRank>\r\n    <NormalizedRank xsi:nil=\"true\" />\r\n
        \   <NewPublicationItemID xsi:nil=\"true\" />\r\n    <IsObsolete>false</IsObsolete>\r\n
        \   <CopyrightPublisher>ELSEVIER SCI LTD</CopyrightPublisher>\r\n    <CopyrightCity>OXFORD</CopyrightCity>\r\n
        \   <PublicationImpactFactorList>1.794,2013,ClosestToPublicationYear|1.794,2013,MostRecentYear</PublicationImpactFactorList>\r\n
        \   <PublicationCategoryRankingList>148/203;ONCOLOGY;2013;SC;ClosestToPublicationYear|13/107;NURSING;2013;SC;ClosestToPublicationYear|12/105;NURSING;2013;SS;ClosestToPublicationYear|148/203;ONCOLOGY;2013;SC;MostRecentYear|13/107;NURSING;2013;SC;MostRecentYear|12/105;NURSING;2013;SS;MostRecentYear</PublicationCategoryRankingList>\r\n
        \   <AuthorCitationCountList>1,0,0</AuthorCitationCountList>\r\n    <CopyrightStateProvince>OXON</CopyrightStateProvince>\r\n
        \   <CopyrightCountry>UNITED KINGDOM</CopyrightCountry>\r\n  </PublicationItem>\r\n
        \ <PublicationItem>\r\n    <PublicationItemID>67955507</PublicationItemID>\r\n
        \   <Title>SMALL CELL LUNG CANCER IN DAILY PRACTICE; SCOT REGISTRY (SMALL
        CELL LUNG CANCER TREATMENT AND OUTCOME)</Title>\r\n    <Abstract />\r\n    <AuthorList>Postmus,Pieter,E|Quoix,Elisabeth,|Ardizzioni,Andrea,|Le
        Chevalier,Thierry,|Garrido,Pilar,|Raillard,Alice,|Rabier,Paola,|Lavigne,Stephane,|Deville,Coralie,|Fletcher,Jo[...]
