---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery><![CDATA[\n\t
        \    <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/\n\t
        \   XMLSchema\">\n\t      <Criterion ConjunctionOperator=\"AND\">\n\t        <Criteria><Criterion>\n\t
        \           <Filter>\n\t              <Column>Title</Column>\n\t              <Operator>Contains</Operator>\n\t
        \             <Value>lung cancer treatment</Value>\n\t            </Filter>\n\t
        \         </Criterion></Criteria>\n\t      </Criterion>\n\t      <Columns>\n\t
        \       <SortColumn>\n\t          <Column>Rank</Column>\n\t          <Direction>Descending</Direction>\n\t
        \       </SortColumn>\n\t      </Columns>\n\t     <MaximumRows>20</MaximumRows>\n\t
        \   </query>\n\t    ]]></xmlQuery>\n      </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>50106</queryID>\r\n
        \ <queryResultRows>20</queryResultRows>\r\n  <totalRows>20</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Tue, 19 Nov 2013 00:20:18 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/50106?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>64256955</PublicationItemID>\r\n    <Title>Endobronchial
        Drainage Of A Pulmonary Abscess After Small Cell Lung Cancer Treatment</Title>\r\n
        \   <Abstract />\r\n    <AuthorList>Toth,J,W|Reed,M,F</AuthorList>\r\n    <AuthorCount>2</AuthorCount>\r\n
        \   <KeywordList />\r\n    <DocumentTypeList>Meeting Abstract</DocumentTypeList>\r\n
        \   <DocumentCategory>Conference Proceeding Document</DocumentCategory>\r\n
        \   <NumberOfReferences xsi:nil=\"true\" />\r\n    <TimesCited>0</TimesCited>\r\n
        \   <TimesNotSelfCited>0</TimesNotSelfCited>\r\n    <PMID xsi:nil=\"true\"
        />\r\n    <WoSItemID>000208770304340</WoSItemID>\r\n    <PublicationSourceTitle>AMERICAN
        JOURNAL OF RESPIRATORY AND CRITICAL CARE MEDICINE</PublicationSourceTitle>\r\n
        \   <Volume>183</Volume>\r\n    <Pagination />\r\n    <PublicationDate>2011-01-01T00:00:00</PublicationDate>\r\n
        \   <PublicationYear>2011</PublicationYear>\r\n    <PublicationType>Journal</PublicationType>\r\n
        \   <PublicationSubjectCategoryList>Critical Care Medicine|Respiratory System</PublicationSubjectCategoryList>\r\n
        \   <ISSN>1073-449X</ISSN>\r\n    <ConferenceStartDate xsi:nil=\"true\" />\r\n
        \   <ConferenceEndDate xsi:nil=\"true\" />\r\n    <Rank xsi:nil=\"true\" />\r\n
        \   <OrdinalRank>0</OrdinalRank>\r\n    <NormalizedRank xsi:nil=\"true\" />\r\n
        \   <NewPublicationItemID xsi:nil=\"true\" />\r\n    <IsObsolete>false</IsObsolete>\r\n
        \   <CopyrightPublisher>AMER THORACIC SOC</CopyrightPublisher>\r\n    <CopyrightCity>NEW
        YORK</CopyrightCity>\r\n    <PublicationImpactFactorList>11.08,2011,ExactPublicationYear|11.041,2012,MostRecentYear</PublicationImpactFactorList>\r\n
        \   <PublicationCategoryRankingList>1/26;CRITICAL CARE MEDICINE;2011;SC;ExactPublicationYear|1/48;RESPIRATORY
        SYSTEM;2011;SC;ExactPublicationYear|1/27;CRITICAL CARE MEDICINE;2012;SC;MostRecentYear|1/50;RESPIRATORY
        SYSTEM;2012;SC;MostRecentYear</PublicationCategoryRankingList>\r\n    <AuthorCitationCountList>1,0,0|2,0,0</AuthorCitationCountList>\r\n
        \   <CopyrightStateProvince>NY</CopyrightStateProvince>\r\n    <CopyrightCountry>UNITED
        STATES</CopyrightCountry>\r\n  </PublicationItem>\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>64211106</PublicationItemID>\r\n    <Title>Influence
        Of Asthma Control In Asthmatics With Lung Cancer In Response To Lung Cancer
        Treatment</Title>\r\n    <Abstract />\r\n    <AuthorList>Hsieh,C,H|Kuo,H,|Wang,C,H|Li,K,Y</AuthorList>\r\n
        \   <AuthorCount>4</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Meeting
        Abstract</DocumentTy[...]
