---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery>&lt;query
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"&gt;\n
        \             &lt;Criterion ConjunctionOperator=\"AND\"&gt;\n                &lt;Criteria&gt;\n
        \                 &lt;Criterion&gt;\n                    &lt;Filter&gt;\n
        \                     &lt;Column&gt;PMID&lt;/Column&gt;\n                      &lt;Operator&gt;In&lt;/Operator&gt;\n
        \                     &lt;Values&gt;&lt;Value&gt;99999999&lt;/Value&gt;&lt;/Values&gt;\n
        \                           &lt;/Filter&gt;\n                          &lt;/Criterion&gt;\n
        \                       &lt;/Criteria&gt;\n                      &lt;/Criterion&gt;\n
        \                     &lt;Columns&gt;\n                        &lt;SortColumn&gt;\n
        \                         &lt;Column&gt;Rank&lt;/Column&gt;\n                          &lt;Direction&gt;Descending&lt;/Direction&gt;\n
        \                       &lt;/SortColumn&gt;\n                      &lt;/Columns&gt;\n
        \                     &lt;MaximumRows&gt;1000&lt;/MaximumRows&gt;\n                    &lt;/query&gt;</xmlQuery>\n
        \     </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>143802</queryID>\r\n
        \ <queryResultRows>0</queryResultRows>\r\n  <totalRows>0</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 07 Mar 2016 22:19:24 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/143802?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" />"
  recorded_at: Mon, 07 Mar 2016 22:19:24 GMT
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: US-ASCII
      string: ! '&id=99999999'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Sid:
      - 73BF0AC56DDFE6C1_0756SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January
        2016//EN" "http://www.ncbi.nlm.nih.gov/corehtml/query/DTD/pubmed_160101.dtd">

        <PubmedArticleSet>

        </PubmedArticleSet>

'
  recorded_at: Mon, 07 Mar 2016 22:19:24 GMT
recorded_with: VCR 2.9.3
