---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
              <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xmlQuery>&lt;query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
                      &lt;Criterion ConjunctionOperator="AND"&gt;
                        &lt;Criteria&gt;
                          &lt;Criterion&gt;
                            &lt;Filter&gt;
                              &lt;Column&gt;PMID&lt;/Column&gt;
                              &lt;Operator&gt;In&lt;/Operator&gt;
                              &lt;Values&gt;&lt;Value&gt;10487815&lt;/Value&gt;&lt;/Values&gt;
                                    &lt;/Filter&gt;
                                  &lt;/Criterion&gt;
                                &lt;/Criteria&gt;
                              &lt;/Criterion&gt;
                              &lt;Columns&gt;
                                &lt;SortColumn&gt;
                                  &lt;Column&gt;Rank&lt;/Column&gt;
                                  &lt;Direction&gt;Descending&lt;/Direction&gt;
                                &lt;/SortColumn&gt;
                              &lt;/Columns&gt;
                              &lt;MaximumRows&gt;1000&lt;/MaximumRows&gt;
                            &lt;/query&gt;</xmlQuery>
              </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>142959</queryID>\r\n
        \ <queryResultRows>1</queryResultRows>\r\n  <totalRows>1</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Wed, 02 Dec 2015 20:58:27 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/142959?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>10340243</PublicationItemID>\r\n    <Title>Convergence
        and correlations among leaf size and function in seed plants: A comparative
        test using independent contrasts</Title>\r\n    <Abstract>Prior studies of
        a broad array of seed plants have reported strong correlations among leaf
        life span, specific leaf area, nitrogen concentration, and carbon assimilation
        rates, which have been interpreted as evidence of coordinated leaf physiological
        strategies. However, it is not known whether these relationships reflect patterns
        of evolutionary convergence, or whether they are due to contrasting characteristics
        of major seed plant lineages. We re[...]
