---
http_interactions:
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/44272?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" />"
  recorded_at: Tue, 23 Jul 2013 20:16:21 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - some-license-id
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\r\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head>\r\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=iso-8859-1\"/>\r\n<title>500 - Internal server
        error.</title>\r\n<style type=\"text/css\">\r\n<!--\r\nbody{margin:0;font-size:.7em;font-family:Verdana,
        Arial, Helvetica, sans-serif;background:#EEEEEE;}\r\nfieldset{padding:0 15px
        10px 15px;} \r\nh1{font-size:2.4em;margin:0;color:#FFF;}\r\nh2{font-size:1.7em;margin:0;color:#CC0000;}
        \r\nh3{font-size:1.2em;margin:10px 0 0 0;color:#000000;} \r\n#header{width:96%;margin:0
        0 0 0;padding:6px 2% 6px 2%;font-family:\"trebuchet MS\", Verdana, sans-serif;color:#FFF;\r\nbackground-color:#555555;}\r\n#content{margin:0
        0 0 2%;position:relative;}\r\n.content-container{background:#FFF;width:96%;margin-top:8px;padding:10px;position:relative;}\r\n-->\r\n</style>\r\n</head>\r\n<body>\r\n<div
        id=\"header\"><h1>Server Error</h1></div>\r\n<div id=\"content\">\r\n <div
        class=\"content-container\"><fieldset>\r\n  <h2>500 - Internal server error.</h2>\r\n
        \ <h3>There is a problem with the resource you are looking for, and it cannot
        be displayed.</h3>\r\n </fieldset></div>\r\n</div>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 11 Aug 2013 21:18:10 GMT
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery><![CDATA[\n\t
        \    <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/\n\t
        \   XMLSchema\">\n\t      <Criterion>\n\t        <Criteria><Criterion>\n\t
        \           <TextSearch>\n                  <QueryPredicate>(\"ottawa,yukon\"
        or \"OTTAWA,Y\") and Stanford</QueryPredicate>\n                  <SearchType>ExactMatch</SearchType>\n
        \                 <Columns>AggregateText</Columns>\n                  <MaximumRows>4</MaximumRows>\n
        \                 </TextSearch>\n\t          </Criterion><Criterion>\n  \t
        \           <Filter>\n  \t              <Column>AuthorLastName</Column>\n
        \ \t              <Operator>BeginsWith</Operator>\n  \t              <Value>OTTAWA</Value>\n
        \ \t            </Filter>\n  \t          </Criterion><Criterion>\n  \t            <Filter>\n
        \ \t              <Column>AuthorFirstName</Column>\n  \t              <Operator>BeginsWith</Operator>\n
        \ \t              <Value>Y</Value>\n  \t            </Filter>\n  \t          </Criterion></Criteria>\n\t
        \     </Criterion>\n\t      <Columns>\n\t        <SortColumn>\n\t          <Column>Rank</Column>\n\t
        \         <Direction>Descending</Direction>\n\t        </SortColumn>\n\t      </Columns>\n\t
        \    <MaximumRows>4</MaximumRows>\n\t    </query>\n\t    ]]></xmlQuery>\n
        \     </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>94679</queryID>\r\n
        \ <queryResultRows>0</queryResultRows>\r\n  <totalRows>0</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 12 Aug 2013 02:15:18 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/94679?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" />"
  recorded_at: Mon, 12 Aug 2013 02:15:18 GMT
recorded_with: VCR 2.5.0
