---
http_interactions:
- request:
    method: post
    uri: https://stg.sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery><![CDATA[\n\t
        \    <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/\n\t
        \   XMLSchema\">\n\t      <Criterion>\n\t        <Criteria><Criterion>\n\t
        \           <TextSearch>\n                  <QueryPredicate>(\"ottawa,yukon\"
        or \"OTTAWA,Y\") and Stanford</QueryPredicate>\n                  <SearchType>ExactMatch</SearchType>\n
        \                 <Columns>AggregateText</Columns>\n                  <MaximumRows>4</MaximumRows>\n
        \                 </TextSearch>\n\t          </Criterion><Criterion>\n  \t
        \           <Filter>\n  \t              <Column>AuthorLastName</Column>\n
        \ \t              <Operator>BeginsWith</Operator>\n  \t              <Value>OTTAWA</Value>\n
        \ \t            </Filter>\n  \t          </Criterion><Criterion>\n  \t            <Filter>\n
        \ \t              <Column>AuthorFirstName</Column>\n  \t              <Operator>BeginsWith</Operator>\n
        \ \t              <Value>Y</Value>\n  \t            </Filter>\n  \t          </Criterion><Criterion>\n
        \     \t            <Filter>\n      \t              <Column>DocumentCategory</Column>\n
        \     \t              <Operator>In</Operator>\n                      <Values>\n
        \     \t                <Value>Journal Document</Value>\n                        <Value>Conference
        Proceeding Document</Value>\n                      </Values>\n      \t            </Filter>\n
        \     \t          </Criterion></Criteria>\n\t      </Criterion>\n\t      <Columns>\n\t
        \       <SortColumn>\n\t          <Column>Rank</Column>\n\t          <Direction>Descending</Direction>\n\t
        \       </SortColumn>\n\t      </Columns>\n\t     <MaximumRows>4</MaximumRows>\n\t
        \   </query>\n\t    ]]></xmlQuery>\n      </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>79592</queryID>\r\n
        \ <queryResultRows>0</queryResultRows>\r\n  <totalRows>0</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Tue, 12 May 2015 23:31:07 GMT
- request:
    method: get
    uri: https://stg.sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/79592?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" />"
  recorded_at: Tue, 12 May 2015 23:31:07 GMT
recorded_with: VCR 2.5.0
