---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery><![CDATA[\n
        \      <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/\n
        \     XMLSchema\">\n        <Criterion>\n          <Criteria><Criterion>\n
        \             <TextSearch>\n                  <QueryPredicate>(\"ottawa,yukon\"
        or \"OTTAWA,Y\") and Stanford</QueryPredicate>\n                  <SearchType>ExactMatch</SearchType>\n
        \                 <Columns>AggregateText</Columns>\n                  <MaximumRows>4</MaximumRows>\n
        \                 </TextSearch>\n            </Criterion><Criterion>\n                <Filter>\n
        \                 <Column>AuthorLastName</Column>\n                  <Operator>BeginsWith</Operator>\n
        \                 <Value>OTTAWA</Value>\n                </Filter>\n              </Criterion><Criterion>\n
        \               <Filter>\n                  <Column>AuthorFirstName</Column>\n
        \                 <Operator>BeginsWith</Operator>\n                  <Value>Y</Value>\n
        \               </Filter>\n              </Criterion><Criterion>\n                    <Filter>\n
        \                     <Column>DocumentCategory</Column>\n                      <Operator>In</Operator>\n
        \                     <Values>\n                        <Value>Journal Document</Value>\n
        \                       <Value>Conference Proceeding Document</Value>\n                      </Values>\n
        \                   </Filter>\n                  </Criterion></Criteria>\n
        \       </Criterion>\n        <Columns>\n          <SortColumn>\n            <Column>Rank</Column>\n
        \           <Direction>Descending</Direction>\n          </SortColumn>\n        </Columns>\n
        \      <MaximumRows>4</MaximumRows>\n      </query>\n      ]]></xmlQuery>\n
        \     </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - some-license-id
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>129741</queryID>\r\n
        \ <queryResultRows>0</queryResultRows>\r\n  <totalRows>0</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 07 Mar 2016 22:17:53 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/129741?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - some-license-id
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" />"
  recorded_at: Mon, 07 Mar 2016 22:17:54 GMT
recorded_with: VCR 2.9.3
