---
http_interactions:
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationItems?format=xml&publicationItemIDs=42711845,22686456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>22686456</PublicationItemID>\r\n    <Title>TRACHEAL
        DAMAGE FOLLOWING CONVENTIONAL AND HIGH-FREQUENCY VENTILATION AT LOW AND HIGH
        HUMIDITY</Title>\r\n    <Abstract>Objectives: To compare the degree of tracheobronchial
        damage in newborn lambs ventilated for 6 hrs with relative humidities of 30%
        or 90% and continuous positive airway pressure breathing, conventional mechanical
        ventilation of 25 and 60 breaths/min, or high frequency flow-interrupted ventilation
        at 600 breaths/min.  Background and Methods: Tracheobronchial damage secondary
        to mechanical ventilation remains a major iatrogenic lesion of the newborn
        [...]
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: US-ASCII
      string: ! '&id=1914489&id=10048354'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Sid:
      - 9DFC5E7D53EAB251_0052SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<!DOCTYPE PubmedArticleSet PUBLIC \"-//NLM//DTD
        PubMedArticle, 1st January 2015//EN\" \"http://www.ncbi.nlm.nih.gov/corehtml/query/DTD/pubmed_150101.dtd\">\n<PubmedArticleSet>\n<PubmedArticle>\n
        \   <MedlineCitation Owner=\"NLM\" Status=\"MEDLINE\">\n        <PMID Version=\"1\">1914489</PMID>\n
        \       <DateCreated>\n            <Year>1991</Year>\n            <Month>11</Month>\n
        \           <Day>13</Day>\n        </DateCreated>\n        <DateCompleted>\n
        \           <Year>1991</Year>\n            <Month>11</Month>\n            <Day>13</Day>\n
        \       </DateCompleted>\n        <DateRevised>\n            <Year>2006</Year>\n
        \           <Month>11</Month>\n            <Day>15</Day>\n        </DateRevised>\n
        \       <Article PubModel=\"Print\">\n            <Journal>\n                <ISSN
        IssnType=\"Print\">0090-3493</ISSN>\n                <JournalIssue CitedMedium=\"Print\">\n
        \                   <Volume>19</Volume>\n                    <Issue>10</Issue>\n
        \                   <PubDate>\n                        <Year>1991</Year>\n
        \                       <Month>Oct</Month>\n                    </PubDate>\n
        \               </JournalIssue>\n                <Title>Critical care medicine</Title>\n
        \               <ISOAbbreviation>Crit. Care Med.</ISOAbbreviation>\n            </Journal>\n
        \           <ArticleTitle>Tracheal damage following conventional and high-frequency
        ventilation at low and high humidity.</ArticleTitle>\n            <Pagination>\n
        \               <MedlinePgn>1310-6</MedlinePgn>\n            </Pagination>\n
        \           <Abstract>\n                <AbstractText Label=\"OBJECTIVES\"
        NlmCategory=\"OBJECTIVE\">To compare the degree of tracheobronchial damage
        in newborn lambs ventilated for 6 hrs with relative humidities of 30% or 90%
        and continuous positive airway pressure breathing, conventional mechanical
        ventilation of 25 and 60 breaths/min, or high frequency flow-interrupted ventilation
        at 600 breaths/min.</AbstractText>\n                <AbstractText Label=\"BACKGROUND
        AND METHODS\" NlmCategory=\"METHOD[...]
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationItems?format=xml&publicationItemIDs=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\r\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head>\r\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=iso-8859-1\"/>\r\n<title>500 - Internal server
        error.</title>\r\n<style type=\"text/css\">\r\n<!--\r\nbody{margin:0;font-size:.7em;font-family:Verdana,
        Arial, Helvetica, sans-serif;background:#EEEEEE;}\r\nfieldset{padding:0 15px
        10px 15px;} \r\nh1{font-size:2.4em;margin:0;color:#FFF;}\r\nh2{font-size:1.7em;margin:0;color:#CC0000;}
        \r\nh3{font-size:1.2em;margin:10px 0 0 0;color:#000000;} \r\n#header{width:96%;margin:0
        0 0 0;padding:6px 2% 6px 2%;font-family:\"trebuchet MS\", Verdana, sans-serif;color:#FFF;\r\nbackground-color:#555555;}\r\n#content{margin:0
        0 0 2%;position:relative;}\r\n.content-container{background:#FFF;width:96%;margin-top:8px;padding:10px;position:relative;}\r\n-->\r\n</style>\r\n</head>\r\n<body>\r\n<div
        id=\"header\"><h1>Server Error</h1></div>\r\n<div id=\"content\">\r\n <div
        class=\"content-container\"><fieldset>\r\n  <h2>500 - Internal server error.</h2>\r\n
        \ <h3>There is a problem with the resource you are looking for, and it cannot
        be displayed.</h3>\r\n </fieldset></div>\r\n</div>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 27 Apr 2015 21:33:29 GMT
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Ncbi-Sid:
      - 08DD3B2C53EAB281_0313SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE eEfetchResult
        PUBLIC \"-//NLM//DTD efetch 20131226//EN\" \"http://eutils.ncbi.nlm.nih.gov/eutils/dtd/20131226/efetch.dtd\">\n<eFetchResult>\n\t<ERROR>WebEnv
        parameter is required</ERROR>\n</eFetchResult>\n"
  recorded_at: Mon, 27 Apr 2015 21:33:29 GMT
recorded_with: VCR 2.5.0
