---
http_interactions:
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/82298?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>60524632</PublicationItemID>\r\n    <Title>Biaxially-textured
        photovoltaic film crystal silicon on ion beam assisted deposition CaF2 seed
        layers on glass</Title>\r\n    <Abstract>We grow biaxially textured heteroepitaxial
        crystal silicon (c-Si) films on display glass as a low-cost photovoltaic material.
        We first fabricate textured CaF2 seed layers using ion-beam assisted deposition,
        then coat the CaF2 with a thin, evaporated epitaxial Ge buffer and finally
        deposit heteroepitaxial silicon on the Ge. The silicon is grown by hot-wire
        chemical vapor deposition, a high-rate, scalable epitaxy technology. Electron
        and X-ray diffraction confirm the biaxial texture of the CaF2 and epitaxial
        growth of the subsequent layers. Transmission electron microscopy reveals
        columnar silicon grains about 500 nm across. We fabricate a proof-of-concept
        epitaxial film c-Si solar cell with an open circuit voltage of 375 mV that
        is limited by minority carrier lifetime.</Abstract>\r\n    <AuthorList>Groves,James,R|Li,Joel,B|Clemens,Bruce,M|LaSalvia,Vincenzo,|Hasoon,Falah,|Branz,Howard,M|Teplin,Charles,W</AuthorList>\r\n
        \   <AuthorCount>7</AuthorCount>\r\n    <KeywordList>NI|ROUTE|SOLAR-CELLS|DISLOCATION
        DENSITY|ALUMINUM-INDUCED CRYSTALLIZATION</KeywordList>\r\n    <DocumentTypeList>Article</DocumentTypeList>\r\n
        \   <DocumentCategory>Journal Document</DocumentCategory>\r\n    <NumberOfReferences>23</NumberOfReferences>\r\n
        \   <TimesCited>2</TimesCited>\r\n    <TimesNotSelfCited>2</TimesNotSelfCited>\r\n
        \   <PMID xsi:nil=\"true\" />\r\n    <WoSItemID>000303251500027</WoSItemID>\r\n
        \   <PublicationSourceTitle>ENERGY &amp; ENVIRONMENTAL SCIENCE</PublicationSourceTitle>\r\n
        \   <Volume>5</Volume>\r\n    <Issue>5</Issue>\r\n    <Pagination>6905-6908</Pagination>\r\n
        \   <PublicationDate>2012-05-01T00:00:00</PublicationDate>\r\n    <PublicationYear>2012</PublicationYear>\r\n
        \   <PublicationType>Journal</PublicationType>\r\n    <PublicationSubjectCategoryList>Chemistry,
        Multidisciplinary|Energy &amp; Fuels|Engineering, Chemical|Environmental Sciences</PublicationSubjectCategoryList>\r\n
        \   <ISSN>1754-5692</ISSN>\r\n    <DOI>10.1039/c2ee21097e</DOI>\r\n    <ConferenceStartDate
        xsi:nil=\"true\" />\r\n    <ConferenceEndDate xsi:nil=\"true\" />\r\n    <Rank
        xsi:nil=\"true\" />\r\n    <OrdinalRank>0</OrdinalRank>\r\n    <NormalizedRank
        xsi:nil=\"true\" />\r\n    <NewPublicationItemID xsi:nil=\"true\" />\r\n    <IsObsolete>false</IsObsolete>\r\n
        \   <CopyrightPublisher>ROYAL SOC CHEMISTRY</CopyrightPublisher>\r\n    <CopyrightCity>CAMBRIDGE</CopyrightCity>\r\n
        \   <PublicationImpactFactorList>9.61,2011,ClosestToPublicationYear|9.61,2011,MostRecentYear</PublicationImpactFactorList>\r\n
        \   <PublicationCategoryRankingList>12/149;CHEMISTRY, MULTIDISCIPLINARY;2011;SC;ClosestToPublicationYear|3/79;ENERGY
        &amp; FUELS;2011;SC;ClosestToPublicationYear|3/132;ENGINEERING, CHEMICAL;2011;SC;ClosestToPublicationYear|1/203;ENVIRONMENTAL
        SCIENCES;2011;SC;ClosestToPublicationYear|12/149;CHEMISTRY, MULTIDISCIPLINARY;2011;SC;MostRecentYear|3/79;ENERGY
        &amp; FUELS;2011;SC;MostRecentYear|3/132;ENGINEERING, CHEMICAL;2011;SC;MostRecentYear|1/203;ENVIRONMENTAL
        SCIENCES;2011;SC;MostRecentYear</PublicationCategoryRankingList>\r\n    <AuthorCitationCountList>1,0,2|2,0,2|3,0,2|4,0,2|5,0,2|6,0,2|7,0,2</AuthorCitationCountList>\r\n
        \   <CopyrightStateProvince>CAMBS</CopyrightStateProvince>\r\n    <CopyrightCountry>UNITED
        KINGDOM</CopyrightCountry>\r\n  </PublicationItem>\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>62352332</PublicationItemID>\r\n    <Title>Mn3O4 Supported
        on Glassy Carbon: An Active Non-Precious Metal Catalyst for the Oxygen Reduction
        Reaction</Title>\r\n    <Abstract>In this work, we explore the interplay between
        manganese oxide (MnOx) nanomaterials and a glassy carbon (GC) support in catalyzing
        the oxygen reduction reaction (ORR) in [...]
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery><![CDATA[\n
        \     <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
        \       <Criterion ConjunctionOperator=\"AND\">\n          <Criteria>\n            <Criterion>\n
        \             <Filter>\n                <Column>WoSItemID</Column>\n                <Operator>In</Operator>\n
        \               <Values>\n<Value>000309917800142</Value>\n</Values>\n                </Filter>\n
        \             </Criterion>\n            </Criteria>\n          </Criterion><Columns>\n
        \           <SortColumn>\n              <Column>PublicationItemID</Column>\n
        \             <Direction>Ascending</Direction>\n            </SortColumn>\n
        \         </Columns>\n        </query>\n    ]]></xmlQuery>\n      </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>136741</queryID>\r\n
        \ <queryResultRows>1</queryResultRows>\r\n  <totalRows>1</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Sat, 09 Aug 2014 00:22:24 GMT
[...]
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Ncbi-Sid:
      - 9DFC17D23E569C11_0876SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE eEfetchResult
        PUBLIC \"-//NLM//DTD efetch 20131226//EN\" \"http://eutils.ncbi.nlm.nih.gov/eutils/dtd/20131226/efetch.dtd\">\n<eFetchResult>\n\t<ERROR>WebEnv
        parameter is required</ERROR>\n</eFetchResult>\n"
  recorded_at: Sat, 09 Aug 2014 00:22:25 GMT
recorded_with: VCR 2.5.0
