---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery><![CDATA[\n\t
        \    <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/\n\t
        \   XMLSchema\">\n\t      <Criterion>\n\t        <Criteria><Criterion>\n\t
        \           <TextSearch>\n                  <QueryPredicate>(\"smith,james\"
        or \"SMITH,J\") and Stanford</QueryPredicate>\n                  <SearchType>ExactMatch</SearchType>\n
        \                 <Columns>AggregateText</Columns>\n                  <MaximumRows>200</MaximumRows>\n
        \                 </TextSearch>\n\t          </Criterion><Criterion>\n  \t
        \           <Filter>\n  \t              <Column>AuthorLastName</Column>\n
        \ \t              <Operator>BeginsWith</Operator>\n  \t              <Value>SMITH</Value>\n
        \ \t            </Filter>\n  \t          </Criterion><Criterion>\n  \t            <Filter>\n
        \ \t              <Column>AuthorFirstName</Column>\n  \t              <Operator>BeginsWith</Operator>\n
        \ \t              <Value>J</Value>\n  \t            </Filter>\n  \t          </Criterion></Criteria>\n\t
        \     </Criterion>\n\t      <Columns>\n\t        <SortColumn>\n\t          <Column>Rank</Column>\n\t
        \         <Direction>Descending</Direction>\n\t        </SortColumn>\n\t      </Columns>\n\t
        \    <MaximumRows>200</MaximumRows>\n\t    </query>\n\t    ]]></xmlQuery>\n
        \     </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>94939</queryID>\r\n
        \ <queryResultRows>13</queryResultRows>\r\n  <totalRows>13</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Tue, 20 Aug 2013 18:27:47 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/94939?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>49570291</PublicationItemID>\r\n    <Title>ENVIRONMENTAL
        SCANNING</Title>\r\n    <Abstract />\r\n    <AuthorList>SMITH,J,B</AuthorList>\r\n
        \   <AuthorCount>1</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Letter</DocumentTypeList>\r\n
        \   <DocumentCategory>Journal Document</DocumentCategory>\r\n    <NumberOfReferences>1</NumberOfReferences>\r\n
        \   <TimesCited>0</TimesCited>\r\n    <TimesNotSelfCited>0</TimesNotSelfCited>\r\n
        \   <PMID xsi:nil=\"true\" />\r\n    <WoSItemID>A1984TR77200001</WoSItemID>\r\n
        \   <PublicationSourceTitle>FUTURIST</PublicationSourceTitle>\r\n    <Volume>18</Volume>\r\n
        \   <Issue>6</Issue>\r\n    <Pagination>2-2</Pagination>\r\n    <PublicationDate>1984-01-01T00:00:00</PublicationDate>\r\n
        \   <PublicationYear>1984</PublicationYear>\r\n    <PublicationType>Journal</PublicationType>\r\n
        \   <PublicationSubjectCategoryList>Social Issues</PublicationSubjectCategoryList>\r\n
        \   <ISSN>0016-3317</ISSN>\r\n    <ConferenceStartDate xsi:nil=\"true\" />\r\n
        \   <ConferenceEndDate xsi:nil=\"true\" />\r\n    <Rank>112</Rank>\r\n    <OrdinalRank>0</OrdinalRank>\r\n
        \   <NormalizedRank>100</NormalizedRank>\r\n    <NewPublicationItemID xsi:nil=\"true\"
        />\r\n    <IsObsolete>false</IsObsolete>\r\n    <CopyrightPublisher>WORLD
        FUTURE SOCIETY</CopyrightPublisher>\r\n    <CopyrightCity>BETHESDA</CopyrightCity>\r\n
        \   <PublicationImpactFactorList>0.044,2011,MostRecentYear</PublicationImpactFactorList>\r\n
        \   <PublicationCategoryRankingList>37/37;SOCIAL ISSUES;2011;SS;MostRecentYear</PublicationCategoryRankingList>\r\n
        \   <AuthorCitationCountList>1,0,0</AuthorCitationCountList>\r\n    <CopyrightStateProvince>MD</CopyrightStateProvince>\r\n
        \   <CopyrightCountry>UNITED STATES</CopyrightCountry>\r\n  </PublicationItem>\r\n
        \ <PublicationItem>\r\n    <PublicationItemID>59862982</PublicationItemID>\r\n
        \   <Title>IS VITAMIN D ASSOCIATED WITH ED? A REVIEW OF A COMPUTERIZED MEDICAL
        RECORD SYSTEM AT A TERTIARY CARE MEDICAL CENTER</Title>\r\n    <Abstract />\r\n
        \   <AuthorList>Shindel,Alan,|Smith,James,|Eisenberg,Michael,|Breyer,Benjamin,</AuthorList>\r\n
        \   <AuthorCount>4</AuthorCount>\r\n    <KeywordList />\r\n    <D[...]
