---
http_interactions:
- request:
    method: post
    uri: https://stg.sciencewirerest.discoverylogic.com/PublicationCatalog/MatchedPublicationItemIdsForAuthor?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0'?>\n      <PublicationAuthorMatchParameters xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
        xmlns:xsd='http://www.w3.org/2001/XMLSchema'>\n        <Authors>\n          <Author>\n
        \           <LastName>edler</LastName>\n            <FirstName>alice</FirstName>\n
        \           <MiddleName></MiddleName>\n            <City>Stanford</City>\n
        \           <State>CA</State>\n            <Country>USA</Country>\n            <Version>1</Version>\n
        \        </Author>\n      </Authors>\n      <DocumentCategory>Journal Document</DocumentCategory>\n
        \     <Emails>\n                  <string>alice.edler@stanford.edu</string>\n
        \               </Emails><PublicationItemIds><int>5199247</int><int>7877232</int><int>844542</int><int>1178390</int><int>29434219</int><int>30072480</int><int>30502634</int><int>46558063</int><int>31222988</int></PublicationItemIds><LimitToHighQualityMatchesOnly>true</LimitToHighQualityMatchesOnly></PublicationAuthorMatchParameters>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfItemMatchResult xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ItemMatchResult>\r\n
        \   <MatchRank>1</MatchRank>\r\n    <PublicationItemID>29352378</PublicationItemID>\r\n
        \   <MatchScore>1.2708333730697632</MatchScore>\r\n  </ItemMatchResult>\r\n
        \ <ItemMatchResult>\r\n    <MatchRank>2</MatchRank>\r\n    <PublicationItemID>29187981</PublicationItemID>\r\n
        \   <MatchScore>0.990359365940094</MatchScore>\r\n  </ItemMatchResult>\r\n
        \ <ItemMatchResult>\r\n    <MatchRank>3</MatchRank>\r\n    <PublicationItemID>46795732</PublicationItemID>\r\n
        \   <MatchScore>0.51730084419250488</MatchScore>\r\n  </ItemMatchResult>\r\n
        \ <ItemMatchResult>\r\n    <MatchRank>4</MatchRank>\r\n    <PublicationItemID>47593787</PublicationItemID>\r\n
        \   <MatchScore>0.496509313583374</MatchScore>\r\n  </ItemMatchResult>\r\n</ArrayOfItemMatchResult>"
  recorded_at: Tue, 12 May 2015 23:30:04 GMT
[...]
