---
http_interactions:
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationItems?format=xml&publicationItemIDs=42711845
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>42711845</PublicationItemID>\r\n    <Title>Frostbite:
        an orthopedic perspective.</Title>\r\n    <Abstract>Frostbite injury to the
        extremities has the potential for disastrous effects. This review provides
        information valuable to the orthopedic surgeon to aid in the evaluation and
        treatment of frostbite. The pathophysiology and predisposing factors that
        provide a basic understanding of the nature of frostbite are discussed. Accepted
        and experimental imaging studies and treatment options are also reviewed.
        An effort is made to give the orthopedic perspective on each issue, providing
        a valuable resource for all orthopedic surgeons involved in the care of the
        patient with frostbite.</Abstract>\r\n    <AuthorList>McAdams,T,R|Swenson,D,R|MILLER,R,A</AuthorList>\r\n
        \   <AuthorCount>3</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Journal
        Article|Review</DocumentTypeList>\r\n    <DocumentCategory>Journal Document</DocumentCategory>\r\n
        \   <NumberOfReferences>44</NumberOfReferences>\r\n    <TimesCited xsi:nil=\"true\"
        />\r\n    <TimesNotSelfCited xsi:nil=\"true\" />\r\n    <PMID>10048354</PMID>\r\n
        \   <PublicationSourceTitle>American journal of orthopedics (Belle Mead, N.J.)</PublicationSourceTitle>\r\n
        \   <Volume>28</Volume>\r\n    <Issue>1</Issue>\r\n    <Pagination>21-26</Pagination>\r\n
        \   <PublicationDate>1999-01-01T00:00:00</PublicationDate>\r\n    <PublicationYear>1999</PublicationYear>\r\n
        \   <PublicationImpactFactor xsi:nil=\"true\" />\r\n    <PublicationSubjectCategoryList
        />\r\n    <ISSN>1078-4519</ISSN>\r\n    <ConferenceStartDate xsi:nil=\"true\"
        />\r\n    <ConferenceEndDate xsi:nil=\"true\" />\r\n    <Rank xsi:nil=\"true\"
        />\r\n    <OrdinalRank>1</OrdinalRank>\r\n    <NormalizedRank xsi:nil=\"true\"
        />\r\n    <NewPublicationItemID>42711845</NewPublicationItemID>\r\n    <IsObsolete>false</IsObsolete>\r\n
        \   <CopyrightPublisher />\r\n    <CopyrightCity />\r\n  </PublicationItem>\r\n</ArrayOfPublicationItem>"
  recorded_at: Thu, 19 Sep 2013 20:34:26 GMT
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: US-ASCII
      string: ! '&id=10048354'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Sid:
      - 08DD7AE723B5FD21_0160SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<!DOCTYPE PubmedArticleSet PUBLIC \"-//NLM//DTD
        PubMedArticle, 1st May 2013//EN\" \"http://www.ncbi.nlm.nih.gov/corehtml/query/DTD/pubmed_130501.dtd\">\n<PubmedArticleSet>\n<PubmedArticle>\n
        \   <MedlineCitation Owner=\"NLM\" Status=\"MEDLINE\">\n        <PMID Version=\"1\">10048354</PMID>\n
        \       <DateCreated>\n            <Year>1999</Year>\n            <Month>04</Month>\n
        \           <Day>22</Day>\n        </DateCreated>\n        <DateCompleted>\n
        \           <Year>1999</Year>\n            <Month>04</Month>\n            <Day>22</Day>\n
        \       </DateCompleted>\n        <DateRevised>\n            <Year>2010</Year>\n
        \           <Month>01</Month>\n            <Day>05</Day>\n        </DateRevised>\n
        \       <Article PubModel=\"Print\">\n            <Journal>\n                <ISSN
        IssnType=\"Print\">1078-4519</ISSN>\n                <JournalIssue CitedMedium=\"Print\">\n
        \                   <Volume>28</Volume>\n                    <Issue>1</Issue>\n
        \                   <PubDate>\n                        <Year>1999</Year>\n
        \                       <Month>Jan</Month>\n                    </PubDate>\n
        \               </JournalIssue>\n                <Title>American journal of
        orthopedics (Belle Mead, N.J.)</Title>\n                <ISOAbbreviation>Am
        J. Orthop.</ISOAbbreviation>\n            </Journal>\n            <ArticleTitle>Frostbite:
        an orthopedic perspective.</ArticleTitle>\n            <Pagination>\n                <MedlinePgn>21-6</MedlinePgn>\n
        \           </Pagination>\n            <Abstract>\n                <AbstractText>Frostbite
        injury to the extremities has the potential for disastrous effects. This review
        provides information valuable to the orthopedic surgeon to aid in the evaluation
        and treatment of frostbite. The pathophysiology and predisposing factors that
        provide a basic understanding of the nature of frostbite are discussed. Accepted
        and experimental imaging studies and treatment options are also reviewed.
        An effort is made to give the orthopedic perspective on each issue, providing
        a valuable resource for all orthopedic surgeons involved in the care of the
        patient with frostbite.</AbstractText>\n            </Abstract>\n            <Affiliation>Department
        of Orthopaedics and Rehabilitation, University of New Mexico, Albuquerque,
        USA.</Affiliation>\n            <AuthorList CompleteYN=\"Y\">\n                <Author
        ValidYN=\"Y\">\n                    <LastName>McAdams</LastName>\n                    <ForeName>T
        R</ForeName>\n                    <Initials>TR</Initials>\n                </Author>\n
        \               <Author ValidYN=\"Y\">\n                    <LastName>Swenson</LastName>\n
        \                   <ForeName>D R</ForeName>\n                    <Initials>DR</Initials>\n
        \               </Author>\n                <Author ValidYN=\"Y\">\n                    <LastName>Miller</LastName>\n
        \                   <ForeName>R A</ForeName>\n                    <Initials>RA</Initials>\n
        \               </Author>\n            </AuthorList>\n            <Language>eng</Language>\n
        \           <PublicationTypeList>\n                <PublicationType>Case Reports</PublicationType>\n
        \               <PublicationType>Journal Article</PublicationType>\n                <PublicationType>Review</PublicationType>\n
        \           </PublicationTypeList>\n        </Article>\n        <MedlineJournalInfo>\n
        \           <Country>UNITED STATES</Country>\n            <MedlineTA>Am J
        Orthop (Belle Mead NJ)</MedlineTA>\n            <NlmUniqueID>9502918</NlmUniqueID>\n
        \           <ISSNLinking>1078-4519</ISSNLinking>\n        </MedlineJournalInfo>\n
        \       <CitationSubset>IM</CitationSubset>\n        <MeshHeadingList>\n            <MeshHeading>\n
        \               <DescriptorName MajorTopicYN=\"N\">Combined Modality Therapy</DescriptorName>\n
        \           </MeshHeading>\n            <MeshHeading>\n                <DescriptorName
        MajorTopicYN=\"N\">Female</DescriptorName>\n            </MeshHeading>\n            <MeshHeading>\n
        \               <DescriptorName MajorTopicYN=\"N\">Frostbite</DescriptorName>\n
        \               <QualifierName MajorTopicYN=\"Y\">diagnosis</QualifierName>\n
        \               <QualifierName MajorTopicYN=\"N\">drug therapy</QualifierName>\n
        \               <QualifierName MajorTopicYN=\"N\">physiopathology</QualifierName>\n
        \               <QualifierName MajorTopicYN=\"Y\">surgery</QualifierName>\n
        \           </MeshHeading>\n            <MeshHeading>\n                <DescriptorName
        MajorTopicYN=\"N\">Humans</DescriptorName>\n            </MeshHeading>\n            <MeshHeading>\n
        \               <DescriptorName MajorTopicYN=\"N\">Injury Severity Score</DescriptorName>\n
        \           </MeshHeading>\n            <MeshHeading>\n                <DescriptorName
        MajorTopicYN=\"N\">Male</DescriptorName>\n            </MeshHeading>\n            <MeshHeading>\n
        \               <DescriptorName MajorTopicYN=\"N\">Middle Aged</DescriptorName>\n
        \           </MeshHeading>\n            <MeshHeading>\n                <DescriptorName
        MajorTopicYN=\"Y\">Orthopedic Procedures</DescriptorName>\n            </MeshHeading>\n
        \           <MeshHeading>\n                <DescriptorName MajorTopicYN=\"N\">Prognosis</DescriptorName>\n
        \           </MeshHeading>\n        </MeshHeadingList>\n        <NumberOfReferences>44</NumberOfReferences>\n
        \   </MedlineCitation>\n    <PubmedData>\n        <History>\n            <PubMedPubDate
        PubStatus=\"pubmed\">\n                <Year>1999</Year>\n                <Month>2</Month>\n
        \               <Day>27</Day>\n            </PubMedPubDate>\n            <PubMedPubDate
        PubStatus=\"medline\">\n                <Year>1999</Year>\n                <Month>2</Month>\n
        \               <Day>27</Day>\n                <Hour>0</Hour>\n                <Minute>1</Minute>\n
        \           </PubMedPubDate>\n            <PubMedPubDate PubStatus=\"entrez\">\n
        \               <Year>1999</Year>\n                <Month>2</Month>\n                <Day>27</Day>\n
        \               <Hour>0</Hour>\n                <Minute>0</Minute>\n            </PubMedPubDate>\n
        \       </History>\n        <PublicationStatus>ppublish</PublicationStatus>\n
        \       <ArticleIdList>\n            <ArticleId IdType=\"pubmed\">10048354</ArticleId>\n
        \       </ArticleIdList>\n    </PubmedData>\n</PubmedArticle>\n\n</PubmedArticleSet>\n"
  recorded_at: Thu, 19 Sep 2013 20:34:26 GMT
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Ncbi-Sid:
      - 08DE4DF323B5FD31_0146SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n<eFetchResult>\n\t<ERROR>WebEnv
        parameter is required</ERROR>\n</eFetchResult>\n"
  recorded_at: Thu, 19 Sep 2013 20:34:27 GMT
recorded_with: VCR 2.5.0
