---
http_interactions:
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationItems?format=xml&publicationItemIDs=42711845,22686456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>22686456</PublicationItemID>\r\n    <Title>TRACHEAL
        DAMAGE FOLLOWING CONVENTIONAL AND HIGH-FREQUENCY VENTILATION AT LOW AND HIGH
        HUMIDITY</Title>\r\n    <Abstract>Objectives: To compare the degree of tracheobronchial
        damage in newborn lambs ventilated for 6 hrs with relative humidities of 30%
        or 90% and continuous positive airway pressure breathing, conventional mechanical
        ventilation of 25 and 60 breaths/min, or high frequency flow-interrupted ventilation
        at 600 breaths/min.  Background and Methods: Tracheobronchial damage secondary
        to mechanical ventilation remains a major iatrogenic lesion of the newborn
        [...]
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: US-ASCII
      string: ! '&id=1914489&id=10048354'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Sid:
      - 08DE18EB1CB4B8F1_0483SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<!DOCTYPE PubmedArticleSet PUBLIC \"-//NLM//DTD
        PubMedArticle, 1st January 2013//EN\" \"http://www.ncbi.nlm.nih.gov/corehtml/query/DTD/pubmed_130101.dtd\">\n<PubmedArticleSet>\n<PubmedArticle>\n
        \   <MedlineCitation Owner=\"NLM\" Status=\"MEDLINE\">\n        <PMID Version=\"1\">1914489</PMID>\n
        \       <DateCreated>\n            <Year>1991</Year>\n            <Month>11</Month>\n
        \           <Day>13</Day>\n        </DateCreated>\n        <DateCompleted>\n
        \           <Year>1991</Year>\n            <Month>11</Month>\n            <Day>13</Day>\n
        \       </DateCompleted>\n        <DateRevised>\n            <Year>2006</Year>\n
        \           <Month>11</Month>\n            <Day>15</Day>\n        </DateRevised>\n
        \       <Article PubModel=\"Print\">\n            <Journal>\n                <ISSN
        IssnType=\"Print\">0090-3493</ISSN>\n                <JournalIssue CitedMedium=\"Print\">\n
        \                   <Volume>19</Volume>\n                    <Issue>10</Issue>\n
        \                   <PubDate>\n                        <Year>1991</Year>\n
        \                       <Month>Oct</Month>\n                    </PubDate>\n
        \               </JournalIssue>\n                <Title>Critical care medicine</Title>\n
        \               <ISOAbbreviation>Crit. Care Med.</ISOAbbreviation>\n            </Journal>\n
        \           <ArticleTitle>Tracheal damage following conventional and high-frequency
        ventilation at low and high humidity.</ArticleTitle>\n            <Pagination>\n
        \               <MedlinePgn>1310-6</MedlinePgn>\n            </Pagination>\n
        \           <Abstract>\n                <AbstractText Label=\"OBJECTIVES\"
        NlmCategory=\"OBJECTIVE\">To compare the degree of tracheobronchial damage
        in newborn lambs ventilated for 6 hrs with relative humidities of 30% or 90%
        and continuous positive airway pressure breathing, conventional mechanical
        ventilation of 25 and 60 breaths/min, or high frequency flow-interrupted ventilation
        at 600 breaths/min.</AbstractText>\n                <AbstractText Label=\"BACKGROUND
        AND METHODS\" NlmCategory=\"METHOD[...]
