---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/MatchedPublicationItemIdsForAuthor?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0'?>
              <PublicationAuthorMatchParameters xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
                <Authors>
                  <Author>
                    <LastName>benson</LastName>
                    <FirstName>sally</FirstName>
                    <MiddleName></MiddleName>
                    <City>Stanford</City>
                    <State>CA</State>
                    <Country>USA</Country>
                    <Version>1</Version>
                 </Author>
              </Authors>
              <DocumentCategory>Journal Document</DocumentCategory>
              <Emails>
                          <string>smbenson@stanford.edu</string>
                        </Emails><PublicationItemIds><int>532237</int><int>29681830</int><int>29693742</int><int>30153017</int><int>30563572</int><int>30711058</int><int>30991998</int><int>31488302</int><int>31623382</int><int>32897909</int><int>33038883</int><int>33139791</int><int>33878760</int><int>47444872</int><int>53640378</int><int>54368177</int><int>59612803</int><int>59641485</int><int>60094854</int><int>60223059</int><int>60478790</int><int>62816475</int><int>62823609</int><int>62903742</int><int>63182944</int><int>62767480</int><int>59904158[...]
[...]
