---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n\t          <ScienceWireQueryXMLParameter
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n\t
        \           <xmlQuery><![CDATA[\n\t     <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/\n\t    XMLSchema\">\n\t      <Criterion
        ConjunctionOperator=\"AND\">\n\t        <Criteria><Criterion>\n\t            <Filter>\n\t
        \             <Column>AuthorLastName</Column>\n\t              <Operator>BeginsWith</Operator>\n\t
        \             <Value>smith</Value>\n\t            </Filter>\n\t          </Criterion><Criterion>\n\t
        \           <Filter>\n\t              <Column>AuthorFirstName</Column>\n\t
        \             <Operator>BeginsWith</Operator>\n\t              <Value>james</Value>\n\t
        \           </Filter>\n\t          </Criterion></Criteria>\n\t      </Criterion>\n\t
        \     <Columns>\n\t        <SortColumn>\n\t          <Column>Rank</Column>\n\t
        \         <Direction>Descending</Direction>\n\t        </SortColumn>\n\t      </Columns>\n\t
        \    <MaximumRows>4</MaximumRows>\n\t    </query>\n\t    ]]></xmlQuery>\n\t
        \         </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>42062</queryID>\r\n
        \ <queryResultRows>4</queryResultRows>\r\n  <totalRows>4</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Wed, 26 Jun 2013 20:08:16 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/42062?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>63064656</PublicationItemID>\r\n    <Title>Detection
        of nucleic Acid targets using ramified rolling circle DNA amplification: a
        single nucleotide polymorphism assay model.</Title>\r\n    <Abstract>BACKGROUND
        Isothermal amplification methods provide alternatives to PCR that may be preferable
        for some nucleic acid target detection tasks. Among current isothermal target
        detection methods, ramified rolling circle amplification (RAM) of single-stranded
        DNA circles that are formed by ligation of linear DNA probes (C-probes or
        padlock probes) offers a unique target detection system by linked primers
        and a simple amplification system that is unconst[...]
