---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery><![CDATA[\n
        \     <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
        \       <Criterion ConjunctionOperator=\"AND\">\n          <Criteria>\n            <Criterion>\n
        \             <Filter>\n                <Column>WoSItemID</Column>\n                <Operator>In</Operator>\n
        \               <Values>\n<Value>000318550800072</Value>\n<Value>000317872800004</Value>\n<Value>000317717300006</Value>\n</Values>\n
        \               </Filter>\n              </Criterion>\n            </Criteria>\n
        \         </Criterion><Columns>\n            <SortColumn>\n              <Column>PublicationItemID</Column>\n
        \             <Direction>Ascending</Direction>\n            </SortColumn>\n
        \         </Columns>\n        </query>\n    ]]></xmlQuery>\n      </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>81941</queryID>\r\n
        \ <queryResultRows>3</queryResultRows>\r\n  <totalRows>3</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 18 Nov 2013 23:29:50 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/81941?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>62851007</PublicationItemID>\r\n    <Title>Persistent
        Topology and Metastable State in Conformational Dynamics</Title>\r\n    <Abstract>The
        large amount of molecular dynamics simulation data produced by modern computational
        models brings big opportunities and challenges to researchers. Clustering
        algorithms play an important role in understanding biomolecular kinetics from
        the simulation data, especially under the Markov state model framework. However,
        the ruggedness of the free energy landscape in a biomolecular system makes
        common clustering algorithms very sensitive to perturbat[...]
