---
http_interactions:
- request:
    method: post
    uri: https://stg.sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
              <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xmlQuery>      <![CDATA[
              <query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <Criterion>
                      <Criteria>
                          <Criterion>
                              <Filter>
                                  <Column>DOI</Column>
                                  <Operator>Equals</Operator>
                                  <Value>10.1111/j.1444-0938.2010.00524.x</Value>
                              </Filter>
                          </Criterion>
                      </Criteria>
                  </Criterion>
                  <MaximumRows>200</MaximumRows>
              </query>
              ]]>
        </xmlQuery>
              </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>79594</queryID>\r\n
        \ <queryResultRows>1</queryResultRows>\r\n  <totalRows>1</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 15 Jun 2015 21:52:06 GMT
- request:
    method: get
    uri: https://stg.sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/79594?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>37929883</PublicationItemID>\r\n    <Title>An international
        survey of contact lens prescribing for presbyopia</Title>\r\n    <Abstract>Purpose:
        \ The aim was to determine world-wide patterns of fitting contact lenses for
        the correction of presbyopia.  Methods:  Up to 1,000 survey forms were sent
        to contact lens fitters in each of 38 countries between January and March
        every year over five consecutive years (2005 to 2009). Practitioners were
        asked to record data relating to the first 10 contact lens fittings or refittings
        performed after receiving the survey form.  Results:  Data w[...]
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - some-license-id
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\r\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head>\r\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=iso-8859-1\"/>\r\n<title>500 - Internal server
        error.</title>\r\n<style type=\"text/css\">\r\n<!--\r\nbody{margin:0;font-size:.7em;font-family:Verdana,
        Arial, Helvetica, sans-serif;background:#EEEEEE;}\r\nfieldset{padding:0 15px
        10px 15px;} \r\nh1{font-size:2.4em;margin:0;color:#FFF;}\r\nh2{font-size:1.7em;margin:0;color:#CC0000;}
        \r\nh3{font-size:1.2em;margin:10px 0 0 0;color:#000000;} \r\n#header{width:96%;margin:0
        0 0 0;padding:6px 2% 6px 2%;font-family:\"trebuchet MS\", Verdana, sans-serif;color:#FFF;\r\nbackground-color:#555555;}\r\n#content{margin:0
        0 0 2%;position:relative;}\r\n.content-container{background:#FFF;width:96%;margin-top:8px;padding:10px;position:relative;}\r\n-->\r\n</style>\r\n</head>\r\n<body>\r\n<div
        id=\"header\"><h1>Server Error</h1></div>\r\n<div id=\"content\">\r\n <div
        class=\"content-container\"><fieldset>\r\n  <h2>500 - Internal server error.</h2>\r\n
        \ <h3>There is a problem with the resource you are looking for, and it cannot
        be displayed.</h3>\r\n </fieldset></div>\r\n</div>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 29 Jun 2015 15:50:37 GMT
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
              <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xmlQuery>      <![CDATA[
              <query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/X[...]
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/142611?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml vers[...]
