---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n      <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n      <xmlQuery><![CDATA[\n
        \     <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
        \       <Criterion ConjunctionOperator=\"AND\">\n          <Criteria>\n            <Criterion>\n
        \             <Filter>\n                <Column>WoSItemID</Column>\n                <Operator>In</Operator>\n
        \               <Values>\n<Value>000318550800072</Value>\n<Value>000317872800004</Value>\n<Value>000317717300006</Value>\n</Values>\n
        \               </Filter>\n              </Criterion>\n            </Criteria>\n
        \         </Criterion><Columns>\n            <SortColumn>\n              <Column>PublicationItemID</Column>\n
        \             <Direction>Ascending</Direction>\n            </SortColumn>\n
        \         </Columns>\n        </query>\n    ]]></xmlQuery>\n      </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - ***REMOVED***
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>81941</queryID>\r\n
        \ <queryResultRows>3</queryResultRows>\r\n  <totalRows>3</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Thu, 19 Sep 2013 20:34:12 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/81941?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>62851007</PublicationItemID>\r\n    <Title>Persistent
        Topology and Metastable State in Conformational Dynamics</Title>\r\n    <Abstract>The
        large amount of molecular dynamics simulation data produced by modern computational
        models brings big opportunities and challenges to researchers. Clustering
        algorithms play an important role in understanding biomolecular kinetics from
        the simulation data, especially under the Markov state model framework. However,
        the ruggedness of the free energy landscape in a biomolecular system makes
        common clustering algorithms very sensitive to perturbat[...]
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: US-ASCII
      string: ! '&id=23565139&id=23540906&id=23635172'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Sid:
      - 08DD0A2923B5FC81_0055SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<!DOCTYPE PubmedArticleSet PUBLIC \"-//NLM//DTD
        PubMedArticle, 1st May 2013//EN\" \"http://www.ncbi.nlm.nih.gov/corehtml/query/DTD/pubmed_130501.dtd\">\n<PubmedArticleSet>\n<PubmedArticle>\n
        \   <MedlineCitation Owner=\"NLM\" Status=\"In-Process\">\n        <PMID Version=\"1\">23565139</PMID>\n
        \       <DateCreated>\n            <Year>2013</Year>\n            <Month>04</Month>\n
        \           <Day>08</Day>\n        </DateCreated>\n        <Article PubModel=\"Print-Electronic\">\n
        \           <Journal>\n                <ISSN IssnType=\"Electronic\">1932-6203</ISSN>\n
        \               <JournalIssue CitedMedium=\"Internet\">\n                    <Volume>8</Volume>\n
        \                   <Issue>4</Issue>\n                    <PubDate>\n                        <Year>2013</Year>\n
        \                   </PubDate>\n                </JournalIssue>\n                <Title>PloS
        one</Title>\n                <ISOAbbreviation>PLoS ONE</ISOAbbreviation>\n
        \           </Journal>\n            <ArticleTitle>Persistent topology and
        metastable state in conformational dynamics.</ArticleTitle>\n            <Pagination>\n
        \               <MedlinePgn>e58699</MedlinePgn>\n            </Pagination>\n
        \           <ELocationID EIdType=\"doi\" ValidYN=\"Y\">10.1371/journal.pone.0058699</ELocationID>\n
        \           <Abstract>\n                <AbstractText>The large amount of
        molecular dynamics simulation data produced by modern computational models
        brings big opportunities and challenges to researchers. Clustering algorithms
        play an important role in understanding biomolecular kinetics from the simulation
        data, especially under the Markov state model framework. However, the ruggedness
        of the free energy landscape in a biomolecular system makes common clustering
        algorithms very sensitive to perturbat[...]
