---
http_interactions:
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic secret
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WOKMWSAuthenticateService" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com" version="1.0">
        <xs:element name="AuthenticationException" type="tns:AuthenticationException"/>
        <xs:element name="ESTIWSException" type="tns:ESTIWSException"/>
        <xs:element name="InternalServerException" type="tns:InternalServerException"/>
        <xs:element name="InvalidInputException" type="tns:InvalidInputException"/>
        <xs:element name="QueryException" type="tns:QueryException"/>
        <xs:element name="SessionException" type="tns:SessionException"/>
        <xs:element name="authenticate" type="tns:authenticate"/>
        <xs:element name="authenticateResponse" type="tns:authenticateResponse"/>
        <xs:element name="closeSession" type="tns:closeSession"/>
        <xs:element name="closeSessionResponse" type="tns:closeSessionResponse"/>
        <xs:complexType name="closeSession">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="closeSessionResponse">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="QueryException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="ESTIWSException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InvalidInputException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InternalServerException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="SessionException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="AuthenticationException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticate">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticateResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="return" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:schema>
          </wsdl:types>
          <wsdl:message name="closeSession">
            <wsdl:part element="tns:closeSession" name="parameters">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="QueryException_Exception">
            <wsdl:part element="tns:QueryException" name="QueryException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="ESTIWSException_Exception">
            <wsdl:part element="tns:ESTIWSException" name="ESTIWSException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsd[...]
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/[...]
