---
http_interactions:
- request:
    method: post
    uri: https://ws.isiknowledge.com/cps/xrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <request xmlns="http://www.isinet.com/xrpc41" src="app.id=API Demo">
          <fn name="LinksAMR.retrieve">
            <list>
              <map>
                <val name="username">links_username</val>
                <val name="password">links_password</val>
              </map>
              <map>
                <list name="WOS">
                    <val>doi</val>
                    <val>pmid</val>
                </list>
              </map>
              <map>
                  <map name="cite_WOS:A1976BW18000001">
                    <val name="ut">WOS:A1976BW18000001</val>
                  </map>
                  <map name="cite_WOS:A1972N549400003">
                    <val name="ut">WOS:A1972N549400003</val>
                  </map>
              </map>
            </list>
          </fn>
        </request>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Platform:
      - CPS 2017.R3.0.9
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <response xmlns="http://www.isinet.com/xrpc41" src="app.id=API Demo">
        <fn name="LinksAMR.retrieve" rc="OK">
        <map>
        <map name="cite_WOS:A1972N549400003">
        <map name="WOS">
        <val name="doi">10.5860/crl_33_05_413</val>
        </map>
        </map>
        <map name="cite_WOS:A1976BW18000001">
        <map name="WOS">
        <val name="doi">10.5860/crl_37_03_205</val>
        </map>
        </map>
        </map>
        </fn>
        </response>
  recorded_at: Wed, 14 Feb 2018 17:53:46 GMT
recorded_with: VCR 4.0.0
