---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n    <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n    <xmlQuery>          <![CDATA[\n
        \                        <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n              <Criterion>\n
        \               <Criteria>\n                              <Criterion>\n              <TextSearch>\n
        \               <QueryPredicate>\"Ottawa,\" or \"Ottawa,,Yukon\" or \"Ottawa,,Y\"</QueryPredicate>\n
        \               <SearchType>ExactMatch</SearchType>\n                <Columns>AggregateText</Columns>\n
        \               <MaximumRows>4</MaximumRows>\n              </TextSearch>\n
        \           </Criterion>\n\n                              <Criterion>\n              <Filter>\n
        \               <Column>AuthorLastName</Column>\n                <Operator>BeginsWith</Operator>\n
        \               <Value>OTTAWA</Value>\n              </Filter>\n            </Criterion>\n\n
        \                 \n                  \n                  \n                              <Criterion>\n
        \             <Filter>\n                <Column>DocumentCategory</Column>\n
        \               <Operator>In</Operator>\n                <Values>\n                  <Value>Journal
        Document</Value>\n                  <Value>Conference Proceeding Document</Value>\n
        \               </Values>\n              </Filter>\n            </Criterion>\n\n
        \               </Criteria>\n              </Criterion>\n                          <Columns>\n
        \             <SortColumn>\n                <Column>Rank</Column>\n                <Direction>Descending</Direction>\n
        \             </SortColumn>\n            </Columns>\n\n              <MaximumRows>4</MaximumRows>\n
        \           </query>\n\n            ]]>\n</xmlQuery>\n    </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>263023</queryID>\r\n
        \ <queryResultRows>0</queryResultRows>\r\n  <totalRows>0</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 13 Nov 2017 20:59:38 GMT
recorded_with: VCR 3.0.1
