---
http_interactions:
- request:
    method: post
    uri: https://Settings.CAP.TOKEN_USER:Settings.CAP.TOKEN_PASS@Settings.CAP.TOKEN_URI/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"bearer","expires_in":86399,"scope":"profiles.read_all","jti":"c87480e4-406a-4825-8de7-cd3fe3fbadf0"}'
  recorded_at: Fri, 15 Jul 2016 18:42:31 GMT
- request:
    method: get
    uri: https://cap-dev.stanford.edu/cap-api/api/cap/v1/authors/999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer private_bearer_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{ "meta": {  "status": 404, "message":"Object of class [edu.stanford.irt.cap.api.domain.AuthorEntity]
        with identifier [999999]: not found" } }

'
  recorded_at: Fri, 15 Jul 2016 18:42:31 GMT
[...]
- request:
    method: get
    uri: https://cap-dev.stanford.edu/cap-api/api/cap/v1/authors/999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer private_bearer_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{ "meta": {  "status": 404, "message":"Object of class [edu.stanford.irt.cap.api.domain.AuthorEntity]
        with identifier [999999]: not found" } }

'
  recorded_at: Fri, 15 Jul 2016 18:42:31 GMT
recorded_with: VCR 3.0.1
