---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/id/WOS:000081515000015,WOS:000346594100007,WOS:001061548400001,WOS:000000000000000?count=100&databaseId=WOS&firstRecord=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rec-Amtperyear-Remaining:
      - '2655358'
      X-Req-Reqpersec-Remaining:
      - '24'
      Correlation-Id:
      - dee62dc3-8365-46de-8b72-b0696afc012c#180260139
    body:
      encoding: UTF-8
      string: '{"Data":{"Records":{"records":{"REC":[{"UID":"WOS:001061548400001","static_data":{"summary":{"pub_info":{"coverdate":"SEP
        9 2023","vol":13,"journal_oas_gold":"N","has_citation_context":"Y","pubyear":2023,"issue":1,"sortdate":"2023-09-09","has_abstract":"Y","pubmonth":"SEP
        9","pubtype":"Journal","page":{"page_count":8}},"names":{"count":6,"name":[{"seq_no":1,"role":"author","full_name":"Ghaddar,
        Reem","addr_no":1,"last_name":"Ghaddar","display_name":"Ghaddar, Reem","wos_standard":"Ghaddar,
        R","first_name":"Reem"},{"seq_no":2,"role":"author","full_name":"Hudson, Erin
        A.","addr_no":1,"last_name":"Hudson","display_name":"Hudson, Erin A.","wos_standard":"Hudson,
        EA","first_name":"Erin A."},{"seq_no":3,"role":"author","full_name":"Jeans,
        Matthew R.","addr_no":1,"last_name":"Jeans","display_name":"Jeans, Matthew
        R.","wos_standard":"Jeans, MR","first_name":"Matthew R."},{"seq_no":4,"role":"author","full_name":"Vandyousefi,
        Sarvenaz","addr_no":2,"last_name":"Vandyousefi","display_name":"Vandyousefi,
        Sarvenaz","wos_standard":"Vandyousefi, S","first_name":"Sarvenaz"},{"seq_no":5,"role":"author","full_name":"Landry,
        Matthew J.","addr_no":3,"last_name":"Landry","display_name":"Landry, Matthew
        J.","wos_standard":"Landry, MJ","first_name":"Matthew J."},{"seq_no":6,"role":"author","full_name":"Davis,
        Jaimie N.","reprint":"Y","addr_no":1,"last_name":"Davis","display_name":"Davis,
        Jaimie N.","wos_standard":"Davis, JN","first_name":"Jaimie N."}]},"doctypes":{"doctype":"Article","count":1},"publishers":{"publisher":{"names":{"count":1,"name":{"seq_no":1,"role":"publisher","full_name":"SPRINGERNATURE","unified_name":"Springer
        Nature","addr_no":1,"display_name":"SPRINGERNATURE"}},"address_spec":{"city":"LONDON","addr_no":1,"full_address":"CAMPUS,
        4 CRINAN ST, LONDON, N1 9XW, ENGLAND"}}},"EWUID":{"WUID":{"coll_id":"WOS"},"edition":{"value":"WOS.SCI"}},"titles":{"count":6,"title":[{"type":"source","content":"NUTRITION
        & DIABETES"},{"type":"source_abbrev","content":"NUTR DIABETES"},{"type":"abbrev_iso","content":"Nutr.
        Diabetes"},{"type":"abbrev_11","content":"NUTR DIABET"},{"type":"abbrev_29","content":"NUTR
        DIABETES"},{"type":"item","content":"Ethnicity/race, parent educational attainment,
        and obesity associated with prediabetes in children"}]}},"item":{"xsi:type":"itemType_wos","coll_id":"WOS","ids":{"avail":"Y","content":"R0TH5"},"xmlns:xsi":"http://www.w3.org/2001/XMLSchema-instance","bib_pagecount":{"type":"Journal","content":8},"keywords_plus":{"count":10,"keyword":["OVERWEIGHT
        HISPANIC CHILDREN","BETA-CELL FUNCTION","UNITED-STATES","INSULIN SENSITIVITY","WHITE
        ADULTS","DISPARITIES","PREVALENCE","RESISTANCE","SECRETION","AMERICAN"]},"bib_id":"13
        (1): - SEP 9 2023"},"fullrecord_metadata":{"addresses":{"count":3,"address_name":[{"names":{"count":4,"name":[{"seq_no":1,"role":"author","full_name":"Ghaddar,
        Reem","addr_no":1,"last_name":"Ghaddar","display_name":"Ghaddar, Reem","wos_standard":"Ghaddar,
        R","first_name":"Reem"},{"seq_no":2,"role":"author","full_name":"Hudson, Erin
        A.","addr_no":1,"last_name":"Hudson","display_name":"Hudson, Erin A.","wos_standard":"Hudson,
        EA","first_name":"Erin A."},{"seq_no":3,"role":"author","full_name":"Jeans,
        Matthew R.","addr_no":1,"last_name":"Jeans","display_name":"Jeans, Matthew
        R.","wos_standard":"Jeans, MR","first_name":"Matthew R."},{"seq_no":6,"role":"author","full_name":"Davis,
        Jaimie N.","reprint":"Y","addr_no":1,"last_name":"Davis","display_name":"Davis,
        Jaimie N.","wos_standard":"Davis, JN","first_name":"Jaimie N."}]},"address_spec":{"zip":{"location":"AP","content":78712},"country":"USA","city":"Austin","addr_no":1,"organizations":{"organization":[{"pref":null,"content":"Univ
        Texas Austin"},{"pref":"Y","content":"University of Texas System"},{"pref":"Y","content":"University
        of Texas Austin"}],"count":3},"full_address":"Univ Texas Austin, Coll Nat
        Sci, Dept Nutr Sci, Austin, TX 78712 USA","state":"TX","suborganizations":{"count":2,"suborganization":["Coll
        Nat Sci","Dept Nutr Sci"]}}},{"names":{"count":1,"name":{"seq_no":4,"role":"author","full_name":"Vandyousefi,
        Sarvenaz","addr_no":2,"last_name":"Vandyousefi","display_name":"Vandyousefi,
        Sarvenaz","wos_standard":"Vandyousefi, S","first_name":"Sarvenaz"}},"address_spec":{"country":"USA","city":"New
        York","addr_no":2,"organizations":{"organization":[{"pref":null,"content":"NYU"},{"pref":"Y","content":"New
        York University"}],"count":2},"full_address":"NYU, Grossman Sch Med, Dept
        Med, New York, NY USA","state":"NY","suborganizations":{"count":2,"suborganization":["Grossman
        Sch Med","Dept Med"]}}},{"names":{"count":1,"name":{"seq_no":5,"role":"author","full_name":"Landry,
        Matthew J.","addr_no":3,"last_name":"Landry","display_name":"Landry, Matthew
        J.","wos_standard":"Landry, MJ","first_name":"Matthew J."}},"address_spec":{"country":"USA","city":"Palo
        Alto","addr_no":3,"organizations":{"organization":[{"pref":null,"content":"Stanford
        Univ"},{"pref":"Y","content":"Stanford University"}],"count":2},"full_address":"Stanford
        Univ, Stanford Prevent Res Ctr, Sch Med, Palo Alto, CA USA","state":"CA","suborganizations":{"count":2,"suborganization":["Stanford
        Prevent Res Ctr","Sch Med"]}}}]},"category_info":{"subheadings":{"count":1,"subheading":"Life
        Sciences & Biomedicine"},"subjects":{"subject":[{"ascatype":"traditional","code":"IA","content":"Endocrinology
        & Metabolism"},{"ascatype":"traditional","code":"SA","content":"Nutrition
        & Dietetics"},{"ascatype":"extended","content":"Endocrinology & Metabolism"},{"ascatype":"extended","content":"Nutrition
        & Dietetics"}],"count":4},"headings":{"heading":"Science & Technology","count":1}},"normalized_languages":{"count":1,"language":{"type":"primary","content":"English"}},"languages":{"count":1,"language":{"type":"primary","content":"English"}},"refs":{"count":41},"reprint_addresses":{"count":1,"address_name":{"names":{"count":1,"name":{"seq_no":1,"role":"author","full_name":"Davis,
        Jaimie N.","reprint":"Y","addr_no":1,"last_name":"Davis","display_name":"Davis,
        Jaimie N.","wos_standard":"Davis, JN","first_name":"Jaimie N."}},"address_spec":{"zip":{"location":"AP","content":78712},"country":"USA","city":"Austin","addr_no":1,"organizations":{"organization":[{"pref":null,"content":"Univ
        Texas Austin"},{"pref":"Y","content":"University of Texas System"},{"pref":"Y","content":"University
        of Texas Austin"}],"count":3},"full_address":"Univ Texas Austin, Coll Nat
        Sci, Dept Nutr Sci, Austin, TX 78712 USA","state":"TX","suborganizations":{"count":2,"suborganization":["Coll
        Nat Sci","Dept Nutr Sci"]}}}},"abstracts":{"count":1,"abstract":{"abstract_text":{"p":"Background/objectivesObesity
        and other predictors of type 2 diabetes disproportionally affect Hispanic
        and Black children in the US compared to non-Hispanic White (NHW) children.
        Yet, the prevalence of prediabetes in children remains unestablished, and
        guidelines for screening young children are lacking. This study examined the
        relationships between demographic factors and prediabetes in vulnerable youth
        in central Texas.Subjects/methodsThis [...]
