---
http_interactions:
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:search><queryParameters><databaseId>WOK</databaseId><userQuery>DO=10.1016/j.mcn.2012.03.007</userQuery><queryLanguage>en</queryLanguage></queryParameters><retrieveParameters><firstRecord>1</firstRecord><count>50</count><option><key>RecordIDs</key><value>On</value></option><option><key>targetNamespace</key><value>http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord</value></option></retrieveParameters></tns:search></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:searchResponse xmlns:ns2="http://woksearch.v3.wokmws.thomsonreuters.com"><return><queryId>2</queryId><recordsFound>1</recordsFound><recordsSearched>76312650</recordsSearched><optionValue><label>RecordIDs</label><value>WOS:000305547700005</value></optionValue><records>&lt;records xmlns="http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord">
        &lt;REC r_id_disclaimer="ResearcherID data provided by Clarivate Analytics">&lt;UID>WOS:000305547700005&lt;/UID>&lt;static_data>&lt;summary>&lt;EWUID>&lt;WUID coll_id="WOS">&lt;/WUID>&lt;edition value="WOS.SCI">&lt;/edition>&lt;/EWUID>&lt;pub_info sortdate="2012-05-01" pubyear="2012" has_abstract="Y" coverdate="MAY 2012" pubmonth="MAY" vol="50" issue="1" pubtype="Journal">&lt;page begin="45" end="57[...]
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=100&databaseId=WOK&firstRecord=1&usrQuery=DO=10.1016/j.mcn.2012.03.007
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '48652'
      X-Req-Reqpersec-Remaining:
      - '1'
      Correlation-Id:
      - 73c0b0c7-bef8-453e-9745-04d5bb96ed60#19946497
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<response
        xmlns=\"http://www.isinet.com/xrpc42\">\n    <map>\n        <map name=\"Data\">\n
        \           <val name=\"Records\"><![CDATA[<records><REC r_id_disclaimer=\"ResearcherID
        data provided by Clarivate Analytics\"><UID>WOS:000305547700005</UID><static_data><summary><EWUID><WUID
        coll_id=\"WOS\" /><edition value=\"WOS.SCI\" /></EWUID><pub_info sortdate=\"2012-05-01\"
        pubyear=\"2012\" has_abstract=\"Y\" coverdate=\"MAY 2012\" pubmonth=\"MAY\"
        vol=\"50\" issue=\"1\" pubtype=\"Journal\" journal_oas_gold=\"N\"><page begin=\"45\"
        end=\"57\" page_count=\"13\">45-57</page></pub_info><titles count=\"6\"><title
        type=\"source\">MOLECULAR AND CELLULAR NEUROSCIENCE</title><title type=\"source_abbrev\">MOL
        CELL NEUROSCI</title><title type=\"abbrev_iso\">Mol. Cell. Neurosci.</title><title
        type=\"abbrev_11\">MOL CELL NE</title><title type=\"abbrev_29\">MOL CELL NEUROSCI</title><title
        type=\"item\">The T3-induced gene KLF9 regulates oligodendrocyte differentiation
        and myelin regeneration</title></titles><names count=\"3\"><name seq_no=\"1\"
        role=\"author\" reprint=\"Y\" addr_no=\"1\" r_id=\"CNH-5803-2022\" daisng_id=\"7176209\"
        claim_status=\"false\"><display_name>Dugas, Jason C.</display_name><preferred_name><full_name>Dugas,
        Jason C.</full_name><first_name>Jason C.</first_name><last_name>Dugas</last_name></preferred_name><full_name>Dugas,
        Jason C.</full_name><wos_standard>Dugas, JC</wos_standard><first_name>Jason
        C.</first_name><last_name>Dugas</last_name><data-item-ids><data-item-id id-type=\"PreferredRID\"
        type=\"person\">CNH-5803-2022</data-item-id></data-item-ids></name><name seq_no=\"2\"
        role=\"author\" addr_no=\"1\" r_id=\"CUK-8556-2022\" daisng_id=\"8828963\"
        claim_status=\"false\"><display_name>Ibrahim, Adiljan</display_name><preferred_name><full_name>Ibrahim,
        Adiljan</full_name><first_name>Adiljan</first_name><last_name>Ibrahim</last_name></preferred_name><full_name>Ibrahim,
        Adiljan</full_name><wos_standard>Ibrahim, A</wos_standard><first_name>Adiljan</first_name><last_name>Ibrahim</last_name><data-item-ids><data-item-id
        id-type=\"PreferredRID\" type=\"person\">CUK-8556-2022</data-item-id></data-item-ids></name><name
        seq_no=\"3\" role=\"author\" addr_no=\"1\" r_id=\"CDG-0168-2022\" daisng_id=\"4620573\"
        claim_status=\"false\"><display_name>Barres, Ben A.</display_name><preferred_name><full_name>Barres,
        Ben A.</full_name><first_name>Ben A.</first_name><last_name>Barres</last_name></preferred_name><full_name>Barres,
        Ben A.</full_name><wos_standard>Barres, BA</wos_standard><first_name>Ben A.</first_name><last_name>Barres</last_name><data-item-ids><data-item-id
        id-type=\"PreferredRID\" type=\"person\">CDG-0168-2022</data-item-id></data-item-ids></name></names><doctypes
        count=\"1\"><doctype>Article</doctype></doctypes><publishers><publisher><address_spec
        addr_no=\"1\"><full_address>525 B ST, STE 1900, SAN DIEGO, CA 92101-4495 USA</full_address><city>SAN
        DIEGO</city></address_spec><names count=\"1\"><name role=\"publisher\" seq_no=\"1\"
        addr_no=\"1\"><display_name>ACADEMIC PRESS INC ELSEVIER SCIENCE</display_name><full_name>ACADEMIC
        PRESS INC ELSEVIER SCIENCE</full_name><unified_name>Elsevier</unified_name></name></names></publisher></publishers></summary><fullrecord_metadata><languages
        count=\"1\"><language type=\"primary\">English</language></languages><normalized_languages
        count=\"1\"><language type=\"primary\">English</language></normalized_languages><normalized_doctypes
        count=\"1\"><doctype>Article</doctype></normalized_doctypes><refs count=\"61\"
        /><addresses count=\"1\"><address_name><address_spec addr_no=\"1\"><full_address>Stanford
        Univ, Sch Med, Dept Neurobiol, Stanford, CA 94305 USA</full_address><organizations
        count=\"2\"><organization pref=\"null\">Stanford Univ</organization><organization
        pref=\"Y\">Stanford University</organization></organizations><suborganizations
        count=\"2\"><suborganization>Sch Med</suborganization><suborganization>Dept
        Neurobiol</suborganization></suborganizations><city>Stanford</city><state>CA</state><country>USA</country><zip
        location=\"AP\">94305</zip></address_spec><names count=\"3\"><name seq_no=\"1\"
        role=\"author\" reprint=\"Y\" addr_no=\"1\" daisng_id=\"7176209\" claim_status=\"false\"><display_name>Dugas,
        Jason C.</display_name><preferred_name><full_name>Dugas, Jason C.</full_name><first_name>Jason
        C.</first_name><last_name>Dugas</last_name></preferred_name><full_name>Dugas,
        Jason C.</full_name><wos_standard>Dugas, JC</wos_standard><first_name>Jason
   [...]
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=75&databaseId=WOK&firstRecord=1&usrQuery=DO=10.1016/j.mcn.2012.03.007
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '4723720'
      X-Req-Reqpersec-Remaining:
      - '23'
      Correlation-Id:
      - 9aa81f4b-5d7f-4fbf-be12-ec377dd6a107#14272840
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<response
        xmlns=\"http://www.isinet.com/xrpc42\">\n    <map>\n        <map name=\"Data\">\n
        \           <val name=\"Records\"><![CDATA[<records><REC r_id_disclaimer=\"ResearcherID
        data provided by Clarivate Analytics\"><UID>WOS:000305547700005</UID><static_data><summary><EWUID
        xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"><WUID coll_id=\"WOS\" /><edition
        value=\"WOS.SCI\" /></EWUID><pub_info sortdate=\"2012-05-01\" pubyear=\"2012\"
        has_abstract=\"Y\" coverdate=\"MAY 2012\" pubmonth=\"MAY\" vol=\"50\" issue=\"1\"
        pubtype=\"Journal\" journal_oas_gold=\"N\"><page begin=\"45\" end=\"57\" page_count=\"13\">45-57</page></pub_info><titles
        count=\"6\"><title type=\"source\">MOLECULAR AND CELLULAR NEUROSCIENCE</title><title
        type=\"source_abbrev\">MOL CELL NEUROSCI</title><title type=\"abb[...]
