---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=0&databaseId=WOK&firstRecord=1&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '4723704'
      X-Req-Reqpersec-Remaining:
      - '24'
      Correlation-Id:
      - 657d9778-55b3-407c-b418-1c69b5bb87f8#14208128
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">547</val>
                        <val name="RecordsSearched">145090046</val>
                        <val name="RecordsFound">189</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Tue, 10 Feb 2026 18:17:44 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/547?count=75&databaseId=WOK&firstRecord=1&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 1176da4a-3934-46e8-bccf-d872888431bd#14376944
    body:
      encoding: ASCII-[...]
[...]
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=0&databaseId=WOK&firstRecord=1&usrQuery=AU=(%22Altman,Russ%22%20OR%20%22Altman,Russ,Biagio%22%20OR%20%22Altman,Russ,B%22%20OR%20%22Altman,R%22%20OR%20%22Altman,R,B%22)%20AND%20AD=(%22stanford%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '4723704'
      X-Req-Reqpersec-Remaining:
      - '24'
      Correlation-Id:
      - 657d9778-55b3-407c-b418-1c69b5bb87f8#14208185
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">548</val>
                        <val name="RecordsSearched">145090046</val>
                        <val name="RecordsFound">656</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Tue, 10 Feb 2026 18:17:45 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/548?count=75&databaseId=WOK&firstRecord=1&usrQuery=AU=(%22Altman,Russ%22%20OR%20%22Altman,Russ,Biagio%22%20OR%20%22Altman,Russ,B%22%20OR%20%22Altman,R%22%20OR%20%22Altman,R,B%22)%20AND%20AD=(%22stanford%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - [...]
[...]
