---
http_interactions:
- request:
    method: post
    uri: https://Settings.CAP.TOKEN_USER:Settings.CAP.TOKEN_PASS@Settings.CAP.TOKEN_URI/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"bearer","expires_in":86399,"scope":"profiles.read_all","jti":"76cd2198-3663-4b29-b7d2-06320ebf50da"}'
  recorded_at: Mon, 18 Apr 2016 19:06:17 GMT
recorded_with: VCR 3.0.1
