---
http_interactions:
- request:
    method: post
    uri: https://Settings.CAP.TOKEN_USER:Settings.CAP.TOKEN_PASS@Settings.CAP.TOKEN_URI/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"bearer","expires_in":86399,"scope":"profiles.read_all","jti":"667f4f23-2492-4175-8bc2-e627101c058c"}'
  recorded_at: Wed, 11 May 2016 04:26:28 GMT
recorded_with: VCR 3.0.1
