---
http_interactions:
- request:
    method: post
    uri: https://sandbox.orcid.org/oauth/token
    body:
      encoding: UTF-8
      string: client_id=APP-FAKEJMB7RBQVFQ0D&client_secret=FAKE6bb5-dba1-445d-ba10-c14745383ba0&grant_type=client_credentials&scope=%2Fread-public
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"private_access_token","token_type":"bearer","refresh_token":"FAKE3779-88f2-4b9e-9ba1-d7ee8d6d6bba","expires_in":631138518,"scope":"/read-public","orcid":null}'
  recorded_at: Wed, 12 May 2021 18:35:32 GMT
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v3.0/00000-0002-7262-6251/works
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: "<!doctype html><html lang=\"en\"><head><title>HTTP Status 500 – Internal
        Server Error</title><style type=\"text/css\">body {font-family:Tahoma,Arial,sans-serif;}
        h1, h2, h3, b {color:white;background-color:#525D76;} h1 {font-size:22px;}
        h2 {font-size:16px;} h3 {font-size:14px;} p {font-size:12px;} a {color:black;}
        .line {height:1px;background-color:#525D76;border:none;}</style></head><body><h1>HTTP
        Status 500 – Internal Server Error</h1><hr class=\"line\" /><p><b>Type</b>
        Exception Report</p><p><b>Message</b> The request was rejected because the
        URL was not normalized.</p><p><b>Description</b> The server encountered an
        unexpected condition that prevented it from fulfilling the request.</p><p><b>Exception</b></p><pre>org.springframework.security.web.firewall.RequestRejectedException:
        The request was rejected because the URL was not normalized.\n\torg.springframework.security.web.firewall.StrictHttpFirewall.getFirewalledRequest(StrictHttpFirewall.java:248)\n\torg.springframework.security.web.FilterChainProxy.doFilterInternal(FilterChainProxy.java:193)\n\torg.springframework.security.web.FilterChainProxy.doFilter(FilterChainProxy.java:177)\n\torg.springframework.web.filter.DelegatingFilterProxy.invokeD[...]
[...]
