---
http_interactions:
- request:
    method: post
    uri: https://sandbox.orcid.org/oauth/token
    body:
      encoding: UTF-8
      string: client_id=APP-FAKEJMB7RBQVFQ0D&client_secret=FAKE6bb5-dba1-445d-ba10-c14745383ba0&grant_type=client_credentials&scope=%2Fread-public
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"private_access_token","token_type":"bearer","refresh_token":"FAKEa00c-f09e-457c-9788-4gdad1eb6a68","expires_in":631138518,"scope":"/read-public","orcid":null}'
  recorded_at: Wed, 12 May 2021 18:26:26 GMT
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v3.0/0000-0003-1527-0030/works
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last-modified-date":{"value":1607403656707},"group":[{"last-modified-date":{"value":1589470468736},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.7910/dvn/2fiflh/vsxe4x","external-id-normalized":{"value":"10.7910/dvn/2fiflh/vsxe4x","transient":true},"external-id-normalized-error":null,"external-id-url":null,"external-id-relationship":"self"}]},"work-summary":[{"put-code":73980893,"created-date":{"value":1589470468736},"last-modified-date":{"value":1589470468736},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/0000-0001-8099-6984","path":"0000-0001-8099-6984","host":"orcid.org"},"source-name":{"value":"DataCite"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"title":{"title":{"value":"news_outlets-README.txt"},"subtitle":null,"translated-title":null},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.7910/dvn/2fiflh/vsxe4x","external-id-normalized":{"value":"10.7910/dvn/2fiflh/vsxe4x","transient":true},"external-id-normalized-error":null,"external-id-url":null,"external-id-relationship":"self"}]},"url":null,"type":"data-set","publication-date":{"year":{"value":"2020"},"month":null,"day":null},"journal-title":{"value":"Harvard
        Dataverse"},"visibility":"public","path":"/0000-0003-1527-0030/work/73980893","display-index":"0"}]},{"last-modified-date":{"value":1589470465749},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.7910/dvn/2fiflh/7chdhj","external-id-normalized":{"value":"10.7910/dvn/2fiflh/7chdhj","transient":true},"external-id-normalized-error":null,"external-id-url":null,"external-id-relationship":"self"}]},"work-summary":[{"put-code":73980890,"created-date":{"value":1589470465749},"last-modified-date":{"value":1589470465749},"source":{"source-orcid":null,"source-client-[...]
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v3.0//works
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Www-Authenticate:
      - 'Bearer realm="ORCID T2 API", error="invalid_token", error_description="Invalid
        access token: private_bearer_token"'
    body:
      encoding: UTF-8
      string: |-
        {
          "error" : "invalid_token",
          "error_description" : "Invalid access token: private_bearer_token"
        }
  recorded_at: Wed, 12 May 2021 18:34:36 GMT
recorded_with: VCR 6.0.0
