---
http_interactions:
- request:
    method: post
    uri: https://sandbox.orcid.org/oauth/token
    body:
      encoding: UTF-8
      string: client_id=Settings.ORCID.CLIENT_ID&client_secret=Settings.ORCID.CLIENT_SECRET&grant_type=client_credentials&scope=%2Fread-public
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"private_access_token","token_type":"bearer","refresh_token":"refresh_token","expires_in":631138518,"scope":"/read-public","orcid":null}'
  recorded_at: Tue, 08 Jun 2021 22:09:34 GMT
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v3.0/0000-0002-7262-6251/works
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last-modified-date":{"value":1622221135739},"group":[{"last-modified-date":{"value":1622221132244},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.1007/s10957-021-01823-0","external-id-normalized":{"value":"10.1007/s10957-021-01823-0","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":"https://doi.org/10.1007/s10957-021-01823-0"},"external-id-relationship":"self"},{"external-id-type":"wosuid","external-id-value":"WOS:000621695700002","external-id-normalized":{"value":"wos:000621695700002","transient":true},"external-id-normalized-error":null,"external-id-url":null,"external-id-relationship":"self"}]},"work-summary":[{"put-code":1253927,"created-date":{"value":1622221132244},"last-modified-date":{"value":1622221132244},"source":{"source-orcid":null,"source-client-id":{"uri":"https://sandbox.orcid.org/client/APP-DEACJ2TLSDYY7P6Z","path":"APP-DEACJ2TLSDYY7P6Z","host":"sandbox.orcid.org"},"source-name":{"value":"Stanford
        University"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"title":{"title":{"value":"Tax-Aware
        Portfolio Construction via Convex Optimization"},"subtitle":null,"translated-title":null},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.1007/s10957-021-01823-0","external-id-normalized":{"value":"10.1007/s10957-021-01823-0","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":"https://doi.org/10.1007/s10957-021-01823-0"},"external-id-relationship":"self"},{"external-id-type":"wosuid","external-id-value":"WOS:000621695700002","external-id-normalized":{"value":"wos:000621695700002","transient":true},"external-id-normalized-error":null,"external-id-url":null,"external-id-relationship":"self"},{"external-id-type":"issn","external-id-value":"1573-2878","external-id-normalized":{"value":"1573-2878","transient":true},"external-id-normalized-error":null,"external-id-url":null,"external-id-relationship":"part-of"},{"external-id-type":"issn","external-id-value":"0022-3239","external-id-normalized":{"value":"0022-3239","transient":true},"external-id-normalized-error":null,"external-id-url":null,"external-id-relationship":"part-of"}]},"url":null,"type":"journal-article","publication-date":{"year":{"value":"2021"},"month":{"value":"02"},"day":{"value":"25"}},"journal-title":{"value":"JOURNAL
        OF OPTIMIZATION THEORY AND APPLICATIONS"},"visibility":"public","path":"/0000-0002-7262-6251/work/1253927","display-index":"0"}]},{"last-modified-date":{"value":1622221135739},"external-ids":{"external-id":[{"external-id-type":"wosuid","external-id-value":"WOS:000622716900001","external-id-normalized":{"value":"wos:000622716900001","transient":true},"external-id-normalized-error":null,"external-id-url":null,"external-id-relationship":"self"},{"external-id-type":"doi","external-id-value":"10.1007/s11222-021-10001-1","external-id-normalized":{"value":"10.1007/s11222-021-10001-1","transient":true},"external-id-normaliz[...]
