---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
              <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xmlQuery><![CDATA[
              <query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <Criterion ConjunctionOperator="AND">
                  <Criteria>
                    <Criterion>
                      <Filter>
                        <Column>WoSItemID</Column>
                        <Operator>In</Operator>
                        <Values>
        <Value>000318550800072</Value>
        <Value>000317872800004</Value>
        <Value>000317717300006</Value>
        </Values>
                        </Filter>
                      </Criterion>
                    </Criteria>
                  </Criterion><Columns>
                    <SortColumn>
                      <Column>PublicationItemID</Column>
                      <Direction>Ascending</Direction>
                    </SortColumn>
                  </Columns>
                </query>
            ]]></xmlQuery>
              </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - some-license-id
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>81941</queryID>\r\n
        \ <queryResultRows>3</queryResultRows>\r\n  <totalRows>3</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 28 Mar 2016 21:56:04 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/81941?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - some-license-id
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>62851007</PublicationItemID>\r\n    <Title>Persistent
        Topology and Metastable State in Conformational Dynamics</Title>\r\n    <Abstract>The
        large amount of molecular dynamics simulation data produced by modern computational
        models brings big opportunities and challenges to researchers. Clustering
        algorithms play an important role in understanding biomolecular kinetics from
        the simulation data, especially under the Markov state model framework. However,
        the ruggedness of the free energy landscape in a biomolecular system makes
        common clustering algorithms very sensitive to perturbat[...]
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: UTF-8
      string: "&id=23565139&id=23540906&id=23635172"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Sid:
      - 73BE2C6A6F9A8751_0181SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January 2016//EN" "http://www.ncbi.nlm.nih.gov/corehtml/query/DTD/pubmed_160101.dtd">
        <PubmedArticleSet>
        <PubmedArticle>
            <MedlineCitation Owner="NLM" Status="MEDLINE">
                <PMID Version="1">23565139</PMID>
                <DateCreated>
                    <Year>2013</Year>
                    <Month>04</Month>
                    <Day>08</Day>
                </DateCreated>
                <DateCompleted>
                    <Year>2013</Year>
                    <Month>10</Month>
                    <Day>30</Day>
                </DateCompleted>
                <DateRevised>
                    <Year>2015</Year>
                    <Month>04</Month>
                    <Day>27</Day>
                </DateRevised>
                <Article PubModel="Print-Electronic">
                    <Journal>
                        <ISSN IssnType="Electronic">1932-6203</ISSN>
                        <JournalIssue CitedMedium="Internet">
                            <Volume>8</Volume>
                            <Issue>4</Issue>
                            <PubDate>
                                <Year>2013</Year>
                            </PubDate>
                        </JournalIssue>
                        <Title>PloS one</Title>
                        <ISOAbbreviation>PLoS ONE</ISOAbbreviation>
                    </Journal>
                    <ArticleTitle>Persistent topology and metastable state in conformational dynamics.</ArticleTitle>
                    <Pagination>
                        <MedlinePgn>e58699</MedlinePgn>
                    </Pagination>
                    <ELocationID EIdType="doi" ValidYN="Y">10.1371/journal.pone.0058699</ELocationID>
                    <Abstract>
                        <AbstractText>The large amount of molecular dynamics simulation data produced by modern computational models brings big opportunities and challenges to researchers. Clustering algorithms play an important role in understanding biomolecular kinetics from the simulation data, especially under the Markov state model framework. However, the ruggedness of the free energy landscape in a biomolecular system makes common clustering algorithms very sensitive to perturbations of the data. Here, we introduce a data-expl[...]
