---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
              <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xmlQuery><![CDATA[
              <query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <Criterion ConjunctionOperator="AND">
                  <Criteria>
                    <Criterion>
                      <Filter>
                        <Column>WoSItemID</Column>
                        <Operator>In</Operator>
                        <Values>
        <Value>000224492700003</Value>
        </Values>
                        </Filter>
                      </Criterion>
                    </Criteria>
                  </Criterion><Columns>
                    <SortColumn>
                      <Column>PublicationItemID</Column>
                      <Direction>Ascending</Direction>
                    </SortColumn>
                  </Columns>
                </query>
            ]]></xmlQuery>
              </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>82248</queryID>\r\n
        \ <queryResultRows>1</queryResultRows>\r\n  <totalRows>1</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 28 Mar 2016 21:56:00 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/82248?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>6076211</PublicationItemID>\r\n    <Title>System analysis
        of power transients in advanced WDM networks</Title>\r\n    <Abstract>This
        paper considers dynamical transient effects in the physical layer of an optical
        circuit-switched wavelength-division-multiplexed network. These transients
        of the average transmission power have millisecond time scales. Instead of
        studying detailed nonlinear dynamics of the network elements, such as optical
        line amplifiers, a linearized model of the dynamics around a given steady
        state is considered. System-level analysis in this paper uses modern control
        theory methods and handles nonlinearity as uncertainty. The analysis translates
        requirements on the network performance into the requirements to the network
        elements. These requirements involve a few gross measures of performance for
        network elements and do not depend on the circuit switching state. One such
        performance measure is the worst amplification gain for all harmonic disturbances
        of the average transmission power. Another is cross-coupling of the wavelength
        channel power variations. The derived requirements guarantee system-level
        performance for all network configurations and can be used for specifying
        optical components and subsystems.</Abstract>\r\n    <AuthorList>Gorinevsky,D,|Farber,G,</AuthorList>\r\n
        \   <AuthorCount>2</AuthorCount>\r\n    <KeywordList>AMPLIFIERS|system analysis|dynamics|optical
        network|transient|physical laver</KeywordList>\r\n    <DocumentTypeList>Article</DocumentTypeList>\r\n
        \   <DocumentCategory>Journal Document</DocumentCategory>\r\n    <NumberOfReferences>10</NumberOfReferences>\r\n
        \   <TimesCited>5</TimesCited>\r\n    <TimesNotSelfCited>5</TimesNotSelfCited>\r\n
        \   <PMID xsi:nil=\"true\" />\r\n    <WoSItemID>000224492700003</WoSItemID>\r\n
        \   <PublicationSourceTitle>JOURNAL OF LIGHTWAVE TECHNOLOGY</PublicationSourceTitle>\r\n
        \   <Volume>22</Volume>\r\n    <Issue>10</Issue>\r\n    <Pagination>2245-2255</Pagination>\r\n
        \   <PublicationDate>2004-10-01T00:00:00</PublicationDate>\r\n    <PublicationYear>2004</PublicationYear>\r\n
        \   <PublicationType>Journal</PublicationType>\r\n    <PublicationSubjectCategoryList>Engineering,
        Electrical &amp; Electronic|Optics</PublicationSubjectCategoryList>\r\n    <ISSN>0733-8724</ISSN>\r\n
        \   <DOI>10.1109/JLT.2004.833274</DOI>\r\n    <ConferenceStartDate xsi:nil=\"true\"
        />\r\n    <ConferenceEndDate xsi:nil=\"true\" />\r\n    <Rank xsi:nil=\"true\"
        />\r\n    <OrdinalRank>0</OrdinalRank>\r\n    <NormalizedRank xsi:nil=\"true\"
        />\r\n    <NewPublicationItemID xsi:nil=\"true\" />\r\n    <IsObsolete>false</IsObsolete>\r\n
        \   <CopyrightPublisher>IEEE-INST ELECTRICAL ELECTRONICS ENGINEERS INC</CopyrightPublisher>\r\n
        \   <CopyrightCity>PISCATAWAY</CopyrightCity>\r\n    <PublicationImpactFactorList>2.113,2004,ExactPublicationYear|2.862,2013,MostRecentYear</PublicationImpactFactorList>\r\n
        \   <PublicationCategoryRankingList>24/209;ENGINEERING, ELECTRICAL &amp; ELECTRONIC;2004;SC;ExactPublicationYear|11/54;OPTICS;2004;SC;ExactPublicationYear|32/248;ENGINEERING,
        ELECTRICAL &amp; ELECTRONIC;2013;SC;MostRecentYear|16/83;OPTICS;2013;SC;MostRecentYear|7/78;TELECOMMUNICATIONS;2013;SC;MostRecentYear</PublicationCategoryRankingList>\r\n
        \   <AuthorCitationCountList>1,0,5|2,0,5</AuthorCitationCountList>\r\n    <CopyrightStateProvince>NJ</CopyrightStateProvince>\r\n
        \   <CopyrightCountry>UNITED STATES</CopyrightCountry>\r\n  </PublicationItem>\r\n</ArrayOfPublicationItem>"
  recorded_at: Mon, 28 Mar 2016 21:56:01 GMT
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Ncbi-Sid:
      - 73BF17A66F9A8711_0854SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE eEfetchResult
        PUBLIC \"-//NLM//DTD efetch 20131226//EN\" \"http://eutils.ncbi.nlm.nih.gov/eutils/dtd/20131226/efetch.dtd\">\n<eFetchResult>\n\t<ERROR>WebEnv
        parameter is required</ERROR>\n</eFetchResult>\n"
  recorded_at: Mon, 28 Mar 2016 21:56:01 GMT
recorded_with: VCR 2.9.3
