---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
            <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xmlQuery><![CDATA[
               <query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/
              XMLSchema">
                <Criterion ConjunctionOperator="AND">
                  <Criteria><Criterion>
                      <Filter>
                        <Column>Title</Column>
                        <Operator>Contains</Operator>
                        <Value>pathological</Value>
                      </Filter>
                    </Criterion></Criteria>
                </Criterion>
                <Columns>
                  <SortColumn>
                    <Column>Rank</Column>
                    <Direction>Descending</Direction>
                  </SortColumn>
                </Columns>
               <MaximumRows>20</MaximumRows>
              </query>
              ]]></xmlQuery>
            </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>41171</queryID>\r\n
        \ <queryResultRows>20</queryResultRows>\r\n  <totalRows>20</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 13 Nov 2017 20:56:48 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/41171?format=xml&page=0&pageSize=20&v=version/4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>79758785</PublicationItemID>\r\n    <Title>Decreased
        expression of EphA5 is associated with Fuhrman nuclear grade and pathological
        tumour stage in ccRCC.</Title>\r\n    <Abstract>The incidence of renal cell
        carcinoma is increasing all over the world. The molecular mechanisms for tumorigenesis,
        progression and prognosis are still unknown. The erythropoietin-producing
        hepatoma amplified sequence (Eph) receptors have been reported to be expressed
        aberrantly in many types of human cancers and in particular EphA5 may play
        a role in certain human cancers. In this study, a set of clear cell renal
        cell carcinoma (ccRCC) tissues wer[...]
