---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
            <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xmlQuery><![CDATA[
               <query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/
              XMLSchema">
                <Criterion ConjunctionOperator="AND">
                  <Criteria><Criterion>
                      <Filter>
                        <Column>Title</Column>
                        <Operator>Contains</Operator>
                        <Value>pathological</Value>
                      </Filter>
                    </Criterion></Criteria>
                </Criterion>
                <Columns>
                  <SortColumn>
                    <Column>Rank</Column>
                    <Direction>Descending</Direction>
                  </SortColumn>
                </Columns>
               <MaximumRows>20</MaximumRows>
              </query>
              ]]></xmlQuery>
            </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>41171</queryID>\r\n
        \ <queryResultRows>20</queryResultRows>\r\n  <totalRows>20</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Fri, 15 Jul 2016 18:43:14 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/41171?format=xml&page=0&pageSize=20&v=version/4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>75624058</PublicationItemID>\r\n    <Title>Aryl hydrocarbon
        receptor knockout rats are insensitive to the pathological effects of repeated
        oral exposure to 2,3,7,8-tetrachlorodibenzo-p-dioxin.</Title>\r\n    <Abstract>Sustained
        activation of the aryl hydrocarbon receptor (AHR) is believed to be the initial
        key event in AHR receptor-mediated tumorigenesis in the rat liver. The role
        of AHR in mediating pathological changes in the liver prior to tumor formation
        was investigated in a 4-week, repeated-dose study using adult female wild-type
        (WT) and AHR knockout (AHR-KO) rats treated with 2,3,7,8-tetrachlorodibenzo-p-dioxin
        (TCDD). Beginning at 8?weeks of age, AHR-KO[...]
