---
http_interactions:
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:search><queryParameters><databaseId>WOK</databaseId><userQuery>TI=&quot;pathological&quot;</userQuery><queryLanguage>en</queryLanguage></queryParameters><retrieveParameters><firstRecord>1</firstRecord><count>100</count><option><key>RecordIDs</key><value>On</value></option><option><key>targetNamespace</key><value>http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord</value></option></retrieveParameters></tns:search></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:searchResponse xmlns:ns2="http://woksearch.v3.wokmws.thomsonreuters.com"><return><queryId>5</queryId><recordsFound>66195</recordsFound><recordsSearched>76312650</recordsSearched><optionValue><label>RecordIDs</label><value>WOS:000168414000005</value><value>WOS:000168414000004</value><value>WOS:000255298600014</value><value>MEDLINE:29003163</value><value>WOS:000201688300403</value><value>MEDLINE:19971713</value><value>WOS:000202611300072</value><value>WOS:A1970H126400013</value><value>MEDLINE:20747318</value><value>MEDLINE:20746134</value><value>MEDLINE:27407527</value><value>WOS:000398493100003</value><value>WOS:000200504200035</value><value>WOS:A1979HR55600014</value><value>WOS:A1962WW8940[...]
