---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AU=(%22Altman,Russ%22%20OR%20%22Altman,Russ,Biagio%22%20OR%20%22Altman,Russ,B%22%20OR%20%22Altman,R%22%20OR%20%22Altman,R,B%22)%20AND%20AD=(%22stanford%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '47647'
      X-Req-Reqpersec-Remaining:
      - '1'
      Correlation-Id:
      - 68a79715-661b-419c-bf62-a1b622c0c8b9#59362765
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<response
        xmlns=\"http://www.isinet.com/xrpc42\">\n    <map>\n        <map name=\"Data\">\n
        \           <val name=\"Records\"><![CDATA[<records><REC r_id_disclaimer=\"ResearcherID
        data provided by Clarivate Analytics\"><UID>WOS:000995351200003</UID><static_data><summary><EWUID><WUID
        coll_id=\"WOS\" /><edition value=\"WOS.SCI\" /></EWUID><pub_info sortdate=\"2022-11-15\"
        pubyear=\"2022\" has_abstract=\"Y\" coverdate=\"NOV 15 2022\" pubmonth=\"NOV
        15\" vol=\"119\" issue=\"46\" pubtype=\"Journal\" journal_oas_gold=\"N\"><page
        page_count=\"11\" /></pub_info><titles count=\"6\"><title type=\"source\">PROCEEDINGS
        OF THE NATIONAL ACADEMY OF SCIENCES OF THE UNITED STATES OF AMERICA</title><title
        type=\"source_abbrev\">P NATL ACAD SCI USA</title><title type=\"abbrev_iso\">Proc.
        Natl. Acad. Sci. U. S. A.</title><title type=\"abbrev_11\">P NAS US</title><title
        type=\"abbrev_29\">PROC NAT ACAD SCI USA</title><title type=\"item\">Functional
        genomics of OCTN2 variants informs protein-specific variant effect predictor
        for Carnitine Transporter Deficiency</title></titles><names count=\"13\"><name
        seq_no=\"1\" role=\"author\" addr_no=\"1\"><display_name>Koleske, Megan L.</display_name><full_name>Koleske,
        Megan L.</full_name><wos_standard>Koleske, ML</wos_standard><first_name>Megan
        L.</first_name><last_name>Koleske</last_name></name><name seq_no=\"2\" role=\"author\"
        addr_no=\"2 3\"><display_name>McInnes, Gregory</display_name><full_name>McInnes,
        Gregory</full_name><wos_standard>McInnes, G</wos_standard><first_name>Gregory</first_name><last_name>McInnes</last_name></name><name
        seq_no=\"3\" role=\"author\" addr_no=\"4 5\"><display_name>Brown, Julia E.
        H.</display_name><full_name>Brown, Julia E. H.</full_name><wos_standard>Brown,
        JEH</wos_standard><first_name>Julia E. H.</first_name><last_nam[...]
