---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/MatchedPublicationItemIdsForAuthor?format=xml
    body:
      encoding: UTF-8
      string: "<?xml version='1.0'?>\n<PublicationAuthorMatchParameters xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'\n
        \ xmlns:xsd='http://www.w3.org/2001/XMLSchema'>\n<Authors>\n  <Author>\n    <LastName>benson</LastName>\n
        \   <FirstName>sally</FirstName>\n    <MiddleName></MiddleName>\n    \n    <Version>1</Version>\n
        \ </Author>\n</Authors>\n<DocumentCategory>Journal Document</DocumentCategory>\n<Emails>\n
        \ <string>smbenson@stanford.edu</string>\n</Emails>\n<PublicationItemIds>\n
        \ <int>532237</int><int>29681830</int><int>29693742</int><int>30153017</int><int>30563572</int><int>30711058</int><int>30991998</int><int>31488302</int><int>31623382</int><int>32897909</int><int>33038883</int><int>33139791</int><int>33878760</int><int>47444872</int><int>53640378</int><int>54368177</int><int>59612803</int><int>59641485</int><int>60094854</int><int>60223059</int><int>60478790</int><int>62816475</int><int>62823609</int><int>62903742</int><int>63182944</int><int>62767480</int><int>59904158[...]
[...]
