---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/MatchedPublicationItemIdsForAuthor?format=xml
    body:
      encoding: UTF-8
      string: "<?xml version='1.0'?>\n<PublicationAuthorMatchParameters xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'\n
        \ xmlns:xsd='http://www.w3.org/2001/XMLSchema'>\n<Authors>\n  <Author>\n    <LastName>edler</LastName>\n
        \   <FirstName>alice</FirstName>\n    <MiddleName></MiddleName>\n    \n    <Version>1</Version>\n
        \ </Author>\n</Authors>\n<DocumentCategory>Journal Document</DocumentCategory>\n<Emails>\n
        \ <string>alice.edler@stanford.edu</string>\n</Emails>\n<PublicationItemIds>\n
        \ <int>5199247</int><int>7877232</int><int>844542</int><int>1178390</int><int>29434219</int><int>30072480</int><int>30502634</int><int>46558063</int><int>31222988</int>\n</PublicationItemIds>\n
        \ <LimitToHighQualityMatchesOnly>true</LimitToHighQualityMatchesOnly>\n</PublicationAuthorMatchParameters>\n"
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfItemMatchResult xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ItemMatchResult>\r\n
        \   <MatchRank>1</MatchRank>\r\n    <PublicationItemID>29352378</PublicationItemID>\r\n
        \   <MatchScore>0.70833337306976318</MatchScore>\r\n  </ItemMatchResult>\r\n
        \ <ItemMatchResult>\r\n    <MatchRank>2</MatchRank>\r\n    <PublicationItemID>29187981</PublicationItemID>\r\n
        \   <MatchScore>0.43207001686096191</MatchScore>\r\n  </ItemMatchResult>\r\n
        \ <ItemMatchResult>\r\n    <MatchRank>3</MatchRank>\r\n    <PublicationItemID>46795732</PublicationItemID>\r\n
        \   <MatchScore>0.14644426107406616</MatchScore>\r\n  </ItemMatchResult>\r\n</ArrayOfItemMatchResult>"
  recorded_at: Mon, 13 Nov 2017 20:59:10 GMT
[...]
