---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/MatchedPublicationItemIdsForAuthor?format=xml
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0'?>
        <PublicationAuthorMatchParameters xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
          xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
        <Authors>
          <Author>
            <LastName>edler</LastName>
            <FirstName>alice</FirstName>
            <MiddleName></MiddleName>
            <City>Stanford</City>
            <State>CA</State>
            <Country>USA</Country>
            <Version>1</Version>
          </Author>
        </Authors>
        <DocumentCategory>Journal Document</DocumentCategory>
        <Emails>
          <string>alice.edler@stanford.edu</string>
        </Emails>
        <PublicationItemIds>
          <int>5199247</int><int>7877232</int><int>844542</int><int>1178390</int><int>29434219</int><int>30072480</int><int>30502634</int><int>46558063</int><int>31222988</int>
        </PublicationItemIds>
          <LimitToHighQualityMatchesOnly>true</LimitToHighQualityMatchesOnly>
        </PublicationAuthorMatchParameters>
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfItemMatchResult xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ItemMatchResult>\r\n
        \   <MatchRank>1</MatchRank>\r\n    <PublicationItemID>29352378</PublicationItemID>\r\n
        \   <MatchScore>1.2708333730697632</MatchScore>\r\n  </ItemMatchResult>\r\n
        \ <ItemMatchResult>\r\n    <MatchRank>2</MatchRank>\r\n    <PublicationItemID>29187981</PublicationItemID>\r\n
        \   <MatchScore>0.99226635694503784</MatchScore>\r\n  </ItemMatchResult>\r\n
        \ <ItemMatchResult>\r\n    <MatchRank>3</MatchRank>\r\n    <PublicationItemID>46795732</PublicationItemID>\r\n
        \   <MatchScore>0.51962459087371826</MatchScore>\r\n  </ItemMatchResult>\r\n
        \ <ItemMatchResult>\r\n    <MatchRank>4</MatchRank>\r\n    <PublicationItemID>47593787</PublicationItemID>\r\n
        \   <MatchScore>0.49845153093338013</MatchScore>\r\n  </ItemMatchResult>\r\n</ArrayOfItemMatchResult>"
  recorded_at: Wed, 11 May 2016 04:12:30 GMT
[...]
