---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
              <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xmlQuery><![CDATA[
               <query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/
              XMLSchema">
                <Criterion ConjunctionOperator="AND">
                  <Criteria><Criterion>
                      <Filter>
                        <Column>Title</Column>
                        <Operator>Contains</Operator>
                        <Value>lung cancer treatment</Value>
                      </Filter>
                    </Criterion></Criteria>
                </Criterion>
                <Columns>
                  <SortColumn>
                    <Column>Rank</Column>
                    <Direction>Descending</Direction>
                  </SortColumn>
                </Columns>
               <MaximumRows>20</MaximumRows>
              </query>
              ]]></xmlQuery>
              </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>50106</queryID>\r\n
        \ <queryResultRows>20</queryResultRows>\r\n  <totalRows>20</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Tue, 05 Apr 2016 23:40:16 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/50106?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>75315890</PublicationItemID>\r\n    <Title>Evaluation
        of melanoma antigen gene A3 expression in drug resistance of epidermal growth
        factor receptor-tyrosine kinase inhibitors in advanced nonsmall cell lung
        cancer treatment</Title>\r\n    <Abstract>Objective: To investigate the correlation
        between melanoma antigen gene A3 (MAGE-A3) expression and progression-free
        survival (PFS) of nonsmall cell lung cancer (NSCLC) patients with epidermal
        growth factor receptor-tyrosine kinase inhibitor (EGFR-TKIs) therapy, aiming
        to provide a basis for research and treatment of EGFR-TKIs resistance. Research
        and Methods: Retrospective analysis is conducted of PFS of 359 NSCLC patients
        who have been tested pos[...]
[...]
