---
http_interactions:
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:search><queryParameters><databaseId>WOK</databaseId><userQuery>TI=&quot;lung
        cancer treatment&quot;</userQuery><queryLanguage>en</queryLanguage></queryParameters><retrieveParameters><firstRecord>1</firstRecord><count>100</count><option><key>RecordIDs</key><value>On</value></option><option><key>targetNamespace</key><value>http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord</value></option></retrieveParameters></tns:search></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:searchResponse xmlns:ns2="http://woksearch.v3.wokmws.thomsonreuters.com"><return><queryId>3</queryId><recordsFound>517</recordsFound><recordsSearched>76312650</recordsSearched><optionValue><label>RecordIDs</label><value>MEDLINE:11091924</value><value>WOS:000399118300016</value><value>WOS:000264606100006</value><value>WOS:000219197400048</value><value>WOS:000256235400010</value><value>WOS:000221346600012</value><value>WOS:000084067400071</value><value>WOS:000392973900003</value><value>WOS:000399118300013</value><value>MEDLINE:2162441</value><value>MEDLINE:9369922</value><value>MEDLINE:11349635</value><value>MEDLINE:14603554</value><value>WOS:000079706500014</value><value>WOS:0003225449000[...]
