---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
            <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xmlQuery><![CDATA[
               <query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/
              XMLSchema">
                <Criterion ConjunctionOperator="AND">
                  <Criteria><Criterion>
                      <Filter>
                        <Column>Title</Column>
                        <Operator>Contains</Operator>
                        <Value>pathological</Value>
                      </Filter>
                    </Criterion><Criterion>
                      <Filter>
                        <Column>PublicationYear</Column>
                        <Operator>Equals</Operator>
                        <Value>2015</Value>
                      </Filter>
                    </Criterion></Criteria>
                </Criterion>
                <Columns>
                  <SortColumn>
                    <Column>Rank</Column>
                    <Direction>Descending</Direction>
                  </SortColumn>
                </Columns>
               <MaximumRows>20</MaximumRows>
              </query>
              ]]></xmlQuery>
            </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>231219</queryID>\r\n
        \ <queryResultRows>20</queryResultRows>\r\n  <totalRows>20</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 13 Nov 2017 20:56:46 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/231219?format=xml&page=0&pageSize=20&v=version/4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>79560905</PublicationItemID>\r\n    <Title>Comparison
        of Clinical and Pathological Differences of Breast Cancer Patients under 35
        and above 55 Years of Age.</Title>\r\n    <Abstract>OBJECTIVE In this study,
        we aimed to evaluate the clinical, pathologic and management differences between
        breast cancer patients under 35 years of age and postmenopausal patients above
        55 years of age.\r\nMATERIALS AND METHODS Patients who were operated on for
        breast cancer between November 2003 and March 2013 in our hospital were retrospectively
        analyzed. Patients were separated into two Groups according their age; Group
        1 (&lt;35 years) and Group[...]
