---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=0&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '1952242'
      X-Req-Reqpersec-Remaining:
      - '24'
      Correlation-Id:
      - 3552fe85-7449-45d3-9998-fd40d6906031#50322686
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">964</val>
                        <val name="RecordsSearched">632858</val>
                        <val name="RecordsFound">1</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Tue, 31 Oct 2023 18:01:40 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/964?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 51e08d06-fa1d-41ae-a29a-2c8c998ae3fe#49773166
    body:
      encoding: UTF-8
      string: '["WOS:001064713900001"]'
  recorded_at: Tue, 31 Oct 2023 18:01:40 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=0&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AU=(%22Altman,Russ%22%20OR%20%22Altman,Russ,Biagio%22%20OR%20%22Altman,Russ,B%22%20OR%20%22Altman,R%22%20OR%20%22Altman,R,B%22)%20AND%20AD=(%22stanford%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '1952242'
      X-Req-Reqpersec-Remaining:
      - '23'
      Correlation-Id:
      - '038b355c-a3b4-403e-9fff-84e92b01a6a6#49883958'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">965</val>
                        <val name="RecordsSearched">632858</val>
                        <val name="RecordsFound">6</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Tue, 31 Oct 2023 18:01:40 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/965?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AU=(%22Altman,Russ%22%20OR%20%22Altman,Russ,Biagio%22%20OR%20%22Altman,Russ,B%22%20OR%20%22Altman,R%22%20OR%20%22Altman,R,B%22)%20AND%20AD=(%22stanford%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 8cd5e0b0-d74e-4d39-945c-153bb8611ed1#50212833
    body:
      encoding: UTF-8
      string: '["MEDLINE:37857935","PPRN:85608644","WOS:001064713900001","WOS:001053758300036","WOS:001074959100001","WOS:001070851600001"]'
  recorded_at: Tue, 31 Oct 2023 18:01:41 GMT
recorded_with: VCR 6.2.0
