---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=RID=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '47949'
      X-Req-Reqpersec-Remaining:
      - '1'
      Correlation-Id:
      - d7dccf5d-57d7-4e68-8c33-5f19d1b38f26#59190141
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">26</val>
                        <val name="RecordsSearched">919348</val>
                        <val name="RecordsFound">0</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Wed, 21 Jun 2023 19:46:54 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AU=(%22Altman,Russ%22%20OR%20%22Altman,Russ,Biagio%22%20OR%20%22Altman,Russ,B%22%20OR%20%22Altman,R%22%20OR%20%22Altman,R,B%22)%20AND%20AD=(%22stanford%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '47948'
      X-Req-Reqpersec-Remaining:
      - '0'
      Correlation-Id:
      - 73c0b0c7-bef8-453e-9745-04d5bb96ed60#19954763
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<response
        xmlns=\"http://www.isinet.com/xrpc42\">\n    <map>\n        <map name=\"Data\">\n
        \           <val name=\"Records\"><![CDATA[<records><REC r_id_disclaimer=\"ResearcherID
        data provided by Clarivate Analytics\"><UID>WOS:000995351200003</UID><static_data><summary><EWUID><WUID
        coll_id=\"WOS\" /><edition value=\"WOS.SCI\" /></EWUID><pub_info sortdate=\"2022-11-15\"
        pubyear=\"2022\" has_abstract=\"Y\" coverdate=\"NOV 15 2022\" pubmonth=\"NOV
        15\" vol=\"119\" issue=\"46\" pubtype=\"Journal\" journal_oas_gold=\"N\"><page
        page_count=\"11\" /></pub_info><titles count=\"6\"><title type=\"source\">PROCEEDINGS
        OF THE NATIONAL ACADEMY OF SCIENCES OF THE UNITED STATES OF AMERICA</title><title
        type=\"source_abbrev\">P NATL ACAD SCI USA</title><title type=\"abbrev_iso\">Proc.
        Natl. Acad. Sci. U. S. A.</title><title type=\"abbrev_11\">P NAS US</title><title
        type=\"abbrev_29\">PROC NAT ACAD SCI USA</title><title type=\"item\">Functional
        genomics of OCTN2 variants informs protein-specific variant effect predictor
        for Carnitine Transporter Deficiency</title></titles><names count=\"13\"><name
        seq_no=\"1\" role=\"author\" addr_no=\"1\"><display_name>Koleske, Megan L.</display_name><full_name>Koleske,
        Megan L.</full_name><wos_standard>Koleske, ML</wos_standard><first_name>Megan
        L.</first_name><last_name>Koleske</last_name></name><name seq_no=\"2\" role=\"author\"
        addr_no=\"2 3\"><display_name>McInnes, Gregory</display_name><full_name>McInnes,
        Gregory</full_name><wos_standard>McInnes, G</wos_standard><first_name>Gregory</first_name><last_name>McInnes</last_name></name><name
        seq_no=\"3\" role=\"author\" addr_no=\"4 5\"><display_name>Brown, Julia E.
        H.</display_name><full_name>Brown, Julia E. H.</full_name><wos_standard>Brown,
        JEH</wos_standard><first_name>Julia E. H.</first_name><last_nam[...]
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '46794'
      X-Req-Reqpersec-Remaining:
      - '1'
      Correlation-Id:
      - 834b18c7-3165-4202-95d2-13eb23519c65#956485
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">18</val>
                        <val name="RecordsSearched">910776</val>
                        <val name="RecordsFound">0</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Thu, 22 Jun 2023 19:37:51 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=0&databaseId=WOK&firstRecord=1&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '2095835'
      X-Req-Reqpersec-Remaining:
      - '24'
      Correlation-Id:
      - 51e08d06-fa1d-41ae-a29a-2c8c998ae3fe#8768452
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">1524</val>
                        <val name="RecordsSearched">100852250</val>
                        <val name="RecordsFound">168</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Thu, 19 Oct 2023 22:25:10 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/1524?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 69fe74ac-bc5a-4021-8566-230b99251e63#8881780
    body:
     [...]
[...]
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=0&databaseId=WOK&firstRecord=1&usrQuery=AU=(%22Altman,Russ%22%20OR%20%22Altman,Russ,Biagio%22%20OR%20%22Altman,Russ,B%22%20OR%20%22Altman,R%22%20OR%20%22Altman,R,B%22)%20AND%20AD=(%22stanford%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '2095835'
      X-Req-Reqpersec-Remaining:
      - '24'
      Correlation-Id:
      - 69fe74ac-bc5a-4021-8566-230b99251e63#8881788
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">1525</val>
                        <val name="RecordsSearched">100852250</val>
                        <val name="RecordsFound">594</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Thu, 19 Oct 2023 22:25:11 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/1525?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AU=(%22Altman,Russ%22%20OR%20%22Altman,Russ,Biagio%22%20OR%20%22Altman,Russ,B%22%20OR%20%22Altman,R%22%20OR%20%22Altman,R,B%22)%20AND%20AD=(%22stanford%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
[...]
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/1541?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AU=(%22Altman,Russ%22%20OR%20%22Altman,Russ,Biagio%22%20OR%20%22Altman,Russ,B%22%20OR%20%22Altman,R%22%20OR%20%22Altman,R,B%22)%20AND%20AD=(%22stanford%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 06112123-c2cd-462d-a214-266034f0c849#8979760
    body:
      encoding: UTF-8
      string: '["WOS:001053758300036","WOS:001074959100001","WOS:001070851600001","WOS:001068887100001","WOS:001064713900001","WOS:001048869300001","WOS:A1986D612900016"]'
  recorded_at: Thu, 19 Oct 2023 23:11:34 GMT
recorded_with: VCR 6.2.0
