---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
            <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xmlQuery>&lt;query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
                      &lt;Criterion ConjunctionOperator="AND"&gt;
                        &lt;Criteria&gt;
                          &lt;Criterion&gt;
                            &lt;Filter&gt;
                              &lt;Column&gt;PMID&lt;/Column&gt;
                              &lt;Operator&gt;In&lt;/Operator&gt;
                              &lt;Values&gt;&lt;Value&gt;10487815&lt;/Value&gt;&lt;/Values&gt;
                                    &lt;/Filter&gt;
                                  &lt;/Criterion&gt;
                                &lt;/Criteria&gt;
                              &lt;/Criterion&gt;
                              &lt;Columns&gt;
                                &lt;SortColumn&gt;
                                  &lt;Column&gt;Rank&lt;/Column&gt;
                                  &lt;Direction&gt;Descending&lt;/Direction&gt;
                                &lt;/SortColumn&gt;
                              &lt;/Columns&gt;
                              &lt;MaximumRows&gt;1000&lt;/MaximumRows&gt;
                            &lt;/query&gt;</xmlQuery>
            </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>142959</queryID>\r\n
        \ <queryResultRows>1</queryResultRows>\r\n  <totalRows>1</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 13 Nov 2017 20:58:01 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/142959?format=xml&page=0&pageSize=1&v=version/4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>10340243</PublicationItemID>\r\n    <Title>Convergence
        and correlations among leaf size and function in seed plants: A comparative
        test using independent contrasts</Title>\r\n    <Abstract>Prior studies of
        a broad array of seed plants have reported strong correlations among leaf
        life span, specific leaf area, nitrogen concentration, and carbon assimilation
        rates, which have been interpreted as evidence of coordinated leaf physiological
        strategies. However, it is not known whether these relationships reflect patterns
        of evolutionary convergence, or whether they are due to contrasting characteristics
        of major seed plant lineages. We re[...]
- request:
    method: post
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: UTF-8
      string: "&id=10487815"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Phid:
      - 9DB8FD4013C65A553C42F43C6393B8B1.1.m_3
      Ncbi-Sid:
      - C1B210BA7C7810B6_EDA2SID
      Content-Type:
      - text/xml; charset=UTF-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" ?>
        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January 2018//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_180101.dtd">
        <PubmedArticleSet>
        <PubmedArticle>
            <MedlineCitation Status="PubMed-not-MEDLINE" Owner="NLM">
                <PMID Version="1">10487815</PMID>
                <DateCompleted>
                    <Year>2012</Year>
                    <Month>10</Month>
                    <Day>02</Day>
                </DateCompleted>
                <DateRevised>
                    <Year>2011</Year>
                    <Month>06</Month>
                    <Day>16</Day>
                </DateRevised>
                <Article PubModel="Print">
                    <Journal>
                        <ISSN IssnType="Print">0002-9122</ISSN>
                        <JournalIssue CitedMedium="Print">
                            <Volume>86</Volume>
                            <Issue>9</Issue>
                            <PubDate>
                                <Year>1999</Year>
                                <Month>Sep</Month>
                            </PubDate>
                        </JournalIssue>
                        <Title>American journal of botany</Title>
                        <ISOAbbreviation>Am. J. Bot.</ISOAbbreviation>
                    </Journal>
                    <ArticleTitle>Convergence and correlations among leaf size and function in seed plants: a comparative test using independent contrasts.</ArticleTitle>
                    <Pagination>
                        <MedlinePgn>1272-81</MedlinePgn>
                    </Pagination>
                    <Abstract>
                        <AbstractText>Prior studies of a broad array of seed plants have reported strong correlations among leaf life span, specific leaf area, nitrogen concentration, and carbon assimilation rates, which have been interpreted as evidence of coordinated leaf physiological strategies. However, it is not known whether these relationships reflect patterns of evolutionary convergence, or whether they are due to contrasting characteristics of major seed plant lineages. We reevaluated a published data set for these seven t[...]
