---
http_interactions:
- request:
    method: get
    uri: https://authz.stanford.edu/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Settings.CAP.TOKEN_USER:Settings.CAP.TOKEN_PASS
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"bearer","expires_in":86399,"scope":"profiles.read_all","jti":"887a21d2-8261-4ea0-a623-5bbfe1a277a0"}'
  recorded_at: Fri, 15 Dec 2017 20:40:58 GMT
recorded_with: VCR 4.0.0
