---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=0&databaseId=WOK&firstRecord=1&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '4723700'
      X-Req-Reqpersec-Remaining:
      - '24'
      Correlation-Id:
      - 3335817f-7dc0-4c87-a533-5e8ca3718c46#14294136
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">553</val>
                        <val name="RecordsSearched">145090046</val>
                        <val name="RecordsFound">189</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Tue, 10 Feb 2026 18:22:36 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/553?count=75&databaseId=WOK&firstRecord=1&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 5a2ea72a-613d-42ea-94c1-1295498d7812#14380855
    body:
      encoding: ASCII-[...]
[...]
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/553?count=75&databaseId=WOK&firstRecord=151&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 2002031d-1688-40ac-a9c1-9ce3e7a52432#14311790
    body:
      encoding: ASCII-8BIT
      string: '["WOS:000364626100006","WOS:000359752100030","WOS:000362838700024","WOS:000360191800016","WOS:000360322800016","WOS:000359645700006","WOS:000359895400001","WOS:000358821300020","WOS:000358581700030","WOS:000357993500007","WOS:000356370900005","WOS:000355557900008","WOS:000356780900020","WOS:000355751600011","WOS:000351668600006","WOS:000352371900019","WOS:000353198700012","WOS:000349450800007","WOS:000461835500001","WOS:000348562700003","WOS:000349098000032","WOS:000347393200006","WOS:000347500100015","WOS:000346632900006","WOS:000348126800006","WOS:000336507500015","WOS:000461835500048","WOS:000343666300003","WOS:000342763900023","WOS:000341505000057","WOS:000340731400006","WOS:000339602900018","WOS:000339166700007","WOS:000337727000007","WOS:000336260000006","WOS:000335405200021","WOS:000334741600026","WOS:000334429300007","WOS:000332575800021"]'
  recorded_at: Tue, 10 Feb 2026 18:22:37 GMT
recorded_with: VCR 6.4.0
