---
http_interactions:
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationItems?format=xml&publicationItemIDs=64367696
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>64367696</PublicationItemID>\r\n    <Title>Exploring
        Patterns of Seafood Provision Revealed in the Global Ocean Health Index</Title>\r\n
        \   <Abstract>Sustainable provision of seafood from wild-capture fisheries
        and mariculture is a fundamental component of healthy marine ecosystems and
        a major component of the Ocean Health Index. Here we critically review the
        food provision model of the Ocean Health Index, and explore the implications
        of knowledge gaps, scale of analysis, choice of reference points, measures
        of sustainability, and quality of input data. Global patterns for fisheries
        are positively related to human development and latitude, whereas patterns
        for mariculture are most closely associated with economic importance of seafood.
        Sensitivity analyses show that scores are robust to several model assumptions,
        but highly sensitive to choice of reference points and, for fisheries, extent
        of time series available to estimate landings. We show how results for sustainable
        seafood may be interpreted and used, and we evaluate which modifications show
        the greatest potential for improvements.</Abstract>\r\n    <AuthorList>Kleisner,Kristin,M|Longo,Catherine,|Coll,Marta,|Halpern,Ben,S|Hardy,Darren,|Katona,Steven,K|Le
        Manach,Frederic,|Pauly,Daniel,|Rosenberg,Andrew,A|Samhouri,Jameal,F|Scarborough,Courtney,|Sumaila,U,Rashid|Watson,Reg,|Zeller,Dirk,</AuthorList>\r\n
        \   <AuthorCount>14</AuthorCount>\r\n    <KeywordList>ECOSYSTEMS|FISHERIES|aquaculture|seafood|status|FAO|mariculture|assessment|fisheries|indicator</KeywordList>\r\n
        \   <DocumentTypeList>Article</DocumentTypeList>\r\n    <DocumentCategory>Journal
        Document</DocumentCategory>\r\n    <NumberOfReferences>27</NumberOfReferences>\r\n
        \   <TimesCited>9</TimesCited>\r\n    <TimesNotSelfCited>3</TimesNotSelfCited>\r\n
        \   <PMID>24213991</PMID>\r\n    <WoSItemID>000326892600002</WoSItemID>\r\n
        \   <PublicationSourceTitle>AMBIO</PublicationSourceTitle>\r\n    <Volume>42</Volume>\r\n
        \   <Issue>8</Issue>\r\n    <Pagination>910-922</Pagination>\r\n    <PublicationDate>2013-11-01T00:00:00</PublicationDate>\r\n
        \   <PublicationYear>2013</PublicationYear>\r\n    <PublicationType>Journal</PublicationType>\r\n
        \   <PublicationImpactFactor>2.973</PublicationImpactFactor>\r\n    <PublicationSubjectCategoryList>Engineering,
        Environmental|Environmental Sciences</PublicationSubjectCategoryList>\r\n
        \   <ISSN>0044-7447</ISSN>\r\n    <DOI>10.1007/s13280-013-0447-x</DOI>\r\n
        \   <ConferenceStartDate xsi:nil=\"true\" />\r\n    <ConferenceEndDate xsi:nil=\"true\"
        />\r\n    <Rank xsi:nil=\"true\" />\r\n    <OrdinalRank>1</OrdinalRank>\r\n
        \   <NormalizedRank xsi:nil=\"true\" />\r\n    <NewPublicationItemID>64367696</NewPublicationItemID>\r\n
        \   <IsObsolete>false</IsObsolete>\r\n    <CopyrightPublisher>SPRINGER</CopyrightPublisher>\r\n
        \   <CopyrightCity>DORDRECHT</CopyrightCity>\r\n  </PublicationItem>\r\n</ArrayOfPublicationItem>"
  recorded_at: Mon, 13 Nov 2017 20:57:40 GMT
recorded_with: VCR 3.0.1
