<woksearch:search>
  <queryParameters>
    <databaseId>WOS</databaseId>
    <userQuery>TS=(cadmium OR lead)</userQuery>
    <editions>
      <collection>WOS</collection>
      <edition>SCI</edition>
    </editions>
    <timeSpan>
      <begin>2000-01-01</begin>
      <end>2011-12-31</end>
    </timeSpan>
    <queryLanguage>en</queryLanguage>
  </queryParameters>
  <retrieveParameters>
    <firstRecord>1</firstRecord>
    <count>5</count>
    <option>
      <key>RecordIDs</key>
      <value>On</value>
    </option>
    <option>
      <key>targetNamespace</key>
      <value>http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord</value>
    </option>
  </retrieveParameters>
</woksearch:search>
