---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n    <ScienceWireQueryXMLParameter xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n    <xmlQuery>          <![CDATA[\n
        \                        <query xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n              <Criterion>\n
        \               <Criteria>\n                              <Criterion>\n              <TextSearch>\n
        \               <QueryPredicate>\"Smith,James\" or \"Smith,J\"</QueryPredicate>\n
        \               <SearchType>ExactMatch</SearchType>\n                <Columns>AggregateText</Columns>\n
        \               <MaximumRows>200</MaximumRows>\n              </TextSearch>\n
        \           </Criterion>\n\n                                <Criterion>\n
        \               <Filter>\n                  <Column>AuthorLastName</Column>\n
        \                 <Operator>BeginsWith</Operator>\n                  <Value>SMITH</Value>\n
        \               </Filter>\n              </Criterion>\n\n                                <Criterion>\n
        \               <Filter>\n                  <Column>AuthorFirstName</Column>\n
        \                 <Operator>BeginsWith</Operator>\n                  <Value>J</Value>\n
        \               </Filter>\n              </Criterion>\n\n                  \n
        \                 \n                              <Criterion>\n              <Filter>\n
        \               <Column>DocumentCategory</Column>\n                <Operator>In</Operator>\n
        \               <Values>\n                  <Value>Journal Document</Value>\n
        \                 <Value>Conference Proceeding Document</Value>\n                </Values>\n
        \             </Filter>\n            </Criterion>\n\n                </Criteria>\n
        \             </Criterion>\n                          <Columns>\n              <SortColumn>\n
        \               <Column>Rank</Column>\n                <Direction>Descending</Direction>\n
        \             </SortColumn>\n            </Columns>\n\n              <MaximumRows>200</MaximumRows>\n
        \           </query>\n\n            ]]>\n</xmlQuery>\n    </ScienceWireQueryXMLParameter>"
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>263024</queryID>\r\n
        \ <queryResultRows>33</queryResultRows>\r\n  <totalRows>33</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Fri, 15 Jul 2016 18:43:27 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/263024?format=xml&page=0&pageSize=33&v=version/4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>71190799</PublicationItemID>\r\n    <Title>A Wasp's
        Nest</Title>\r\n    <Abstract />\r\n    <AuthorList>Sutherland-Smith,James,</AuthorList>\r\n
        \   <AuthorCount>1</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Poetry</DocumentTypeList>\r\n
        \   <DocumentCategory>Journal Document</DocumentCategory>\r\n    <NumberOfReferences
        xsi:nil=\"true\" />\r\n    <TimesCited>0</TimesCited>\r\n    <TimesNotSelfCited>0</TimesNotSelfCited>\r\n
        \   <PMID xsi:nil=\"true\" />\r\n    <WoSItemID>000357064800054</WoSItemID>\r\n
        \   <PublicationSourceTitle>STAND</PublicationSourceTitle>\r\n    <Volume>13</Volume>\r\n
        \   <Issue>1</Issue>\r\n    <Pagination>41-42</Pagination>\r\n    <PublicationDate>2015-01-01T00:00:00</PublicationDate>\r\n
        \   <PublicationYear>2015</PublicationYear>\r\n    <PublicationType>Journal</PublicationType>\r\n
        \   <PublicationSubjectCategoryList>Literary Reviews</PublicationSubjectCategoryList>\r\n
        \   <ISSN>0038-9366</ISSN>\r\n    <ConferenceStartDate xsi:nil=\"true\" />\r\n
        \   <ConferenceEndDate xsi:nil=\"true\" />\r\n    <Rank>432</Rank>\r\n    <OrdinalRank>0</OrdinalRank>\r\n
        \   <NormalizedRank>100</NormalizedRank>\r\n    <NewPublicationItemID xsi:nil=\"true\"
        />\r\n    <IsObsolete>false</IsObsolete>\r\n    <CopyrightPublisher>STAND</CopyrightPublisher>\r\n
        \   <CopyrightCity>LEEDS</CopyrightCity>\r\n    <AuthorCitationCountList>1,0,0</AuthorCitationCountList>\r\n
        \   <CopyrightStateProvince />\r\n    <CopyrightCountry>UNITED KINGDOM</CopyrightCountry>\r\n
        \ </PublicationItem>\r\n  <PublicationItem>\r\n    <PublicationItemID>71177575</PublicationItemID>\r\n
        \   <Title>Small Scale Observations</Title>\r\n    <Abstract />\r\n    <AuthorList>Sutherland-Smith,James,</AuthorList>\r\n
        \   <AuthorCount>1</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Poetry</DocumentTypeList>\r\n
        \   <DocumentCategory>Journal Document</DocumentCategory>\r\n    <NumberOfReferences
       [...]
