---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
              <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xmlQuery><![CDATA[
               <query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/
              XMLSchema">
                <Criterion>
                  <Criteria><Criterion>
                      <TextSearch>
                          <QueryPredicate>("smith,james" or "SMITH,J") and Stanford</QueryPredicate>
                          <SearchType>ExactMatch</SearchType>
                          <Columns>AggregateText</Columns>
                          <MaximumRows>200</MaximumRows>
                          </TextSearch>
                    </Criterion><Criterion>
                        <Filter>
                          <Column>AuthorLastName</Column>
                          <Operator>BeginsWith</Operator>
                          <Value>SMITH</Value>
                        </Filter>
                      </Criterion><Criterion>
                        <Filter>
                          <Column>AuthorFirstName</Column>
                          <Operator>BeginsWith</Operator>
                          <Value>J</Value>
                        </Filter>
                      </Criterion><Criterion>
                            <Filter>
                              <Column>DocumentCategory</Column>
                              <Operator>In</Operator>
                              <Values>
                                <Value>Journal Document</Value>
                                <Value>Conference Proceeding Document</Value>
                              </Values>
                            </Filter>
                          </Criterion></Criteria>
                </Criterion>
                <Columns>
                  <SortColumn>
                    <Column>Rank</Column>
                    <Direction>Descending</Direction>
                  </SortColumn>
                </Columns>
               <MaximumRows>200</MaximumRows>
              </query>
              ]]></xmlQuery>
              </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>129740</queryID>\r\n
        \ <queryResultRows>17</queryResultRows>\r\n  <totalRows>17</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Tue, 05 Apr 2016 23:36:18 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/129740?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>73471033</PublicationItemID>\r\n    <Title>What About
        This: Collected Poems of Frank Stanford</Title>\r\n    <Abstract />\r\n    <AuthorList>Smith,Jordan,</AuthorList>\r\n
        \   <AuthorCount>1</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Book
        Review</DocumentTypeList>\r\n    <DocumentCategory>Journal Document</DocumentCategory>\r\n
        \   <NumberOfReferences>1</NumberOfReferences>\r\n    <TimesCited>0</TimesCited>\r\n
        \   <TimesNotSelfCited>0</TimesNotSelfCited>\r\n    <PMID xsi:nil=\"true\"
        />\r\n    <WoSItemID>000363825200036</WoSItemID>\r\n    <PublicationSourceTitle>ANTIOCH
        REVIEW</PublicationSourceTitle>\r\n    <Volume>73</Volume>\r\n    <Issue>4</Issue>\r\n
        \   <Pagination>780-781</Pagination>\r\n    <PublicationDate>2015-10-01T00:00:00</PublicationDate>\r\n
        \   <PublicationYear>2015</PublicationYear>\r\n    <PublicationType>Journal</PublicationType>\r\n
        \   <PublicationSubjectCategoryList>Literary Reviews</PublicationSubjectCategoryList>\r\n
        \   <ISSN>0003-5769</ISSN>\r\n    <ConferenceStartDate xsi:nil=\"true\" />\r\n
        \   <ConferenceEndDate xsi:nil=\"true\" />\r\n    <Rank>112</Rank>\r\n    <OrdinalRank>0</OrdinalRank>\r\n
        \   <NormalizedRank>100</NormalizedRank>\r\n    <NewPublicationItemID xsi:nil=\"true\"
        />\r\n    <IsObsolete>false</IsObsolete>\r\n    <CopyrightPublisher>ANTIOCH
        REVIEW</CopyrightPublisher>\r\n    <CopyrightCity>YELLOW SPRINGS</CopyrightCity>\r\n
        \   <AuthorCitationCountList>1,0,0</AuthorCitationCountList>\r\n    <CopyrightStateProvince>OH</CopyrightStateProvince>\r\n
        \   <CopyrightCountry>UNITED STATES</CopyrightCountry>\r\n  </PublicationItem>\r\n
        \ <PublicationItem>\r\n    <PublicationItemID>49570291</PublicationItemID>\r\n
        \   <Title>ENVIRONMENTAL SCANNING</Title>\r\n    <Abstract />\r\n    <AuthorList>SMITH,J,B</AuthorList>\r\n
        \   <AuthorCount>1</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Letter</DocumentTypeList>\r\n
        \   <DocumentCategory>Journal Document</DocumentCategory>\r\n    <NumberOfReferences>1</NumberOfReferences>\r[...]
