---
http_interactions:
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:search><queryParameters><databaseId>WOK</databaseId><userQuery>AU=(&quot;Altman,Russ&quot;
        or &quot;Altman,R&quot; or &quot;Altman,Russ,Biagio&quot; or &quot;Altman,Russ,B&quot;
        or &quot;Altman,R,B&quot;) AND AD=(stanford)</userQuery><queryLanguage>en</queryLanguage></queryParameters><retrieveParameters><firstRecord>1</firstRecord><count>100</count><viewField><collectionName>WOS</collectionName><fieldName></fieldName></viewField><viewField><collectionName>MEDLINE</collectionName><fieldName></fieldName></viewField><option><key>RecordIDs</key><value>On</value></option></retrieveParameters></tns:search></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:searchResponse xmlns:ns2="http://woksearch.v3.wokmws.thomsonreuters.com"><return><queryId>2</queryId><recordsFound>471</recordsFound><recordsSearched>75592049</recordsSearched><optionValue><label>RecordIDs</label><value>WOS:000369219800001</value><value>MEDLINE:24551397</value><value>MEDLINE:20161212</value><value>MEDLINE:12647379</value><value>MEDLINE:2611273</value><value>WOS:000179509700007</value><value>WOS:000172527000005</value><value>WOS:A1989CW82100011</value><value>MEDLINE:28975675</value><value>MEDLINE:18819074</value><value>WOS:000251034700001</value><value>WOS:000306925000001</value><value>WOS:000176553400006</value><value>WOS:000240964500001</value><value>WOS:000273866500001[...]
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:retrieve><queryId>2</queryId><retrieveParameters><firstRecord>101</firstRecord><count>100</count><viewField><collectionName>WOS</collectionName><fieldName></fieldName></viewField><viewField><collectionName>MEDLINE</collectionName><fieldName></fieldName></viewField><option><key>RecordIDs</key><value>On</value></option></retrieveParameters></tns:retrieve></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:retrieveResponse xmlns:ns2="http://woksearch.v3.wokmws.thomsonreuters.com"><return><optionValue><label>RecordIDs</label><value>MEDLINE:12603029</value><value>WOS:000083035800004</value><value>MEDLINE:20351936</value><value>MEDLINE:12463865</value><value>WOS:000235327300007</value><value>MEDLINE:9929358</value><value>MEDLINE:9929182</value><value>WOS:A1996TW69600005</value><value>WOS:000184532900029</value><value>MEDLINE:9929319</value><value>MEDLINE:10902193</value><value>MEDLINE:10902175</value><value>WOS:00018[...]
[...]
