---
http_interactions:
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Settings.WOS.AUTH_CODE
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WOKMWSAuthenticateService" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com" version="1.0">
        <xs:element name="AuthenticationException" type="tns:AuthenticationException"/>
        <xs:element name="ESTIWSException" type="tns:ESTIWSException"/>
        <xs:element name="InternalServerException" type="tns:InternalServerException"/>
        <xs:element name="InvalidInputException" type="tns:InvalidInputException"/>
        <xs:element name="QueryException" type="tns:QueryException"/>
        <xs:element name="SessionException" type="tns:SessionException"/>
        <xs:element name="authenticate" type="tns:authenticate"/>
        <xs:element name="authenticateResponse" type="tns:authenticateResponse"/>
        <xs:element name="closeSession" type="tns:closeSession"/>
        <xs:element name="closeSessionResponse" type="tns:closeSessionResponse"/>
        <xs:complexType name="closeSession">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="closeSessionResponse">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="QueryException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="ESTIWSException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InvalidInputException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InternalServerException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="SessionException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="AuthenticationException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticate">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticateResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="return" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:schema>
          </wsdl:types>
          <wsdl:message name="closeSession">
            <wsdl:part element="tns:closeSession" name="parameters">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="QueryException_Exception">
            <wsdl:part element="tns:QueryException" name="QueryException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="ESTIWSException_Exception">
            <wsdl:part element="tns:ESTIWSException" name="ESTIWSException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsd[...]
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:authenticate></tns:authenticate></soapenv:Body></soapenv:Envelope>
    headers:
      Authorization:
      - Basic Settings.WOS.AUTH_CODE
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:authenticateResponse
        xmlns:ns2="http://auth.cxf.wokmws.thomsonreuters.com"><return>5A7GtrdfrfFgPd11f55</return></ns2:authenticateResponse></soap:Body></soap:Envelope>
  recorded_at: Tue, 30 Jan 2018 23:30:03 GMT
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/[...]
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:retrieveById><databaseId>WOK</databaseId><uid>MEDLINE:24930130</uid><queryLanguage>en</queryLanguage><retrieveParameters><firstRecord>1</firstRecord><count>100</count><option><key>RecordIDs</key><value>On</value></option><option><key>targetNamespace</key><value>http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord</value></option></retrieveParameters></tns:retrieveById></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:retrieveByIdResponse xmlns:ns2="http://woksearch.v3.wokmws.thomsonreuters.com"><return><queryId>1</queryId><recordsFound>1</recordsFound><recordsSearched>75592049</recordsSearched><optionValue><label>RecordIDs</label><value>MEDLINE:24930130</value></optionValue><records>&lt;records xmlns="http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord">
        &lt;REC r_id_disclaimer="ResearcherID data provided by Clarivate Analytics">&lt;UID>MEDLINE:24930130&lt;/UID>&lt;static_data>&lt;summary>&lt;EWUID>&lt;WUID coll_id="MEDLINE">&lt;/WUID>&lt;edition value="MEDLINE.MEDLINE">&lt;/edition>&lt;/EWUID>&lt;pub_info sortdate="2014-08-01" pubyear="2014" pubmonth="Aug" coverdate="2014-Aug" edate="2014-06-15" vol="11" issue="8" pubtype="Journal" medium="Internet[...]
