<div class="center hero-unit">
  <h2>Resource Description</h2>


<b style="font-size:large">http://sulcap.stanford.edu/authorship</b>

<hr style="color:#000;background-color:#000;border-color:#000"/>

<h2 style="font-size:medium">HTTP Methods</h2>

<table class="table table-striped">       
        <tbody>
          <thead>
          <tr>
            <th>Method</th>
            <th>Description</th>
            <th>Request Entity</th>
            <th>Response Entity</th>
          </tr>
        </thead>
          <tr>
            <td>HEAD</td>
            <td>Same as GET, but returns no body.</td>     
            <td>None.</td>
            <td>None.</td>       
          </tr>
          <tr>
            <td>OPTIONS</td>
            <td>Lists available methods.</td>
            <td>None.</td>
            <td>No body - lists methods in 'Allow' header.</td>               
          </tr>
          
          <tr>
            <td>POST</td>
            <td>Creates or updates an authorship record.</td>
            <td>json for authorship. See sample below.</td>
            <td>BibJSON for successfully updated publication.</td>
          <tbody>
</table>
<hr style="color:#000;background-color:#000;border-color:#000"/>
<h2 style="font-size:medium">HTTP Request Headers</h2>

<table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Allowable Values</th>
            <th>Description</th>
            <th>Applies To</th>
            <th>Required?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Accept</td>
            <td>application/json</td>
            <td>Only json for now.</td>
            <td>POST</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Content-Type</td>
            <td>application/json</td>
            <td>The content type for submitted entity.</td>
            <td>POST</td>
            <td>Yes</td>   
          </tr>
          <tr>
            <td>Stan-Key</td>
            <td>N/A</td>
            <td>Authentication Key - actual name and value vary.</td>
            <td>POST</td>
            <td>Yes</td>       
          </tr>
             
        </tbody>
      </table>

<hr style="color:#000;background-color:#000;border-color:#000"/>
<h2 style="font-size:medium">HTTP Response Headers</h2>

<table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Allowable Values</th>
            <th>Description</th>
            <th>Applies To</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content-Type</td>
            <td>application/json</td>
            <td>Content type of returned entity</td>
            <td>POST</td>
          </tr>
          <tr>
            <td>Allow</td>
            <td>Method Names</td>
            <td>Lists allowed methods at URI</td>
            <td>OPTIONS</td>     
          </tr>
         
        </tbody>
      </table>

<hr style="color:#000;background-color:#000;border-color:#000"/>
<h2 style="font-size:medium">HTTP Status Codes</h2>

<table class="table table-striped">
        <thead>
          <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Applies To</th>
            <th>Entity returned</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>201</td>
            <td>OK - Request successfully processed.</td>
            <td>POST</td>
            <td>BibJSON for affected publication record</td>
          </tr>    
          <tr>
            <td>400</td>
            <td>Bad Request</td>
            <td>POST</td>
            <td>Message: Invalid authorship record submitted, with details.</td>
          </tr>  
          <tr>
            <td>401</td>
            <td>Unauthorized</td>
            <td>POST</td>
            <td>None</td>
          </tr> 
          <tr>
            <td>404</td>
            <td>Does Not Exist- indicates one of the identifiers in the json was incorrect.</td>
            <td>POST</td>
            <td>Details about incorrect identifier.</td>
          </tr>            
          <tr>
            <td>405</td>
            <td>Method Not Allowed</td>
            <td>GET, PUT, PATCH, DELETE</td>
            <td>No Entity, but allowed methods listed in Allow header</td>
          </tr> 
          <tr>
            <td>406</td>
            <td>Not Acceptable</td>
            <td>POST</td>
            <td>None</td>
          </tr> 
           <tr>
            <td>415</td>
            <td>Unsupported Media Type - POST entity with wrong Content-Type</td>
            <td>POST</td>
            <td>None</td>
          </tr> 
        </tbody>
      </table>

<hr style="color:#000;background-color:#000;border-color:#000"/>
<h2 style="font-size:medium">Sample Data</h2>

<p style="font-size:small">pending... </p>



<hr style="color:#000;background-color:#000;border-color:#000"/>
<h2 style="font-size:medium">Sample CURL calls</h2>

<p style="font-size:small">pending... </p>

