


<div class="hero-unit">
 <!-- <h2><u>SUL Publications Server BibTEX import</u></h2>
<hr/>

-->
<h2>What is BibTeX?</h2>

<p style="font-size:medium;padding-left:25.0pt">BibTeX is a standard format used tools such as Zotero, Mendeley, EndNote, etc. for formatting lists of references. BibTeX makes it easy to move records between solutions, and is therefore the format for batch loading an author's citations into CAP.</p>
<hr/>
<h2>Creating a BibTeX export file</h2>

<h3 style="padding-bottom:10px;text-align:left;">Basic process overview</h3>

<p style="font-size:medium;padding-left:25.0pt">Select the records you want to export.  First, it's important that you ONLY export those citations you wish to include CAP that should be attributed to this person as the author.  That is, if a faculty member has many citations in Mendeley that are reference citations for research purposes, and not citations to publications that faculty has authored, be sure NOT to include those items in the export file.
</p>

<p style="font-size:medium;padding-left:25.0pt">Use the export function for your solution to save the records in BibTeX format  (if this option is not available, you may need to enable that option under preferences).</p>

<h3 style="padding-bottom:10px;text-align:left;padding-top:10px;">Specific solution steps</h3>

<p style="font-size:medium;padding-left:25.0pt">The process for these standard solutions may vary slightly, depending on the version that you are running. You are encouraged to review online help for each solution to ensure that you are following the appropriate steps. In some cases, the export function may be different than what is listed below.</p>

<div style=font-size:medium;padding-left:25.0pt>
<h4>EndNote</h4>
<ol>
<li>Move to library you wish to export</li>
<li>Choose "Output Styles" from the Edit menu</li>
<li>Choose BibTeX as the export option</li>
<li>Save the file and follow instructions for naming the file to be imported into CAP</li>
 </ol>

<h4 style="padding-top:10px">Mendeley</h4>
<ol>
<li>Select the records to be exported</li>
<li>Choose "Export' from the File menu</li>
<li>Choose BibTeX as the export option in the "save as" field</li>
<li>Save the file and follow instructions for naming the file to be imported into CAP</li>
</ol>
<h4 style="padding-top:10px">RefWorks</h4>
<ol>
<li>Choose "Export" from the "References" menu</li>
<li>Select which references to include in your export file</li>
<li>Choose BibTeX as the export option</li>
<li>Save the file and follow instructions for naming the file to be imported into CAP</li>
</ol>
<h4 style="padding-top:10px">Zotero</h4>
<ol>
<li>Select the records to be exported</li>
<li>Right-click and choose "Export selected items" from the menu that appears</li>
<li>Choose BibTeX as the export option</li>
<li>Save the file and follow instructions for naming the file to be imported into CAP</li>
</ol>

<!--
<p style="font-size:medium">How to submit your bibtex list of publications to the SUL publications database.</p>

<hr style="color:#000;background-color:#000;border-color:#000"/>



<h4>1. Export or generate bibtex</h4>

<p style="font-size:medium">Export from your bibliographic management software or plain text files.  Instructions...</p>


        <h4>2. Validate.</h4> 
<p style="font-size:medium">Validate your bibtex using a tool like that listed below.</p>
        </h4>

        <h4>3. Submit</h4>
<p style="font-size:medium">How to submit.</p>

        <h4>4. Wait</h4>
<p style="font-size:medium">How to check on progress.  How you'll be notified.</p> -->


<hr/>

<h2>Tools</h2>

<h5>BibTeX Validators</h5>

<p style="font-size:medium">http://gridtlse.enseeiht.fr/bibtlse/Check.do</p>

<h5>BibTeX Generators</h5>


  <p style="font-size:medium">http://services.uzeweb.com/cgi-bin/text2bib.pl</p>
  <p style="font-size:medium">http://text2bib.economics.utoronto.ca</p>


<hr/>

</div></div>





     