<div class="hero-unit">
  <h2>Resource Description</h2>


<b style="font-size:large"><%=Settings.SULPUB_ID.PUB_URI %>?population={popId}&changedSince={YYYY-MM-DDTHH:MM:SSZ}&capProfileId={capId}</b>

<hr style="color:#000;background-color:#000;border-color:#000"/>

<h2 style="font-size:medium">URL Parameters</h2>

<table class="table table-striped">
        <tbody>
          <thead>
          <tr>
            <th>Parameter Name</th>
            <th>Description</th>
            <th>Allowable Values</th>
            <th>Required?</th>
            <th>Default Value</th>
          </tr>
        </thead>
          <tr>
            <td>population</td>
            <td>Predefined subset of authors from which to draw.</td>
            <td>CAP</td>
            <td>No</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>changedSince</td>
            <td>All pubs changed since.</td>
            <td>ISO 8601 Date</td>
            <td>No</td>
            <td>1000-01-01</td>
          </tr>
          <tr>
            <td>capProfileId</td>
            <td>Pubs for the given profile Id</td>
            <td>Integer</td>
            <td>No</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>page</td>
            <td>Result page to return.</td>
            <td>Integer</td>
            <td>No</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>per</td>
            <td>Number of results per page</td>
            <td>Integer</td>
            <td>No</td>
            <td>N/A</td>
          </tr>
          <tbody>
</table>

<hr style="color:#000;background-color:#000;border-color:#000"/>

<h2 style="font-size:medium">HTTP Methods</h2>

<table class="table table-striped">
        <tbody>
          <thead>
          <tr>
            <th>Method</th>
            <th>Description</th>
            <th>Request Entity</th>
            <th>Response Entity</th>
          </tr>
        </thead>
          <tr>
            <td>HEAD</td>
            <td>Same as GET, but returns no body.</td>
            <td>None.</td>
            <td>None.</td>
          </tr>
          <tr>
            <td>OPTIONS</td>
            <td>Lists available methods.</td>
            <td>None.</td>
            <td>No body - lists methods in 'Allow' header.</td>
          </tr>
          <tr>
            <td>GET</td>
            <td>Returns BibJSON record for the publication.</td>
            <td>None.</td>
            <td>BibJSON record for publication.</td>
          </tr>
          <tbody>
</table>
<hr style="color:#000;background-color:#000;border-color:#000"/>
<h2 style="font-size:medium">HTTP Request Headers</h2>

<table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Allowable Values</th>
            <th>Description</th>
            <th>Applies To</th>
            <th>Required?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Accept</td>
            <td>application/json</td>
            <td>Only json for now.</td>
            <td>GET</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Stan-Key</td>
            <td>N/A</td>
            <td>Authentication Key</td>
            <td>GET, OPTIONS</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>

<hr style="color:#000;background-color:#000;border-color:#000"/>
<h2 style="font-size:medium">HTTP Response Headers</h2>

<table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Allowable Values</th>
            <th>Description</th>
            <th>Applies To</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content-Type</td>
            <td>application/json</td>
            <td>Content type of returned entity</td>
            <td>GET</td>
          </tr>
          <tr>
            <td>Allow</td>
            <td>Method Names</td>
            <td>Lists allowed methods at URI</td>
            <td>OPTIONS</td>
          </tr>

        </tbody>
      </table>

<hr style="color:#000;background-color:#000;border-color:#000"/>
<h2 style="font-size:medium">HTTP Status Codes</h2>

<table class="table table-striped">
        <thead>
          <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Applies To</th>
            <th>Entity returned</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>200</td>
            <td>OK - Request successfully processed.</td>
            <td>GET</td>
            <td>BibJSON collection</td>
          </tr>
          <tr>
            <td>401</td>
            <td>Unauthorized</td>
            <td>GET, HEAD, OPTIONS</td>
            <td>None</td>
          </tr>
          <tr>
            <td>404</td>
            <td>Not Found - if optional cap profile id not found.</td>
            <td>GET, HEAD, OPTIONS</td>
            <td>None</td>
          </tr>
          <tr>
            <td>405</td>
            <td>Method Not Allowed</td>
            <td>POST, PATCH, PUT, DELETE</td>
            <td>No Entity, but allowed methods listed in Allow header</td>
          </tr>
          <tr>
            <td>406</td>
            <td>Not Acceptable - Can't satisfy request accept header</td>
            <td>GET</td>
            <td>None</td>
          </tr>
          <tr>
            <td>204</td>
            <td>No Content - Successful, but no entity returned.</td>
            <td>OPTIONS</td>
            <td>None</td>
          </tr>
        </tbody>
      </table>

<hr style="color:#000;background-color:#000;border-color:#000"/>
<h2 style="font-size:medium">Sample Data</h2>

<p style="font-size:small">pending... </p>



<hr style="color:#000;background-color:#000;border-color:#000"/>
<h2 style="font-size:medium">Sample CURL calls</h2>

<p style="font-size:small">pending... </p>
