---
http_interactions:
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationItems?format=xml&publicationItemIDs=10379039
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>10379039</PublicationItemID>\r\n    <Title>Assessment
        of atrioventricular nodal physiology in the mouse</Title>\r\n    <Abstract>Transgenic
        mice are increasingly being utilized for understanding cardiac electrophysiologic
        abnormalities. However, little is known about the normal atrioventricular
        nodal and infraHisian physiology in the mouse because of the prior inability
        to record a His-bundle deflection. We present the first comprehensive examination
        of the murine atrioventricular nodal and His-Purkinje systems employing His-bundle
        recordings. Normal, healthy, male C57BL/6J [...]
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: UTF-8
      string: "&id=10490476"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Sid:
      - 9DFD1868732B09C1_0188SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January 2016//EN" "http://www.ncbi.nlm.nih.gov/corehtml/query/DTD/pubmed_160101.dtd">
        <PubmedArticleSet>
        <PubmedArticle>
            <MedlineCitation Owner="NLM" Status="MEDLINE">
                <PMID Version="1">10490476</PMID>
                <DateCreated>
                    <Year>1999</Year>
                    <Month>12</Month>
                    <Day>02</Day>
                </DateCreated>
                <DateCompleted>
                    <Year>1999</Year>
                    <Month>12</Month>
                    <Day>02</Day>
                </DateCompleted>
                <DateRevised>
                    <Year>2015</Year>
                    <Month>11</Month>
                    <Day>19</Day>
                </DateRevised>
                <Article PubModel="Print">
                    <Journal>
                        <ISSN IssnType="Print">1383-875X</ISSN>
                        <JournalIssue CitedMedium="Print">
                            <Volume>3</Volume>
                            <Issue>3</Issue>
                            <PubDate>
                                <Year>1999</Year>
                                <Month>Oct</Month>
                            </PubDate>
                        </JournalIssue>
                        <Title>Journal of interventional cardiac electrophysiology : an international journal of arrhythmias and pacing</Title>
                        <ISOAbbreviation>J Interv Card Electrophysiol</ISOAbbreviation>
                    </Journal>
                    <ArticleTitle>Assessment of atrioventricular nodal physiology in the mouse.</ArticleTitle>
                    <Pagination>
                        <MedlinePgn>207-12</MedlinePgn>
                    </Pagination>
                    <Abstract>
                        <AbstractText>Transgenic mice are increasingly being utilized for understanding cardiac electrophysiologic abnormalities. However, little is known about the normal atrioventricular nodal and infraHisian physiology in the mouse because of the prior inability to record a His-bundle deflection. We present the first comprehensive examination of the murine atrioventricular nodal and His-Purkinje systems employing His-bundle recordings. Normal, healthy, male C57BL/6J mice (n = 48) underwent an in vivo electrophysio[...]
