---
http_interactions:
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationItems?format=xml&publicationItemIDs=42711845,22686456
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>42711845</PublicationItemID>\r\n    <Title>Frostbite:
        an orthopedic perspective.</Title>\r\n    <Abstract>Frostbite injury to the
        extremities has the potential for disastrous effects. This review provides
        information valuable to the orthopedic surgeon to aid in the evaluation and
        treatment of frostbite. The pathophysiology and predisposing factors that
        provide a basic understanding of the nature of frostbite are discussed. Accepted
        and experimental imaging studies and treatment options are also reviewed.
        An effort is made to give the orthopedic perspective on each issue, providing
        a valuable resource for all orthopedic surgeons involved in the care of the
        patient with frostbite.</Abstract>\r\n    <AuthorList>McAdams,T,R|Swenson,D,R|MILLER,R,A</AuthorList>\r\n
        \   <AuthorCount>3</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Journal
        Article|Review</DocumentTypeList>\r\n    <DocumentCategory>Journal Document</DocumentCategory>\r\n
        \   <NumberOfReferences>44</NumberOfReferences>\r\n    <TimesCited xsi:nil=\"true\"
        />\r\n    <TimesNotSelfCited xsi:nil=\"true\" />\r\n    <PMID>10048354</PMID>\r\n
        \   <PublicationSourceTitle>American journal of orthopedics (Belle Mead, N.J.)</PublicationSourceTitle>\r\n
        \   <Volume>28</Volume>\r\n    <Issue>1</Issue>\r\n    <Pagination>21-26</Pagination>\r\n
        \   <PublicationDate>1999-01-01T00:00:00</PublicationDate>\r\n    <PublicationYear>1999</PublicationYear>\r\n
        \   <PublicationImpactFactor xsi:nil=\"true\" />\r\n    <PublicationSubjectCategoryList
        />\r\n    <ISSN>1078-4519</ISSN>\r\n    <ConferenceStartDate xsi:nil=\"true\"
        />\r\n    <ConferenceEndDate xsi:nil=\"true\" />\r\n    <Rank xsi:nil=\"true\"
        />\r\n    <OrdinalRank>2</OrdinalRank>\r\n    <NormalizedRank xsi:nil=\"true\"
        />\r\n    <NewPublicationItemID>42711845</NewPublicationItemID>\r\n    <IsObsolete>false</IsObsolete>\r\n
        \   <CopyrightPublisher />\r\n    <CopyrightCity />\r\n  </PublicationItem>\r\n
        \ <PublicationItem>\r\n    <PublicationItemID>22686456</PublicationItemID>\r\n
        \   <Title>TRACHEAL DAMAGE FOLLOWING CONVENTIONAL AND HIGH-FREQUENCY VENTILATION
        AT LOW AND HIGH HUMIDITY</Title>\r\n    <Abstract>Objectives: To compare the
        degree of tracheobronchial damage in newborn lambs ventilated for 6 hrs with
        relative humidities of 30% or 90% and continuous positive airway pressure
        breathing, conventional mechanica[...]
- request:
    method: post
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?api_key=a_fake_pubmed_key&db=pubmed&retmode=xml
    body:
      encoding: UTF-8
      string: "&id=10048354&id=1914489"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Phid:
      - 990C4D3CA0A0606100000000008D008A
      Ncbi-Sid:
      - 990C4D3CA0A079C1_0141SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" ?>
        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January 2017//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_170101.dtd">
        <PubmedArticleSet>
        <PubmedArticle>
            <MedlineCitation Status="MEDLINE" Owner="NLM">
                <PMID Version="1">10048354</PMID>
                <DateCreated>
                    <Year>1999</Year>
                    <Month>04</Month>
                    <Day>22</Day>
                </DateCreated>
                <DateCompleted>
                    <Year>1999</Year>
                    <Month>04</Month>
                    <Day>22</Day>
                </DateCompleted>
                <DateRevised>
                    <Year>2010</Year>
                    <Month>01</Month>
                    <Day>05</Day>
                </DateRevised>
                <Article PubModel="Print">
                    <Journal>
                        <ISSN IssnType="Print">1078-4519</ISSN>
                        <JournalIssue CitedMedium="Print">
                            <Volume>28</Volume>
                            <Issue>1</Issue>
                            <PubDate>
                                <Year>1999</Year>
                                <Month>Jan</Month>
                            </PubDate>
                        </JournalIssue>
                        <Title>American journal of orthopedics (Belle Mead, N.J.)</Title>
                        <ISOAbbreviation>Am J. Orthop.</ISOAbbreviation>
                    </Journal>
                    <ArticleTitle>Frostbite: an orthopedic perspective.</ArticleTitle>
                    <Pagination>
                        <MedlinePgn>21-6</MedlinePgn>
                    </Pagination>
                    <Abstract>
                        <AbstractText>Frostbite injury to the extremities has the potential for disastrous effects. This review provides information valuable to the orthopedic surgeon to aid in the evaluation and treatment of frostbite. The pathophysiology and predisposing factors that provide a basic understanding of the nature of frostbite are discussed. Accepted and experimental imaging studies and treatment options are also reviewed. An effort is made to give the orthopedic perspective on each issue, providing a valuable resource for all orthopedic surgeons involved in the care of the patient with frostbite.</AbstractText>
                    </Abstract>
                    <AuthorList CompleteYN="Y">
                        <Author ValidYN="Y">
                            <LastName>McAdams</LastName>
                            <ForeName>T R</ForeName>
                            <Initials>TR</Initials>
                            <AffiliationInfo>
                                <Affiliation>Department of Orthopaedics and Rehabilitation, University of New Mexico, Albuquerque, USA.</Affiliation>
                            </AffiliationInfo>
                        </Author>
                        <Author ValidYN="Y">
                            <LastName>Swenson</LastName>
                            <ForeName>D R</ForeName>
                            <Initials>DR</Initials>
                        </Author>
                        <Author ValidYN="Y">
                            <LastName>Miller</LastName>
                            <ForeName>R A</ForeName>
                            <Initials>RA</Initials>
                        </Author>
                    </AuthorList>
                    <Language>eng</Language>
                    <PublicationTypeList>
                        <PublicationType UI="D002363">Case Reports</PublicationType>
                        <PublicationType UI="D016428">Journal Article</PublicationType>
                        <PublicationType UI="D016454">Review</PublicationType>
                    </PublicationTypeList>
                </Article>
                <MedlineJournalInfo>
                    <Country>United States</Country>
                    <MedlineTA>Am J Orthop (Belle Mead NJ)</MedlineTA>
                    <NlmUniqueID>9502918</NlmUniqueID>
                    <ISSNLinking>1078-4519</ISSNLinking>
                </MedlineJournalInfo>
                <CitationSubset>IM</CitationSubset>
                <MeshHeadingList>
                    <MeshHeading>
                        <DescriptorName UI="D003131" MajorTopicYN="N">Combined Modality Therapy</DescriptorName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D005260" MajorTopicYN="N">Female</DescriptorName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D005627" MajorTopicYN="N">Frostbite</DescriptorName>
                        <QualifierName UI="Q000175" MajorTopicYN="Y">diagnosis</QualifierName>
                        <QualifierName UI="Q000188" MajorTopicYN="N">drug therapy</QualifierName>
                        <QualifierName UI="Q000503" MajorTopicYN="N">physiopathology</QualifierName>
                        <QualifierName UI="Q000601" MajorTopicYN="Y">surgery</QualifierName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D006801" MajorTopicYN="N">Humans</Descr[...]
