---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
            <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xmlQuery>&lt;query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
                      &lt;Criterion ConjunctionOperator="AND"&gt;
                        &lt;Criteria&gt;
                          &lt;Criterion&gt;
                            &lt;Filter&gt;
                              &lt;Column&gt;PMID&lt;/Column&gt;
                              &lt;Operator&gt;In&lt;/Operator&gt;
                              &lt;Values&gt;&lt;Value&gt;23684686&lt;/Value&gt;&lt;/Values&gt;
                                    &lt;/Filter&gt;
                                  &lt;/Criterion&gt;
                                &lt;/Criteria&gt;
                              &lt;/Criterion&gt;
                              &lt;Columns&gt;
                                &lt;SortColumn&gt;
                                  &lt;Column&gt;Rank&lt;/Column&gt;
                                  &lt;Direction&gt;Descending&lt;/Direction&gt;
                                &lt;/SortColumn&gt;
                              &lt;/Columns&gt;
                              &lt;MaximumRows&gt;1000&lt;/MaximumRows&gt;
                            &lt;/query&gt;</xmlQuery>
            </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>41173</queryID>\r\n
        \ <queryResultRows>1</queryResultRows>\r\n  <totalRows>1</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Mon, 13 Nov 2017 20:58:43 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/41173?format=xml&page=0&pageSize=1&v=version/4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>63608489</PublicationItemID>\r\n    <Title>Subtle Post-Procedural
        Cognitive Dysfunction After Atrial Fibrillation Ablation</Title>\r\n    <Abstract>Objectives
        This study sought to determine whether post-operative neurocognitive dysfunction
        (POCD) occurs after ablation for atrial fibrillation (AF).  Background Ablation
        for AF is a highly effective strategy; however, the risk of transient ischemic
        attack and stroke is approximately 0.5% to 1%. In addition, magnetic resonance
        imaging studies report a 7% to 14% prevalence of silent cerebral infarction.
        Whether cerebral ischemia results in POCD aft[...]
- request:
    method: post
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: UTF-8
      string: "&id=&id=23684686"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Phid:
      - 03ED16B8A0A059710000000000B700B3
      Ncbi-Sid:
      - 03ED16B8A0A07BA1_0183SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" ?>
        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January 2017//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_170101.dtd">
        <PubmedArticleSet>
        <PubmedArticle>
            <MedlineCitation Status="MEDLINE" Owner="NLM">
                <PMID Version="1">23684686</PMID>
                <DateCreated>
                    <Year>2013</Year>
                    <Month>08</Month>
                    <Day>02</Day>
                </DateCreated>
                <DateCompleted>
                    <Year>2013</Year>
                    <Month>10</Month>
                    <Day>31</Day>
                </DateCompleted>
                <DateRevised>
                    <Year>2013</Year>
                    <Month>08</Month>
                    <Day>02</Day>
                </DateRevised>
                <Article PubModel="Print-Electronic">
                    <Journal>
                        <ISSN IssnType="Electronic">1558-3597</ISSN>
                        <JournalIssue CitedMedium="Internet">
                            <Volume>62</Volume>
                            <Issue>6</Issue>
                            <PubDate>
                                <Year>2013</Year>
                                <Month>Aug</Month>
                                <Day>06</Day>
                            </PubDate>
                        </JournalIssue>
                        <Title>Journal of the American College of Cardiology</Title>
                        <ISOAbbreviation>J. Am. Coll. Cardiol.</ISOAbbreviation>
                    </Journal>
                    <ArticleTitle>Subtle post-procedural cognitive dysfunction after atrial fibrillation ablation.</ArticleTitle>
                    <Pagination>
                        <MedlinePgn>531-9</MedlinePgn>
                    </Pagination>
                    <ELocationID EIdType="doi" ValidYN="Y">10.1016/j.jacc.2013.03.073</ELocationID>
                    <ELocationID EIdType="pii" ValidYN="Y">S0735-1097(13)01882-2</ELocationID>
                    <Abstract>
                        <AbstractText Label="OBJECTIVES" NlmCategory="OBJECTIVE">This study sought to determine whether post-operative neurocognitive dysfunction (POCD) occurs after ablation for atrial fibrillation (AF).</AbstractText>
                        <AbstractText Label="BACKGROUND" NlmCategory="BACKGROUND">Ablation for AF is a highly effective strategy; however, the risk of transient ischemic attack and stroke is approximately 0.5% to 1%. In addition, magnetic resonance imaging studies report a 7% to 14% prevalence of sile[...]
