---
http_interactions:
- request:
    method: delete
    uri: https://api.sandbox.orcid.org/v3.0/0000-0002-2230-4756/work/1253255
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 404
      message: null
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response-code":404,"developer-message":"404 Not Found: The resource
        was not found. Full validation error: No entity found for query","user-message":"The
        resource was not found.","error-code":9016,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'
  recorded_at: Wed, 02 Jun 2021 14:52:44 GMT
recorded_with: VCR 6.0.0
