---
http_interactions:
- request:
    method: get
    uri: https://authz.stanford.edu/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Settings.CAP.TOKEN_USER:Settings.CAP.TOKEN_PASS
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"bearer","expires_in":86399,"scope":"profiles.read_all","jti":"6cf1ed7b-7f2e-4a06-9277-428e7c6da7ea"}'
  recorded_at: Fri, 22 Mar 2019 23:31:22 GMT
- request:
    method: get
    uri: https://cap-dev.stanford.edu/cap-api/api/cap/v1/authors/999999
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"message":"Object of class [edu.stanford.irt.cap.api.domain.AuthorEntity]
        with identifier [999999]: not found","status":"404 NOT_FOUND"}}

'
  recorded_at: Fri, 22 Mar 2019 23:31:22 GMT
- request:
    method: get
    uri: https://cap-uat.stanford.edu/cap-api/api/cap/v1/authors/999999
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - 'Bearer realm="oauth", error="invalid_token", error_description="Invalid access
        token. Unable to decode or verify JWT: private_bearer_token"'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token","error_description":"Invalid access token.
        Unable to decode or verify JWT: private_bearer_token"}'
  recorded_at: Fri, 05 Apr 2019 17:29:38 GMT
recorded_with: VCR 4.0.0
