---
http_interactions:
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Settings.WOS.AUTH_CODE
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WOKMWSAuthenticateService" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com" version="1.0">
        <xs:element name="AuthenticationException" type="tns:AuthenticationException"/>
        <xs:element name="ESTIWSException" type="tns:ESTIWSException"/>
        <xs:element name="InternalServerException" type="tns:InternalServerException"/>
        <xs:element name="InvalidInputException" type="tns:InvalidInputException"/>
        <xs:element name="QueryException" type="tns:QueryException"/>
        <xs:element name="SessionException" type="tns:SessionException"/>
        <xs:element name="authenticate" type="tns:authenticate"/>
        <xs:element name="authenticateResponse" type="tns:authenticateResponse"/>
        <xs:element name="closeSession" type="tns:closeSession"/>
        <xs:element name="closeSessionResponse" type="tns:closeSessionResponse"/>
        <xs:complexType name="closeSession">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="closeSessionResponse">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="QueryException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="ESTIWSException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InvalidInputException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InternalServerException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="SessionException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="AuthenticationException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticate">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticateResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="return" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:schema>
          </wsdl:types>
          <wsdl:message name="closeSession">
            <wsdl:part element="tns:closeSession" name="parameters">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="QueryException_Exception">
            <wsdl:part element="tns:QueryException" name="QueryException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="ESTIWSException_Exception">
            <wsdl:part element="tns:ESTIWSException" name="ESTIWSException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsd[...]
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:authenticate></tns:authenticate></soapenv:Body></soapenv:Envelope>
    headers:
      Authorization:
      - Basic Settings.WOS.AUTH_CODE
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:authenticateResponse
        xmlns:ns2="http://auth.cxf.wokmws.thomsonreuters.com"><return>6BVPqEtPUs3DCne8cHQ</return></ns2:authenticateResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 27 Apr 2018 01:24:07 GMT
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/[...]
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:retrieveById><databaseId>WOK</databaseId><uid>MEDLINE:24196758</uid><queryLanguage>en</queryLanguage><retrieveParameters><firstRecord>1</firstRecord><count>100</count><option><key>RecordIDs</key><value>On</value></option><option><key>targetNamespace</key><value>http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord</value></option></retrieveParameters></tns:retrieveById></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:retrieveByIdResponse xmlns:ns2="http://woksearch.v3.wokmws.thomsonreuters.com"><return><queryId>1</queryId><recordsFound>1</recordsFound><recordsSearched>76312650</recordsSearched><optionValue><label>RecordIDs</label><value>MEDLINE:24196758</value></optionValue><records>&lt;records xmlns="http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord">
        &lt;REC r_id_disclaimer="ResearcherID data provided by Clarivate Analytics">&lt;UID>MEDLINE:24196758&lt;/UID>&lt;static_data>&lt;summary>&lt;EWUID>&lt;WUID coll_id="MEDLINE">&lt;/WUID>&lt;edition value="MEDLINE.MEDLINE">&lt;/edition>&lt;/EWUID>&lt;pub_info sortdate="2013-12-01" pubyear="2013" pubmonth="Dec" coverdate="2013-Dec" vol="111" issue="6" pubtype="Journal" medium="Internet" model="Print" ha[...]
- request:
    method: post
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: UTF-8
      string: "&id=24196758"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Phid:
      - 01ED96CE2E589D9F3B0210B4B3FBA144.1.m_3
      Ncbi-Sid:
      - C681362E17ABA778_F9EASID
      Content-Type:
      - text/xml; charset=UTF-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" ?>
        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January 2018//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_180101.dtd">
        <PubmedArticleSet>
        <PubmedArticle>
            <MedlineCitation Status="MEDLINE" Owner="NLM">
                <PMID Version="1">24196758</PMID>
                <DateCompleted>
                    <Year>2014</Year>
                    <Month>10</Month>
                    <Day>31</Day>
                </DateCompleted>
                <DateRevised>
                    <Year>2013</Year>
                    <Month>11</Month>
                    <Day>07</Day>
                </DateRevised>
                <Article PubModel="Print">
                    <Journal>
                        <ISSN IssnType="Electronic">1668-3501</ISSN>
                        <JournalIssue CitedMedium="Internet">
                            <Volume>111</Volume>
                            <Issue>6</Issue>
                            <PubDate>
                                <Year>2013</Year>
                                <Month>Dec</Month>
                            </PubDate>
                        </JournalIssue>
                        <Title>Archivos argentinos de pediatria</Title>
                        <ISOAbbreviation>Arch Argent Pediatr</ISOAbbreviation>
                    </Journal>
                    <ArticleTitle>Rights and responsibilities of electronic health records (EHR) users caring for children.</ArticleTitle>
                    <Pagination>
                        <MedlinePgn>468-71</MedlinePgn>
                    </Pagination>
                    <ELocationID EIdType="doi" ValidYN="Y">10.1590/S0325-00752013000600003</ELocationID>
                    <ELocationID EIdType="pii" ValidYN="Y">S0325-00752013000600003</ELocationID>
                    <AuthorList CompleteYN="Y">
                        <Author ValidYN="Y">
                            <LastName>Sittig</LastName>
                            <ForeName>Dean F</ForeName>
                            <Initials>DF</Initials>
                        </Author>
                        <Author ValidYN="Y">
                            <LastName>Singh</LastName>
                            <ForeName>Hardeep</ForeName>
                            <Initials>H</Initials>
                        </Author>
                        <Author ValidYN="Y">
                            <LastName>Longhurst</LastName>
                            <ForeName>Christopher A</ForeName>
                            <Initials>CA</Initials>
                        </Author>
                    </AuthorList>
                    <Language>eng</Language>
                    <Language>spa</Language>
                    <PublicationTypeList>
                        <PublicationType UI="D016428">Journal Article</PublicationType>
                    </PublicationTypeList>
                </Article>
                <MedlineJournalInfo>
                    <Country>Argentina</Country>
                    <MedlineTA>Arch Argent Pediatr</MedlineTA>
                    <NlmUniqueID>0372460</NlmUniqueID>
                    <ISSNLinking>0325-0075</ISSNLinking>
                </MedlineJournalInfo>
                <CitationSubset>IM</CitationSubset>
                <MeshHeadingList>
                    <MeshHeading>
                        <DescriptorName UI="D002648" MajorTopicYN="N">Child</DescriptorName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D057286" MajorTopicYN="N">Electronic Health Records</DescriptorName>
                        <QualifierName UI="Q000592" MajorTopicYN="Y">standards</QualifierName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D006801" MajorTopicYN="N">Humans</DescriptorName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D028701" MajorTopicYN="Y">Patient Rights</DescriptorName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D010372" MajorTopicYN="Y">Pediatrics</DescriptorName>
                    </MeshHeading>
                    <MeshHeading>
                        <DescriptorName UI="D012941" MajorTopicYN="Y">Social Responsibility</DescriptorName>
                    </MeshHeading>
                </MeshHeadingList>
            </MedlineCitation>
            <PubmedData>
                <History>
                    <PubMedPubDate PubStatus="entrez">
                        <Year>2013</Year>
                        <Month>11</Month>
                        <Day>8</Day>
                        <Hour>6</Hour>
                        <Minute>0</Minute>
                    </PubMedPubDate>
                    <PubMedPubDate PubStatus="pubmed">
                        <Year>2013</Year>
                        <Month>11</Month>
                        <Day>8</Day>
                        <Hour>6</Hour>
                        <Minute>0</Minute>
                    </PubMedPubDate>
                    <PubMedPubDate PubStatus="medline">
                        <Year>2014</Year>
                        <Month>11</Month>
                        <Day>2</Day>
                        <Hour>6</Hour>
                        <Minute>0</Minute>
                    </PubMedPubDate>
                </History>
                <PublicationStatus>ppublish</PublicationStatus>
                <ArticleIdList>
                    <ArticleId IdType="pubmed">24196758</ArticleId>
                    <ArticleId IdType="pii">S0325-00752013000600003</ArticleId>
                    <ArticleId IdType="doi">10.5546/aap.2013.468</ArticleId>
                </ArticleIdList>
            </PubmedData>
        </PubmedArticle>

        </PubmedArticleSet>
  recorded_at: Fri, 27 Apr 2018 01:37:29 GMT
- request:
    method: post
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?api_key=a_fake_pubmed_key&db=pubmed&retmode=xml
    body:
      encoding: UTF-8
      string: "&id=24196758"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '9'
      Ncbi-Phid:
      - 322C1335D2DEB7E500001A0427EA2DB1.1.1.m_3
      L5d-Success-Class:
      - '1.0'
      Ncbi-Sid:
      - 84ABF10518304959_5F7DSID
      X-Ratelimit-Limit:
      - '10'
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" ?>
        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January 2019//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_190101.dtd">
        <PubmedArticleSet>
        <PubmedArticle>
            <MedlineCitation Status="MEDLINE" Owner="NLM">
   [...]
