---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
            <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xmlQuery>&lt;query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
                      &lt;Criterion ConjunctionOperator="AND"&gt;
                        &lt;Criteria&gt;
                          &lt;Criterion&gt;
                            &lt;Filter&gt;
                              &lt;Column&gt;PMID&lt;/Column&gt;
                              &lt;Operator&gt;In&lt;/Operator&gt;
                              &lt;Values&gt;&lt;Value&gt;24196758&lt;/Value&gt;&lt;/Values&gt;
                                    &lt;/Filter&gt;
                                  &lt;/Criterion&gt;
                                &lt;/Criteria&gt;
                              &lt;/Criterion&gt;
                              &lt;Columns&gt;
                                &lt;SortColumn&gt;
                                  &lt;Column&gt;Rank&lt;/Column&gt;
                                  &lt;Direction&gt;Descending&lt;/Direction&gt;
                                &lt;/SortColumn&gt;
                              &lt;/Columns&gt;
                              &lt;MaximumRows&gt;1000&lt;/MaximumRows&gt;
                            &lt;/query&gt;</xmlQuery>
            </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>142975</queryID>\r\n
        \ <queryResultRows>1</queryResultRows>\r\n  <totalRows>1</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Fri, 15 Jul 2016 18:43:01 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/142975?format=xml&page=0&pageSize=1&v=version/4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Licenseid:
      - Settings.SCIENCEWIRE.LICENSE_ID
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <PublicationItem>\r\n
        \   <PublicationItemID>64740795</PublicationItemID>\r\n    <Title>Rights and
        responsibilities of electronic health records (EHR) users caring for children.</Title>\r\n
        \   <Abstract />\r\n    <AuthorList>Sittig,Dean,F|Singh,Hardeep,|Longhurst,Christopher,A</AuthorList>\r\n
        \   <AuthorCount>3</AuthorCount>\r\n    <KeywordList />\r\n    <DocumentTypeList>Journal
        Article</DocumentTypeList>\r\n    <DocumentCategory>Journal Document</DocumentCategory>\r\n
        \   <NumberOfReferences xsi:nil=\"true\" />\r\n    <TimesCited xsi:nil=\"true\"
        />\r\n    <TimesNotSelfCited xsi:nil=\"true\" />\r\n    <PMID>24196758</PMID>\r\n
        \   <PublicationSourceTitle>Archivos argentinos de pediatri´a</PublicationSourceTitle>\r\n
        \   <Volume>111</Volume>\r\n    <Issue>6</Issue>\r\n    <Pagination>468-471</Pagination>\r\n
        \   <PublicationDate>2013-12-01T00:00:00</PublicationDate>\r\n    <PublicationYear>2013</PublicationYear>\r\n
        \   <PublicationSubjectCategoryList />\r\n    <ISSN>0325-0075</ISSN>\r\n    <DOI>10.1590/S0325-00752013000600003</DOI>\r\n
        \   <ConferenceStartDate xsi:nil=\"true\" />\r\n    <ConferenceEndDate xsi:nil=\"true\"
        />\r\n    <Rank xsi:nil=\"true\" />\r\n    <OrdinalRank>0</OrdinalRank>\r\n
        \   <NormalizedRank xsi:nil=\"true\" />\r\n    <NewPublicationItemID xsi:nil=\"true\"
        />\r\n    <IsObsolete>false</IsObsolete>\r\n    <CopyrightPublisher />\r\n
        \   <CopyrightCity />\r\n    <PublicationImpactFactorList>0.291,2013,ExactPublicationYear|0.374,2014,MostRecentYear</PublicationImpactFactorList>\r\n
        \   <PublicationCategoryRankingList>114/118;PEDIATRICS;2013;SC;ExactPublicationYear|116/119;PEDIATRICS;2014;SC;MostRecentYear</PublicationCategoryRankingList>\r\n
        \   <CopyrightStateProvince />\r\n    <CopyrightCountry>ARGENTINA</CopyrightCountry>\r\n
        \ </PublicationItem>\r\n</ArrayOfPublicationItem>"
  recorded_at: Fri, 15 Jul 2016 18:43:01 GMT
recorded_with: VCR 3.0.1
