---
http_interactions:
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Settings.WOS.AUTH_CODE
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WOKMWSAuthenticateService" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com" targetNamespace="http://auth.cxf.wokmws.thomsonreuters.com" version="1.0">
        <xs:element name="AuthenticationException" type="tns:AuthenticationException"/>
        <xs:element name="ESTIWSException" type="tns:ESTIWSException"/>
        <xs:element name="InternalServerException" type="tns:InternalServerException"/>
        <xs:element name="InvalidInputException" type="tns:InvalidInputException"/>
        <xs:element name="QueryException" type="tns:QueryException"/>
        <xs:element name="SessionException" type="tns:SessionException"/>
        <xs:element name="authenticate" type="tns:authenticate"/>
        <xs:element name="authenticateResponse" type="tns:authenticateResponse"/>
        <xs:element name="closeSession" type="tns:closeSession"/>
        <xs:element name="closeSessionResponse" type="tns:closeSessionResponse"/>
        <xs:complexType name="closeSession">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="closeSessionResponse">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="QueryException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="ESTIWSException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InvalidInputException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="InternalServerException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="SessionException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="AuthenticationException">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticate">
            <xs:sequence/>
          </xs:complexType>
        <xs:complexType name="authenticateResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="return" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:schema>
          </wsdl:types>
          <wsdl:message name="closeSession">
            <wsdl:part element="tns:closeSession" name="parameters">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="QueryException_Exception">
            <wsdl:part element="tns:QueryException" name="QueryException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsdl:message name="ESTIWSException_Exception">
            <wsdl:part element="tns:ESTIWSException" name="ESTIWSException_Exception">
            </wsdl:part>
          </wsdl:message>
          <wsd[...]
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://auth.cxf.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:authenticate></tns:authenticate></soapenv:Body></soapenv:Envelope>
    headers:
      Authorization:
      - Basic Settings.WOS.AUTH_CODE
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:authenticateResponse
        xmlns:ns2="http://auth.cxf.wokmws.thomsonreuters.com"><return>8Bvvo8WqrzkbWr5pJLD</return></ns2:authenticateResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 21 Mar 2019 20:41:22 GMT
- request:
    method: get
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/[...]
- request:
    method: post
    uri: http://search.webofknowledge.com/esti/wokmws/ws/WokSearch
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:search><queryParameters><databaseId>WOK</databaseId><userQuery>TI=&quot;pathological&quot;</userQuery><queryLanguage>en</queryLanguage></queryParameters><retrieveParameters><firstRecord>1</firstRecord><count>100</count><option><key>RecordIDs</key><value>On</value></option><option><key>targetNamespace</key><value>http://scientific.thomsonreuters.com/schema/wok5.4/public/FullRecord</value></option></retrieveParameters></tns:search></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - ''
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:searchResponse
        xmlns:ns2="http://woksearch.v3.wokmws.thomsonreuters.com"><return><queryId>1</queryId><recordsFound>69149</recordsFound><recordsSearched>80925253</recordsSearched><optionValue><label>RecordIDs</label><value>WOS:A1976BL18100006</value><value>WOS:A1992KC98700001</value><value>WOS:A1960WX74200015</value><value>WOS:A1975AM73900010</value><value>WOS:000168414000005</value><value>WOS:000168414000004</value><value>WOS:A1995RZ39300004</value><value>WOS:A19667955400030</value><value>WOS:A19667227200016</value><value>MEDLINE:7220100</value><value>MEDLINE:25420381</value><value>WOS:000071643400008</value><value>MEDLINE:6544730</value><value>WOS:A1976BX64500005</value><value>WOS:A196137[...]
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=100&databaseId=WOS&firstRecord=1&usrQuery=TI=%22pathological%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Paginate-By-Query-Id:
      - https://wos-api.clarivate.com/api/wos/query/37?count=100&firstRecord=101&sortField=LD+D&optionView=FR
      X-Rec-Amtperyear-Remaining:
      - '47344'
      X-Req-Reqpersec-Remaining:
      - '1'
      Correlation-Id:
      - 9f86b6f7-87bd-4457-a30c-2b890464b7d4#59139098
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<response
        xmlns=\"http://www.isinet.com/xrpc42\">\n    <map>\n        <map name=\"Data\">\n
        \           <val name=\"Records\"><![CDATA[<records><REC r_id_disclaimer=\"ResearcherID
        data provided by Clarivate Analytics\"><UID>WOS:001003839500001</UID><static_data><summary><EWUID><WUID
        coll_id=\"WOS\" /><edition value=\"WOS.SCI\" /></EWUID><pub_info sortdate=\"2023-06-01\"
        pubyear=\"2023\" has_abstract=\"Y\" coverdate=\"JUN 2023\" pubmonth=\"JUN\"
        vol=\"246\" pubtype=\"Journal\" journal_oas_gold=\"N\"><page page_count=\"8\"
        /></pub_info><titles count=\"6\"><title type=\"source\">PHARMACOLOGY &amp;
        THERAPEUTICS</title><title type=\"source_abbrev\">PHARMACOL THERAPEUT</title><title
        type=\"abbrev_iso\">Pharmacol. Ther.</title><title type=\"abbrev_11\">PHARM
        THERA</title><title type=\"abbrev_29\">PHARMACOL THER</title><title type=\"item\">Lysophospholipids
        and their producing enzymes: Their pathological roles and potential as pathological
        biomarkers</title></titles><names count=\"4\"><name seq_no=\"1\" role=\"author\"
        addr_no=\"1\"><display_name>Yaginuma, Shun</display_name><full_name>Yaginuma,
        Shun</full_name><wos_standard>Yaginuma, S</wos_standard><first_name>Shun</first_name><last_name>Yaginuma</last_name></name><name
        seq_no=\"2\" role=\"author\" addr_no=\"1\"><display_name>Omi, Jumpei</display_name><full_name>Omi,
        Jumpei</full_name><wos_standard>Omi, J</wos_standard><first_name>Jumpei</first_name><last_name>Omi</last_name></name><name
        seq_no=\"3\" role=\"author\" addr_no=\"1\"><display_name>Kano, Kuniyuki</display_name><full_name>Kano,
        Kuniyuki</full_name><wos_standard>Kano, K</wos_standard><first_name>Kuniyuki</first_name><last_name>Kano</last_name></name><name
        seq_no=\"4\" role=\"author\" reprint=\"Y\" addr_no=\"1 2\"><display_name>Aoki,
        Junken</display_name><full_name>Aoki, Junken</full_name><wos_standard>Aoki,
        J</wos_standard><first_name>Junken</first_name><last_name>Aoki</last_name></name></names><doctypes
        count=\"1\"><doctype>Review</doctype></doctypes><publishers><publisher><address_spec
        addr_no=\"1\"><full_address>THE BOULEVARD, LANGFORD LANE, KIDLINGTON, OXFORD
        OX5 1GB, ENGLAND</full_address><city>OXFORD</city></address_spec><names count=\"1\"><name
        role=\"publisher\" seq_no=\"1\" addr_no=\"1\"><display_name>PERGAMON-ELSEVIER
        SCIENCE LTD</display_name><full_name>PERGAMON-ELSEVIER SCIENCE LTD</full_name><unified_name>Elsevier</unified_name></name></names></publisher></publishers></summary><fullrecord_metadata><languages
        count=\"1\"><language type=\"primary\">English</language></languages><normalized_languages
        count=\"1\"><language type=\"primary\">English</language></normalized_languages><normalized_doctypes
        count=\"1\"><doctype>Review</doctype></normalized_doctypes><refs count=\"74\"
        /><addresses count=\"2\"><address_name><address_spec addr_no=\"1\"><full_address>Univ
        Tokyo, Grad Sch Pharmaceut Sci, Dept Hlth Chem, Tokyo, Japan</full_address><organizations
        count=\"2\"><organization pref=\"null\">Univ Tokyo</organization><organization
        pref=\"Y\">University of Tokyo</organization></organizations><suborganizations
        count=\"2\"><suborganization>Grad Sch Pharmaceut Sci</suborganization><suborganization>Dept
        Hlth Chem</suborganization></suborganizations><city>Tokyo</city><country>Japan</country></address_spec><names
        count=\"4\"><name seq_no=\"1\" role=\"author\" addr_no=\"1\"><display_name>Yaginuma,
        Shun</display_name><full_name>Yaginuma, Shun</full_name><wos_standard>Yaginuma,
        S</wos_standard><first_name>Shun</first_name><last_name>Yaginuma</last_name></name><name
        seq_no=\"2\" role=\"author\" addr_no=\"1\"><display_name>Omi, Jumpei</display_name><full_name>Omi,
        Jumpei</full_name><wos_standard>Omi, J</wos_standard><first_name>Jumpei</first_name><last_name>Omi</last_name></name><name
        seq_no=\"3\" role=\"author\" addr_no=\"1\"><display_name>Kano, Kuniyuki</display_name><full_name>Kano,
        Kuniyuki</full_name><wos_standard>Kano, K</wos_standard><first_name>Kuniyuki</first_name><last_name>Kano</last_name></name><name
        seq_no=\"4\" role=\"author\" reprint=\"Y\" addr_no=\"1\"><display_name>Aoki,
        Junken</display_name><full_name>Aoki, Junken</full_name><wos_standard>Aoki,
        J</wos_standard><first_name>Junken</first_name><last_name>Aoki</last_name></name></names></address_name><address_name><address_spec
        addr_no=\"2\"><full_address>7-3-1 Hongo,Bunkyo Ku, Tokyo 1130033, Japan</full_address><street>7-3-1
        Hongo,Bunkyo Ku</street><city>Tokyo</city><country>Japan</country><zip location=\"AC\">1130033</zip></address_spec><names
        count=\"1\"><name seq_no=\"4\" role=\"author\" reprint=\"Y\" addr_no=\"2\"><display_name>Aoki,
        Junken</display_name><full_name>Aoki, Junken</full_name><wos_standard>Aoki,
        J</wos_standard><first_name>Junken</first_name><last_name>Aoki</last_name></name></names></address_name></addresses><reprint_addresses
        count=\"1\"><address_name><address_spec addr_no=\"1\"><full_address>7-3-1
        Hongo,Bunkyo Ku, Tokyo 1130033, Japan</full_address><street>7-3-1 Hongo,Bunkyo
        Ku</street><city>Tokyo</city><country>Japan</country><zip location=\"AC\">1130033</zip></address_spec><names
        count=\"1\"><name seq_no=\"1\" role=\"author\" reprint=\"Y\" addr_no=\"1\"><display_name>Aoki,
        Junken</display_name><full_name>Aoki, Junken</full_name><wos_standard>Aoki,
        J</wos_standard><first_name>Junken</first_name><last_name>Aoki</last_name></name></names></address_name></reprint_addresses><category_info><headings
        count=\"1\"><heading>Science &amp; Technology</heading></headings><subheadings
        count=\"1\"><subheading>Life Sciences &amp; Biomedicine</subheading></subheadings><subjects
        count=\"2\"><subject ascatype=\"traditional\" code=\"TU\">Pharmacology &amp;
        Pharmacy</subject><subject ascatype=\"extended\">Pharmacology &amp; Pharmacy</subject></subjects></category_info><fund_ack><fund_text><p>The
        authors (S.Y., J.O., K.K. and J.A.) declare no conflicts of interest associated
        with this manuscript. The current study was partly supported by AMED-LEAP
        (grant No. 21gm0010004h9905) and KAKENHI (grant No. 22H00438) for J.A.</p></fund_text><grants
        count=\"2\"><grant><grant_agency>AMED-LEAP</grant_agency><grant_ids count=\"1\"><grant_id>21gm0010004h9905</grant_id></grant_ids><grant_agency_names
        pref=\"N\" content=\"AMED-LEAP\" /></grant><grant><grant_agency>KAKENHI</grant_agency><grant_ids
        count=\"1\"><grant_id>22H00438</grant_id></grant_ids><grant_agency_names pref=\"Y\"
        content=\"Ministry of Education, Culture, Sports, Science and Technology,
        Japan (MEXT)\" /><grant_agency_names pref=\"Y\" content=\"Japan Society for
        the Promotion of Science\" /><grant_agency_names pref=\"Y\" content=\"Grants-in-Aid
        for Scientific Research (KAKENHI)\" /><grant_agency_names pref=\"N\" content=\"KAKENHI\"
        /></grant></grants></fund_ack><keywords count=\"7\"><keyword>Lysophospholipids</keyword><keyword>G
        protein-coupled receptor</keyword><keyword>Lysophosphatidic acid</keyword><keyword>Sphingosine
        1-phosphate</keyword><keyword>Lysophosphatidylinositol</keyword><keyword>Lysophosphatidylserine</keyword><keyword>LC-MS</keyword></keywords><abstracts
        count=\"1\"><abstract><abstract_text count=\"1\"><p>Accumulating evidence
        suggests that lysophospholipids (LPL) serve as lipid mediators that exert
        their diverse pathophysiological functions via G protein-coupled receptors.
        These include lysophosphatidic acid (LPA), sphin-gosine 1-phosphate (S1P),
        lysophosphatidylserine (LysoPS) and lysophosphatidylinositol (LPI). Unlike
        S1P, which is produced intracellularly and secreted from various cell types,
        some LPLs, such as LPA, LysoPS and LPI[...]
