---
http_interactions:
- request:
    method: post
    uri: https://sandbox.orcid.org/oauth/token
    body:
      encoding: UTF-8
      string: client_id=Settings.ORCID.CLIENT_ID&client_secret=Settings.ORCID.CLIENT_SECRET&grant_type=client_credentials&scope=%2Fread-public
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"private_access_token","token_type":"bearer","refresh_token":"refresh_token","expires_in":631138518,"scope":"/read-public","orcid":null}'
  recorded_at: Tue, 10 Aug 2021 21:25:07 GMT
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v3.0/search/?q=test&rows=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":[{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0001-6458-199X","path":"0000-0001-6458-199X","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0002-8668-6706","path":"0000-0002-8668-6706","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0002-5925-6081","path":"0000-0002-5925-6081","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0001-5216-6617","path":"0000-0001-5216-6617","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0002-7771-1623","pat[...]
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v3.0/search/?q=test&rows=1000&start=1001
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":[{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0002-8528-2152","path":"0000-0[...]
[...]
