---
http_interactions:
- request:
    method: post
    uri: https://sandbox.orcid.org/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=%2Fread-public
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QVBQLUszWDFHVk1TOUJRMUNIT1I6YmEwZTRiNTktOThhNS00ZTVjLThmMDItM2U5NzNjYzQzM2M5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"private_access_token","token_type":"bearer","refresh_token":"refresh_token","expires_in":631138518,"scope":"/read-public","orcid":null}'
  recorded_at: Wed, 12 Apr 2023 21:28:26 GMT
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v3.0/expanded-search/?q=(ringgold-org-id:6429)&rows=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"expanded-result":[{"orcid-id":"0000-0003-4722-8312","given-names":"Albert","family-names":"Chan","credit-name":null,"other-name":[],"email":[],"institution-name":["Harvard
        Community Unit School District 50","Hong Kong Disneyland","Stanford University","University
        of Cambridge"]},{"orcid-id":"0000-0002-0418-4885","given-names":"Cornelius","family-names":"Jones","credit-name":null,"other-name":[],"email":["cornelius.jones.the.third@mailinator.com"],"institution-name":["Stanford
        University","University of California Berkeley"]},{"orcid-id":"0000-0003-4566-7821","given-names":"Johnny","family-names":"Depp","credit-name":"Deppy
       [...]
