---
http_interactions:
- request:
    method: post
    uri: https://sandbox.orcid.org/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=%2Fread-public
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QVBQLUszWDFHVk1TOUJRMUNIT1I6YmEwZTRiNTktOThhNS00ZTVjLThmMDItM2U5NzNjYzQzM2M5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"private_access_token","token_type":"bearer","refresh_token":"refresh_token","expires_in":631138518,"scope":"/read-public","orcid":null}'
  recorded_at: Wed, 12 Apr 2023 22:13:28 GMT
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v3.0/expanded-search/?q=test&rows=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"expanded-result\":[{\"orcid-id\":\"0000-0001-6458-199X\",\"given-names\":\"Neala\",\"family-names\":\"Barwise-Smith\",\"credit-name\":\"Neala
        Barwise-Smith\",\"other-name\":[],\"email\":[],\"institution-name\":[]},{\"orcid-id\":\"0000-0002-5925-6081\",\"given-names\":\"Penn\",\"family-names\":\"Team\",\"credit-name\":null,\"other-name\":[\"Tester\"],\"email\":[],\"institution-name\":[\"test\"]},{\"orcid-id\":\"0000-0002-8668-6706\",\"given-names\":\"Clayton\",\"family-names\":\"TestPowell\",\"credit-name\":null,\"other-name\":[],\"email\":[],\"institution-name\":[]},{\"orcid-id\":\"0000-0001-5216-6617\",\"given-names\":\"Test\",\"family-names\":\"Test\",\"credit-name\":null,\"other-name\":[],\"email\"[...]
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v3.0/expanded-search/?q=test&rows=1000&start=1001
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"expanded-result\":[{\"orcid-id\":\"0000-0002-6885-4032\",\"given-names\":\"David\",\"[...]
[...]
