---
http_interactions:
- request:
    method: post
    uri: https://sandbox.orcid.org/oauth/token
    body:
      encoding: UTF-8
      string: client_id=Settings.ORCID.CLIENT_ID&client_secret=Settings.ORCID.CLIENT_SECRET&grant_type=client_credentials&scope=%2Fread-public
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"private_access_token","token_type":"bearer","refresh_token":"refresh_token","expires_in":631138518,"scope":"/read-public","orcid":null}'
  recorded_at: Tue, 10 Aug 2021 21:20:45 GMT
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v3.0/search/?q=(ringgold-org-id:6429)&rows=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":[{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0002-6079-7715","path":"0000-0002-6079-7715","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0002-6203-8413","path":"0000-0002-6203-8413","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0002-0418-4885","path":"0000-0002-0418-4885","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0003-4722-8312","path":"0000-0003-4722-8312","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0003-4566-7821","path":"0000-0003-4566-7821","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"https://sandbox.orcid.org/0000-0003-0525-7799","path":"0000-0003-0525-7799","host":"sandbox.orcid.org"}}],"num-found":6}'
  recorded_at: Tue, 10 Aug 2021 21:20:45 GMT
recorded_with: VCR 6.0.0
