---
http_interactions:
- request:
    method: get
    uri: https://pub.sandbox.orcid.org/v3.0/0000-0002-2230-4756/personal-details
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last-modified-date":{"value":1628628312408},"name":{"created-date":{"value":1619628457183},"last-modified-date":{"value":1628628312408},"given-names":{"value":"Peter"},"family-name":{"value":"Test"},"credit-name":null,"source":null,"visibility":"public","path":"0000-0002-2230-4756"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0002-2230-4756/other-names"},"biography":null,"path":"/0000-0002-2230-4756/personal-details"}'
  recorded_at: Tue, 10 Aug 2021 20:45:47 GMT
- request:
    method: get
    uri: https://pub.sandbox.orcid.org/v3.0/0000-0002-2230-4756/personal-details
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last-modified-date":{"value":1628628312408},"name":{"created-date":{"value":1619628457183},"last-modified-date":{"value":1628628312408},"given-names":{"value":"Peter"},"family-name":{"value":"Test"},"credit-name":null,"source":null,"visibility":"public","path":"0000-0002-2230-4756"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0002-2230-4756/other-names"},"biography":null,"path":"/0000-0002-2230-4756/personal-details"}'
  recorded_at: Tue, 10 Aug 2021 20:46:36 GMT
recorded_with: VCR 6.0.0
