---
http_interactions:
- request:
    method: post
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery?format=xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
              <ScienceWireQueryXMLParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <xmlQuery>&lt;query xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
                      &lt;Criterion ConjunctionOperator="AND"&gt;
                        &lt;Criteria&gt;
                          &lt;Criterion&gt;
                            &lt;Filter&gt;
                              &lt;Column&gt;PMID&lt;/Column&gt;
                              &lt;Operator&gt;In&lt;/Operator&gt;
                              &lt;Values&gt;&lt;Value&gt;99999999&lt;/Value&gt;&lt;/Values&gt;
                                    &lt;/Filter&gt;
                                  &lt;/Criterion&gt;
                                &lt;/Criteria&gt;
                              &lt;/Criterion&gt;
                              &lt;Columns&gt;
                                &lt;SortColumn&gt;
                                  &lt;Column&gt;Rank&lt;/Column&gt;
                                  &lt;Direction&gt;Descending&lt;/Direction&gt;
                                &lt;/SortColumn&gt;
                              &lt;/Columns&gt;
                              &lt;MaximumRows&gt;1000&lt;/MaximumRows&gt;
                            &lt;/query&gt;</xmlQuery>
              </ScienceWireQueryXMLParameter>
    headers:
      Licenseid:
      - some-license-id
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ScienceWireQueryIDResponse xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <queryID>143802</queryID>\r\n
        \ <queryResultRows>0</queryResultRows>\r\n  <totalRows>0</totalRows>\r\n</ScienceWireQueryIDResponse>"
  recorded_at: Tue, 29 Mar 2016 01:16:30 GMT
- request:
    method: get
    uri: https://sciencewirerest.discoverylogic.com/PublicationCatalog/PublicationQuery/143802?format=xml&page=0&pageSize=2147483647&v=version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Licenseid:
      - some-license-id
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<ArrayOfPublicationItem xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" />"
  recorded_at: Tue, 29 Mar 2016 01:16:31 GMT
- request:
    method: post
    uri: http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml
    body:
      encoding: UTF-8
      string: "&id=99999999"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ncbi-Sid:
      - 73BF675B6F9D76F1_0137SID
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January 2016//EN" "http://www.ncbi.nlm.nih.gov/corehtml/query/DTD/pubmed_160101.dtd">
        <PubmedArticleSet>
        </PubmedArticleSet>
  recorded_at: Tue, 29 Mar 2016 01:16:31 GMT
recorded_with: VCR 2.9.3
