---
http_interactions:
- request:
    method: get
    uri: https://authz.stanford.edu/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Settings.CAP.TOKEN_USER:Settings.CAP.TOKEN_PASS
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"bearer","expires_in":86399,"scope":"profiles.read_all","jti":"87190b80-cac0-44f3-803e-651c27c84d05"}'
  recorded_at: Fri, 15 Dec 2017 20:40:50 GMT
- request:
    method: get
    uri: https://cap-uat.stanford.edu/cap-api/api/cap/v1/authors/9957
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"active":true,"authorModifiedOn":"2017-12-07T11:43:45.000-08:00","authorship":[{"featured":false,"status":"approved","sulPublicationId":59096,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":66471,"visibility":"public"},{"featured":false,"status":"approved","sulPublicationId":132555,"visibility":"public"},{"featured":false,"status":"unknown","sulPublicationId":101436,"visibility":"public"},{"featured":false,"status":"unknown","sulPublicationId":91268,"visibility":"public"},{"featured":true,"status":"approved","sulPublicationId":50103,"visibility":"public"},{"featured":false,"status":"unknown","sulPublicationId":56895[...]
