---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=0&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '4723700'
      X-Req-Reqpersec-Remaining:
      - '24'
      Correlation-Id:
      - 5a2ea72a-613d-42ea-94c1-1295498d7812#14380877
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">554</val>
                        <val name="RecordsSearched">1153349</val>
                        <val name="RecordsFound">2</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Tue, 10 Feb 2026 18:22:37 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/554?count=75&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 2002031d-1688-40ac-a9c1-9ce3e7a52432#14311809
    body:
      encoding: ASCII-8BIT
      string: '["WOS:001528787300001","WOS:001517877600001"]'
  recorded_at: Tue, 10 Feb 2026 18:22:37 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/554?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 5f7faaf2-d21a-45ab-a031-869dbcc461e7#14806184
    body:
      encoding: ASCII-8BIT
      string: '["WOS:001528787300001","WOS:001517877600001"]'
  recorded_at: Tue, 10 Feb 2026 20:52:38 GMT
recorded_with: VCR 6.4.0
