---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=RID=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '48753'
      X-Req-Reqpersec-Remaining:
      - '1'
      Correlation-Id:
      - 9f86b6f7-87bd-4457-a30c-2b890464b7d4#59111350
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">12</val>
                        <val name="RecordsSearched">919348</val>
                        <val name="RecordsFound">0</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Wed, 21 Jun 2023 19:36:56 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '46494'
      X-Req-Reqpersec-Remaining:
      - '1'
      Correlation-Id:
      - '0219fb59-195d-492f-8367-58a68cc49ed1#973492'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">22</val>
                        <val name="RecordsSearched">910776</val>
                        <val name="RecordsFound">0</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Thu, 22 Jun 2023 19:38:09 GMT
recorded_with: VCR 6.1.0
