---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=0&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '1952242'
      X-Req-Reqpersec-Remaining:
      - '23'
      Correlation-Id:
      - 06112123-c2cd-462d-a214-266034f0c849#49973709
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">963</val>
                        <val name="RecordsSearched">632858</val>
                        <val name="RecordsFound">1</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Tue, 31 Oct 2023 18:01:32 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/963?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 06112123-c2cd-462d-a214-266034f0c849#49973721
    body:
      encoding: UTF-8
      string: '["WOS:001064713900001"]'
  recorded_at: Tue, 31 Oct 2023 18:01:32 GMT
recorded_with: VCR 6.2.0
