---
http_interactions:
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=RID=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '48753'
      X-Req-Reqpersec-Remaining:
      - '1'
      Correlation-Id:
      - 9f86b6f7-87bd-4457-a30c-2b890464b7d4#59111350
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">12</val>
                        <val name="RecordsSearched">919348</val>
                        <val name="RecordsFound">0</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Wed, 21 Jun 2023 19:36:56 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '46494'
      X-Req-Reqpersec-Remaining:
      - '1'
      Correlation-Id:
      - '0219fb59-195d-492f-8367-58a68cc49ed1#973492'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">22</val>
                        <val name="RecordsSearched">910776</val>
                        <val name="RecordsFound">0</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Thu, 22 Jun 2023 19:38:09 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/?count=0&databaseId=WOK&firstRecord=1&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Rec-Amtperyear-Remaining:
      - '2095835'
      X-Req-Reqpersec-Remaining:
      - '24'
      Correlation-Id:
      - 8cd5e0b0-d74e-4d39-945c-153bb8611ed1#8962329
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <response xmlns="http://www.isinet.com/xrpc42">
            <map>
                <map name="Data">
                    <val name="Records"><![CDATA[<records></records>]]></val>
                </map>
                <map name="QueryResult">
                    <map>
                        <val name="QueryID">1519</val>
                        <val name="RecordsSearched">100852250</val>
                        <val name="RecordsFound">168</val>
                    </map>
                </map>
            </map>
        </response>
  recorded_at: Thu, 19 Oct 2023 22:24:52 GMT
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/1519?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - dd6cee7a-60c3-4cee-b6b8-c975976a062d#8872234
    body:
     [...]
[...]
- request:
    method: get
    uri: https://wos-api.clarivate.com/api/wos/recordids/1542?count=100&databaseId=WOK&firstRecord=1&loadTimeSpan=4W&usrQuery=AI=(%220000-0003-3859-2905%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - Settings.WOS.API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 9fe11142-6133-4f29-82cc-3a9932f07ab3#8992683
    body:
      encoding: UTF-8
      string: '["WOS:001068887100001","WOS:001064713900001"]'
  recorded_at: Thu, 19 Oct 2023 23:12:00 GMT
recorded_with: VCR 6.2.0
