<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav class="brand">
      <%= link_to image_tag("http://searchworks.stanford.edu/assets/sul_logo-8040e3edbeb47ca2e0caaffd363fd438.png", alt: "SUL"), 'http://library.stanford.edu/' %>
    </nav>
      <!-- <%= link_to "SUL Publications Server", '#', id: "logo" %> -->
     <!-- <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Main Page",    root_path %></li>
        </ul>
      </nav>-->
    </div>
  </div>
</header>